[2014-04-19 03:13] davidkhess opened #726 "Exception when invalid HTTP method is received"
[code]

This exception can occur if an invalid HTTP method is received. When this case happens, the gevent WSGIHandler superclass doesn't set the environ attribute before eventually calling self.log_request. (It happened to be in conjunction with gevent-socketio, but I think it's a general problem.)

Not sure what the fix should be. Clearly need to check for the presence of the environ attribute b

[2014-04-25 16:33] andr0s opened #729 "gunicorn_django reload ate 2 hours of my life"
PIP's standard gunicorn v. 18.

Tried to reload gunicorn to apply new code changes and finally got some kind of a nightmare. You know, there are already a lot of opened and closed (?) issues about reloading, but... wtf?!! Tried killing all processes, only master, -9, -USR2, removing and reinstalling gunicorn, restarting nginx, and many other things. Nothing worked. That must be a black magic, I th

[2014-04-26 21:36] #729 closed, assigned to nobody

[2014-04-28 20:41] leahoswald opened #730 "Add an on_exit Hook"
It would be useful to have an on_exit hook to do some cleanup before finally exiting. So this hook would be an addition to the existing on_startup and on_reload hooks.

[2014-04-29 01:40] dwagon opened #731 "Umask on daemon mode can create world writable directories"
The `umask(0)` in the `util.py/daemonize()` function means that it will create a world writable `__pycache__` directory when it is first runs.

[2014-05-02 11:53] akaihola opened #733 "Strange exception handler in `reap_workers()`"
While reading through the source of gunicorn, I noticed that in [reap_workers()](https://github.com/benoitc/gunicorn/blob/02b866f08a7f847cdd7f27975010a6f47d191f76/gunicorn/arbiter.py#L435), the exception handler checks for a specific `errno` without changing its behavior depending on the result:

[code]

If I'm not mistaken, this will always continue without re-raising the exception, regardless of

[2014-05-04 03:42] pengfei-xue opened #734 "got 504 when running multiple Gunicorn instances"
Hi,

Not sure if this issue has been found before, but i got this for my deployment using supervisord and gunicorn for two django sites within one server. I'm sure my nginx configuration and gunicorn configuration is correct(different server name, different port).

supervisord==3.0b1
gunicorn==18.0
Django==1.6.2

Only one Django site can run, the other only can get request for nginx, but no respon

[2014-05-06 00:55] ghost opened #735 "Environmental variables not available during '--preload' application start up"
Environmental variables set through Gunicorn via the '-e' CLI flag or the 'raw_env' configuration setting are not available during application start up when the application uses the '--preload' flag.

An example program to demonstrate this (using Flask 0.10.1 and Gunicorn 18.0) is here:

https://gist.github.com/tshlabs/eb59186648fd003bf28c

The output from this is the following:

[code]

However,

[2014-05-07 16:35] mmerickel opened #737 "the paste.app_factory entry point should be removed"
Basically, related to https://github.com/Pylons/pyramid/issues/1125, the entry point is not reliable and to avoid problems it should not be supported by gunicorn. The monkey patching does not happen early enough in the app startup when `pserve` is used, causing very subtle errors with the threadlocals. AFAIK this is not a problem with the sync worker.

[2014-05-08 03:38] #733 closed, assigned to nobody

[2014-05-13 08:14] abhinavsingh opened #742 "Gunicorn with Gevent stalls when restarted after upgrading to v18.0"
Took some time to put this up after our twitter discussion.

We are using gunicorn since about ~2 years now and recently started to upgrade it to v18.0. Initially a colleague of mine reported gunicorn stalling on a CI setup of his. I was told that if he bombard ~100 requests to gunicorn, it starts to work (I didn't get what might be happening then).

However, soon enough when we upgraded on prodst

[2014-05-13 20:09] benoitc opened #743 "asyncio worker"
Create a worker using the asyncio API to handle a WSGI request.
## Features expected
- not blocking
- able to handle multiple concurrent request
- handle I/O in an asynchronous way minimising the memory usage.

related to #544

[2014-05-13 20:10] #544 closed, assigned to nobody

[2014-05-13 20:18] benoitc opened #744 "add flapping option"
#568 discussed the possibility to have an option to retry worker restart on failure. This could be done by adding a flapping option. Using this option it would be possible to set the number of allowed restart available in a time window before considering that the worker can't be booted.

Thoughts?

[2014-05-13 20:18] #568 closed, assigned to nobody

[2014-05-13 22:17] #735 closed, assigned to nobody

[2014-05-15 20:34] #737 closed, assigned to tilgovi

[2014-05-20 07:41] cclauss opened #758 "Installation section of docs needs more detail on Python3"
The [Installation section of the docs](http://docs.gunicorn.org/en/latest/install.html) says that Python 3 is supported but then under `Async Workers` recommends installing Eventlet or Gevent neither of which supports Python 3.  It would be good if this section discussed how to get great performance on Python 3.

[2014-05-21 06:04] Sarge2013 opened #759 "Feature start/stop gunicorn"
Hello to everyone !
I've seen that there are no options under
gunicorn -h
what allows to start/stop/restart a process like
gunicorn --start -w 4 -b 127.0.0.1:4000 -D application:application --max-requests 300
or
gunicorn --stop -w 4 -b 127.0.0.1:4000 -D application:application --max-requests 300

Is it possible to add as a feature ?
Or, may be, somebody knows how to set up this manually ?

Thanks

[2014-05-22 11:05] #759 closed, assigned to nobody

[2014-05-24 05:07] Sarge2013 opened #762 "Need a hint with supervisor.conf"
Hello !
May I ask a hint regarding supervisor.conf on
https://github.com/benoitc/gunicorn/blob/master/examples/supervisor.conf
I have install supervisor on CentOS 6.5 and now it can be started/stopped using
service supervisor stop/start/restart
as usual CENTOS service what reads every .conf under /etc/supervisord.d/
[include]
files = /etc/supervisord.d/*.conf

It looks simple, but I can't start gu

[2014-05-26 16:55] #762 closed, assigned to nobody

[2014-05-29 09:03] yuvadm opened #765 "Server hook for logging sync worker timeouts"
Per my question on Stack Overflow (https://stackoverflow.com/questions/23929511/logging-request-timeouts-on-django-gunicorn-heroku) -

What facility does Gunicorn provide for catching (and logging) sync worker timeouts? The documentation fails to mention anything that can be of use in this scenario.

[2014-06-01 08:12] #712 closed, assigned to nobody

[2014-06-01 08:13] #730 closed, assigned to nobody

[2014-06-01 17:19] #721 closed, assigned to nobody

[2014-06-01 21:37] #726 closed, assigned to nobody

[2014-06-01 21:42] benoitc opened #769 "document the gthread worker"
documentation should be added to the `design` page.

[2014-06-01 22:11] #765 closed, assigned to nobody

[2014-06-01 22:15] #704 closed, assigned to nobody

[2014-06-02 23:56] bdarnell opened #771 "Upcoming Tornado change breaks gunicorn.workers.gtornado"
The next release of Tornado (will be 4.0 when released, although the current master branch hasn't been updated to change all mentions of 3.3 to 4.0) makes some major changes to the HTTP internals and breaks gunicorn's monkey-patching of HTTPConnection.finish.  Fortunately, there is now a cleaner way to do the tracking that gunicorn wants to do here, since the interface between HTTPServer and Appli

[2014-06-04 15:52] tkornai opened #773 "Dump requests and stack traces on SIGILL"
This feature is intended to help analyse the state of gunicorn processes in a given point of time. This can come handy when dealing with performance issues.

A new signal handler for SIGILL would be introduced which triggers the status dump. When the signal is received workers dump their current requests with stack traces to the /tmp dir. If the signal is sent to the master it will broadcast it to

[2014-06-08 04:18] benoitc opened #776 "release notes for R19"
- sync all changes
- document the gthreaded and asyncio worker

[2014-06-09 16:42] asvetlov opened #777 "Change travis config to add aiohttp dependency for python 3 build"
For now travis skips gaiohttp tests because it doesn't install aiohttp library.

[2014-06-09 16:47] #777 closed, assigned to nobody

[2014-06-10 01:39] fillest opened #778 "Heavy memory consumption after updating 0.14.6-alpha -> 19.0.0"
Right now I'm running 0.14.6-alpha version on an Amazon Web Services instance. It has 7G total memory, about 3.8G of which is `used` (by `used` i mean `used total` minus `buffers/cache`, as observed in `free` and `htop`), mainly by an application running on gunicorn.
There is also an identical instance for testing. On this instance i updated gunicorn from 0.14.6-alpha to 19.0.0 (quite fresh from `

[2014-06-11 07:24] expntly opened #779 ""This event is already used by another greenlet" with mysql connector"
I use gunicorn 17.5 with worker_class="gevent", workers=3, that I start with gunicorn -c config.py my:app. The load is virtually zero.  I'm seeing the following:

[code]

I'm going to assume the above message means the same socket to the mysql server is being used by more than one greenlet at the same time?

A little bit of searching seems to suggest that I might be using some modules that are not

[2014-06-11 14:40] #778 closed, assigned to nobody

[2014-06-12 12:57] #776 closed, assigned to benoitc

[2014-06-12 13:01] #769 closed, assigned to nobody

[2014-06-12 13:01] benoitc opened #780 "19.1"
maintenance release
- add statd logger
- fixes
- improve documentation

[2014-06-12 13:03] #780 closed, assigned to nobody

[2014-06-12 13:06] #743 closed, assigned to benoitc

[2014-06-12 13:07] #758 closed, assigned to nobody

[2014-06-13 05:13] g-p-g opened #783 "gunicorn 19.0 broke the tornado worker"
After upgrading to gunicorn 19.0 the tornado worker which used to work with gunicorn 18.0 no longer does. It looks like the x_forwarded_for_header setting is no longer present in cfg (gunicorn.workers.gtornado.TornadoWorker @ run ~ line 95 or so), what's the expected way to use the new version?

[code]

[2014-06-13 08:28] diwu1989 opened #784 "Documentation on threads isn't clear whether it can be used with sync worker"
Is the new threads option equivalent to the threads option in uwsgi for sync worker process?

If I have n worker processes and m as the threads, does that mean I can handle n \* m number of concurrent requests?

In uwsgi, there's a thing called the thunder lock that is recommended when using multi-process with multi-threads, see http://uwsgi-docs.readthedocs.org/en/latest/articles/SerializingAccep

[2014-06-13 09:59] adontz opened #785 "gunicorn 19.0 broken under arch/nginx"
I have nginx (from pacman) under archlinux with the following config

[code]

gunicorn (from pip) is run as service with the following config

[code]

After upgrading to 19.0 I get the following error

[code]

simply downgrading to 18.0 helps.

If that matters gunicorn serves django web site.

[2014-06-13 11:23] #785 closed, assigned to nobody

[2014-06-14 01:28] #784 closed, assigned to nobody

[2014-06-14 05:02] #783 closed, assigned to nobody

[2014-06-14 07:19] dsoprea opened #787 "Configs now have to be named as proper Python modules"
Traditionally, I name my Gunicorn configuration files for the environment that they run in, such as _gunicorn.conf.dev_ or _gunicorn.conf.prod_. However, as of several hours ago, I started running into this:

[code]

I could only fix it by renaming the configuration file to gunicorn_conf_dev.py .

It looks like your change from:

https://github.com/benoitc/gunicorn/blob/2e84d68edbabbefa4be4d9b3812

[2014-06-14 08:10] hyao opened #788 "gaiohttpy.py invalid syntax warning (19.0.0)"
Thanks for the new release!

Just pip installed gunicorn 19.0.0, it installs all right, but there's the following warning during installation (Python 2.7.6):

[code]

Thanks,

[2014-06-14 19:13] dsoprea opened #790 "StopIteration Exceptions for Gevent worker"
I'm getting this, every time.

This is a test project that elicits the same result (it's a simple, unexceptional project using gevent). Traditionally, I don't use gevent workers. However, I did on a recent project, though I didn't see any errors until last night (which I can't explain).

Nginx:

[code]

Config:

[code]

Code:

[code]

Command-line:

[code]

Request:

[code]

Output:

[code]

Versi

[2014-06-14 19:47] #790 closed, assigned to nobody

[2014-06-14 19:50] benoitc opened #791 "add regression tests for the core."
we need to add regression tests for the workers and arbiter. I usually test everything, but since the team is growing we need them. It will prevent a lot of small issues introduced by some patches.

[2014-06-14 20:06] benoitc opened #792 "fix thundering herd"
Currently all workers are accepting in // with no dialog which make them sometimes accepting the same connection triggering EAGAIN and increasing the CPU usage for nothing.

While modern OSes have mostly fixed that it still can happen in Gunicorn since we can listen on multiple interface.
## Solution

The solution I see for that is to introduce some communication between the arbiter and the worker

[2014-06-16 18:56] ronsmith opened #796 "19.0 python3.4 environ['REMOTE_ADDR'] = client[0] IndexError: index out of range"
No code changes, just created new virtualenv with gunicorn 19.0 started getting this error in both Django and Flask applications.  I dropped back to version 18.0 and the problem went away.   Sorry I don't have more time to debug, just wanted to report in case others were having similar issue.

2014-06-16 12:17:56 [16051] [ERROR] Error handling request
Traceback (most recent call last):
  File "/op

[2014-06-16 19:02] #796 closed, assigned to nobody

[2014-06-16 19:53] #787 closed, assigned to nobody

[2014-06-18 14:52] jeroenp opened #797 "gunicorn 19.0: empty remote addr on unix domain socket?"
Hi,

I've just upgraded gunicorn 18.0 to 19.0. Now REMOTE_ADDR is an empty string, where before it listed the remote ip ("real ip").

Is that an intentional change?

My setup snippets:

gunicorn:

[code]

reverse proxy, nginx (1.4.1):

[code]

My Django says that request.META['REMOTE_ADDR'] == ""

[2014-06-18 21:51] dsoprea opened #798 "Unexplainable Gunicorn Request Failure"
Because there haven't been any releases with the config-name fix, I was forced to rename my configurations to ".py", and update my production with *master*. It was working. However, today I started seeing this in production, where things weren't working at all:

[code]

I believe it *was* working, but nothing has changed.

I was forced to keep all of my renamed configuration (renamed to ".py"), ha

[2014-06-22 08:01] benoitc opened #800 "switch order when loading the config"
#799 introduced the possibility to load the config from a python module. It is doing it  by trying to load the config first from the module then from the file. But we should do the reverse. ie. by  loading from the file first.

[2014-06-22 21:21] oiwn opened #802 "Django 1.6 + Gunicorn 19.0.0 (OSX)"
Not able to run django project using guncorn 19.0.0

[code]

Gunicorn 18.0.0 works perfectly.

[code]

[2014-06-23 17:44] #788 closed, assigned to nobody

[2014-06-23 20:56] asvetlov opened #803 "support for django apps in gaiohttp"
The source of the issue is  #788
@benoitc @fafhrd91 @c-schmitt we can discuss it here.
I still did not dig into .read(n) problem hard enough, sorry.

We can create an asyncio.Task for fetching data from input and return collected data as .read(n) result, isn't it?

[2014-06-24 03:14] lame opened #804 "Multiple workers creating form post issues"
When I run my Flask website using "gunicorn -w 4 run:app", some strange issues occur with form submission. An example of which would be for my login portion, the user has to submit the same login credentials 3 times for the form to properly submit, and similar issues would happen on other pages as well. However, if gunicorn is run "gunicorn run:app", these issues do not arise.

[2014-06-26 19:30] davisp opened #805 "Fix utils.is_fileobj for streaming responses from requests"
Turns out that the utils.is_fileobj breaks for streamed responses from the requests library due to how we check for a fileno() function and the exception raised by urllib3.

https://github.com/benoitc/gunicorn/blob/19.0/gunicorn/util.py#L511-L521
https://github.com/kennethreitz/requests/blob/v2.3.0/requests/packages/urllib3/response.py#L294-L301

Obvious fix is to add the IOError type to the excep

[2014-06-26 20:19] #805 closed, assigned to nobody

[2014-06-28 14:42] #803 closed, assigned to nobody

[2014-06-28 14:44] benoitc opened #808 "stream input in gaiohttp"
In #803 the gaiohttp worker has been edited to preload all the body in memory before returning the environ to the WSGI app. We should fix this behaviour asap and make sure that the body is always streamed there so we don't overuse the memory.

cc @asvetlov @fafhrd91

[2014-06-28 14:54] #800 closed, assigned to nobody

[2014-06-29 20:17] chasrmartin opened #810 "Syntax error with pip install gunicorn"
Instalkling as below:

[code]

Here's the error:

[code]

This is Mac OS/X software description below:

[code]

[2014-06-29 20:19] #810 closed, assigned to nobody

[2014-07-01 11:48] JohnHerry opened #811 "How to prevent SIGWINCH?"
Hi, I use gunicorn to start a new app. but after a while the master will use SIGWINCH to kill the worker, and as a result, I can not access the page any more. Is there any way to ignore WINCH  signal in worker?

[2014-07-02 02:03] #811 closed, assigned to nobody

[2014-07-05 23:07] SalahAdDin opened #814 "Problem with install in python3.4.0"
I have this warnings in python 3.4.0, is the next:

(IspanyolHaber)tulipan@tulipanSatelliteM645:~/Proyectos/IspanyolHaber/tiempoTurco$ pip install gunicorn
Downloading/unpacking gunicorn
  Downloading gunicorn-19.0.0.tar.gz (382kB): 382kB downloaded
  Running setup.py (path:/home/tulipan/Proyectos/IspanyolHaber/build/gunicorn/setup.py) egg_info for package gunicorn

[code]

Installing collected pa

[2014-07-08 03:39] glarrain opened #815 "Wrong args validation in WSGIApplication.init"
(This bit me today)

In `gunicorn.app.wsgiapp.WSGIApplication.init` (line 34), if `args` has length different than one (instead of less than one), a parser error is triggered with a misleading message, aborting execution.

[code]

IMHO (although I don't know much of gunicorn itself) it should be `if len(args) < 1` instead of `if len(args) != 1`.

[2014-07-09 06:22] #779 closed, assigned to nobody

[2014-07-09 18:48] #814 closed, assigned to nobody

[2014-07-12 07:11] sontek opened #816 "gunicorn 19.0 threaded worker raises exceptions on start"
[code]

[2014-07-13 04:25] #816 closed, assigned to nobody

[2014-07-14 08:31] shashank9487 opened #818 "Error handling request while parsing request using flask and gunicorn"
I got this error logs in my error log file. What does this mean, my all request are dropped or what?

Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/gunicorn/workers/async.py", line 116, in handle_request
    raise StopIteration()
StopIteration
2014-07-14 08:30:29 [1833] [ERROR] Error handling request
Traceback (most recent call last):
  File "/usr/local/lib/pyth

[2014-07-16 09:28] proofit404 opened #819 "Cant install gunicorn 19.0.0"
This is output of `pip install gunicorn`:

[code]

[2014-07-16 09:58] #819 closed, assigned to nobody

[2014-07-16 17:02] irachex opened #820 "gunicorn.workers.async.ALREADY_HANDLED should be iterable to compatible with other WSGI middlerwares"
I'm using [sentry/raven-python](https://github.com/getsentry/raven-python) as a WSGI middlewares to collect exceptions. However, raven will raise a exception since `ALREADY_HANDLED` is not iterable

TypeError 'object' object is not iterable raven/middleware.py in **call** , line 41

[2014-07-19 13:01] ghost opened #822 "A TypeError is raised at startup if we bind to a unix socket with the gaiohttp worker."
A TypeError is raised continuously as soon as we launch gunicorn, if we bind it to a unix socket, when we use the gaiohttp worker class.

---

Minimal test:

[code]

[code]

Traceback (repeated many times):

[code]

---

Tested with gunicorn 19.0.0 and 1584023731a7fe13507583fae9d2ba2afe243909

[2014-07-23 09:13] #820 closed, assigned to nobody

[2014-07-24 14:29] jajadinimueter opened #824 "paste_server deprecation warning"
Hi

This is more a question than an issue. But I get this deprecation warning when using paste_server:

<pre>
This command is deprecated.
You should now use the `--paste` option. Ex.:
gunicorn --paste development.ini
</pre>

This is good. But do you already know, when the feature wont be supported anymore? Do I have to worry the server does not start with version 20.0.0?

[2014-07-24 20:20] diwu1989 opened #825 "Ability to mask the http response header Server attribute"
Right now, all responses have the http header
server: gunicorn/19.0.0

For security reasons, I would like to be able to mask that so that people won't know to search for security vulnerabilities in gunicorn. Is there any way to mask it? via a setting perhaps?

[2014-07-25 08:26] #815 closed, assigned to nobody

[2014-07-26 07:11] #824 closed, assigned to nobody

[2014-07-26 08:26] #802 closed, assigned to nobody

[2014-07-26 09:42] #771 closed, assigned to benoitc

[2014-07-26 09:43] #742 closed, assigned to nobody

[2014-07-26 09:57] #822 closed, assigned to asvetlov

[2014-07-26 10:10] #818 closed, assigned to nobody

[2014-07-26 17:10] R4c00n opened #827 "Can't start gunicorn"
Hi,
I followed the quickstart guide to start gunicorn, but nothing happens after I execute "../bin/gunicorn -w 4 myapp:app"

Gunicorn Version is: gunicorn-19.1.0

Any ideas what I'm doing wrong?

![screenshot 2014-07-26 19 01 32](https://cloud.githubusercontent.com/assets/3935098/3711725/cdddf3f2-14e6-11e4-870d-a382fd75a3fe.png)
![screenshot 2014-07-26 19 04 34](https://cloud.githubusercontent.com

[2014-07-27 10:36] hannosch opened #829 "Arbiter halves timeout settings"
There is some curious code in `gunicorn.arbiter.Arbiter.spawn_worker` which divides the configured timeout by two before spawning each worker process:

[code]

This is currently at https://github.com/benoitc/gunicorn/blob/master/gunicorn/arbiter.py#L492

I couldn't find a comment, issue or documentation for this. Is there a reason for halving the timeout here? Could it be documented in the setting

[2014-07-27 11:47] #827 closed, assigned to nobody

[2014-07-28 09:20] benoitc opened #830 "gaiohttp worker not available in gunicorn 19.1.0"
So now pypi package does not contain gaiohttp.py file, resulting in an error on python 3.4: https://github.com/benoitc/gunicorn/pull/801#issuecomment-50313211

The reason is that the source has been built under python 2.7 imo. cc @asvetlov @fafhrd91

[2014-07-28 20:31] #829 closed, assigned to nobody

[2014-07-29 18:03] tlatorre-uchicago opened #832 "log to console by default"
I was trying to debug an issue with gunicorn failing to start, and so I tried running it in console, but it would fail silently. I spent roughly an hour before finding this stack overflow question http://stackoverflow.com/questions/24222608/gunicorn-not-starting-workers and noticed that gunicorn is not set to print to console by default. What is the rationale behind this?

I imagine that most user

[2014-07-30 21:16] alq666 opened #834 "Do not log the number of workers all the time"
To support statsD instrumentation, [`manage_workers`](https://github.com/benoitc/gunicorn/blob/master/gunicorn/arbiter.py#L485) logs the number of workers, which is unsightly in logs.

While the call will remain to have smoother statsd data, no log line will be generated.

[2014-08-01 06:31] SaulTigh opened #836 "import error in 19.1.0"
I've the following error:

    Error: relative imports require the 'package' argument

No such error on previous installed version (19.0.0).

[2014-08-01 09:48] benoitc opened #837 "Improve the user experience: plugin everywhere"
Today workers, loggers and application (way to launch the gunicorn runtime) can be easily customised. You can use your own worker, logger or embed gunicorn in your own application. But until now most of the time they are included in the code of gunicorn, which imply that any revision of a worker needs a full update where the runtime didn't need any change. Also a worker upgrade due to a library ch

[2014-08-04 19:38] erjiang opened #840 "POST fails when returning >13k response on Heroku"
Hi, we hit this issue in production using Flask + Gunicorn + Heroku and couldn't find a cause or a workaround.

For one particular POST request with POST parameters, the request would fail with an H18 error (sock=backend) in Heroku's router indicating that the server closed the socket when it shouldn't have.

We started decreasing the response size of that failing endpoint until we narrowed it dow

[2014-08-05 00:14] monsanto opened #841 "Make process titles more configurable"
Currently, `gunicorn: worker [app]` and `gunicorn: master [app]` are hardcoded into the process titles. This clutters up `ps` output--I would prefer a display like `app` or `app (master)`. Even worse, the default `top` display will cut off before you even see the name of the app, like so:

[code]

It would be nice to be able to set the _whole_ process title, perhaps with a format code for master/w

[2014-08-05 07:26] #834 closed, assigned to nobody

[2014-08-08 07:29] potar opened #844 "gunicorn won't die even with $ kill -9"
I am having an issue similar to https://github.com/benoitc/gunicorn/issues/410 . The issue is: I can kill the master process, but it restarts again with a new PID. My steps:
1)

<pre>
ubuntu@ip-x:/$ ps aux | grep gunic
nobody   19850  0.0  0.6  55732 11604 ?        Ss   06:55   0:00 /home/ubuntu/aba4c_project/x/venv/bin/python /home/ubuntu/aba4c_project/x/venv/bin/gunicorn -w 4 -e DJANGO_ENV=produ

[2014-08-10 09:55] #844 closed, assigned to nobody

[2014-08-11 00:36] tilgovi opened #845 "Configuring the gunicorn loggers in a paste config does not work automatically"
After the change for 19.1, the paste configuration passed to `--paster` option will automatically be used for the logging config, but it seems like gunicorn must be initializing its own loggers after this because any attempt to set `gunicorn.error` or `gunicorn.access` loggers in that file does nothing without `--log-config`. `--log-config` still works.

[2014-08-12 05:03] silarsis opened #847 "timezones in some logs"
The access logs have, I see, been modified to include the timezone. However, gunicorn/glogging.py's other configured datefmt(s) don't have timezone included.

We're running gunicorn in a docker container, piping all the stdout/stderr through an older splunkforwarder to a spunk server. Logs are generated with UTC times, but the spunk server converts those to local time if there's no explicit timezo

[2014-08-12 11:54] rslinckx opened #848 "Gunicorn 19.1 seems to ignore --logger-class because the stats_host config is set by default"
The --stats-host config seem to be populated with a default value of localhost:8125 (config.py:1650)

This will make the logger_class code load the stats logger by default instead of the provided --logger-class.

I don't see any way to disable the default or pass some kind of null value to --stats-hosts.

[2014-08-13 07:56] ashish01 opened #851 "Exception while running simple aiohttp server"
I am running the following command

[code]

and I am getting following exception

[code]

The contents of ex.py are

[code]

[2014-08-13 09:20] #851 closed, assigned to nobody

[2014-08-13 22:24] #847 closed, assigned to nobody

[2014-08-16 04:26] #848 closed, assigned to nobody

[2014-08-16 11:16] #830 closed, assigned to nobody

[2014-08-16 19:12] benoitc opened #855 "automatize the creation of the THANKS file."
Github says that the project has 137 contributors but I noticed that our THANKS file is a lot smaller... We should fix that using a script if possible.

[2014-08-17 08:11] trcarden opened #856 "gunicorn dumps garbage when sendfile is enabled on virtualbox"
Solution: Please add configuration option to disable sendfile support in Gunicorn

Problem:
This occurs when running on virtual box, any ubuntu > 9, and is a known issue. The workaround for about 3 years seems to be to tell your server Nginx or Apache to disable sendfile support. Gunicorn under the covers uses sendfile and there should be a configuration option to disable it and fall back to a les

[2014-08-18 07:37] robvdl opened #857 "Spelling mistake in changelog for 19.1.1 release"
it says statsd "logegr"

[2014-08-18 08:48] #857 closed, assigned to nobody

[2014-08-18 16:50] #855 closed, assigned to nobody

[2014-08-19 19:23] #708 closed, assigned to nobody

[2014-08-20 08:42] andreif opened #860 "SyntaxError installing 19.1.1 on Python 2.7.8"
Seems to be installed but it would be nice without the error message

[code]

[2014-08-21 10:56] thestick613 opened #861 "Unable to run tornado example"
Upon running [this](http://code.metager.de/source/xref/benoitc/gunicorn/examples/frameworks/tornadoapp.py) I get the following error

[code]

I'm running latest ubuntu, python 2.7 and i've installed tornado and gunicorn using pip.

[2014-08-21 12:44] #861 closed, assigned to benoitc

[2014-08-25 06:04] wmttom opened #863 "'I/O operation on closed file' on SIGHUP"
[code]

[2014-08-26 22:58] #860 closed, assigned to nobody

[2014-09-03 06:44] dsoprea opened #866 "Gunicorn logger"
I'm having a little trouble identifying where the logging instance is actually instantiated since the logging routes through the _statsd_ logic, first. However, it seems as if Gunicorn logs to the root logger. If this is correct, why not have it log to a logger named with a prefix like "gunicorn."? That seems nicer.

[2014-09-03 15:50] sjagoe opened #867 "Unable to cleanly terminate gunicorn with eventlet backend"
See the gist at https://gist.github.com/sjagoe/0d9ee7c9d9c034080abe for a simple flask app running in gunicorn with eventlet. The `TERM` works for the gevent and sync backends.

Here is my output (using the gist above) from running gunicorn with eventlet (I have to `^C` the process to kill it):

[code]

Here is the equivalent output using the gevent worker class:

[code]

[2014-09-03 19:42] #866 closed, assigned to nobody

[2014-09-04 02:15] mengzhuo opened #868 "Install error on Python2.7"
System

[code]

Reproduce procedures:

[code]

[2014-09-04 05:09] #868 closed, assigned to nobody

[2014-09-05 22:53] collinanderson opened #871 "pip install gunicorn error on python 2"
{{{
Downloading/unpacking gunicorn
  Downloading gunicorn-19.1.1-py2.py3-none-any.whl (104kB): 104kB downloaded
Installing collected packages: gunicorn
Compiling /private/tmp/pip_build_root/gunicorn/gunicorn/workers/_gaiohttp.py ...
  File "/private/tmp/pip_build_root/gunicorn/gunicorn/workers/_gaiohttp.py", line 64
    yield from self.wsgi.close()
             ^
SyntaxError: invalid syntax
}}}
it

[2014-09-05 23:24] #871 closed, assigned to nobody

[2014-09-06 00:26] c-nichols opened #872 "Connection not closed properly after responding with 401"
Running gunicorn behind nginx.  Been having a strange issue where sometimes my server responds with a 502 Bad Gateway instead of a 401 Unauthorized.  (this is bad for me because someone else's legacy software is looking for a 401 before resubmitting request w/ username and password.)

After some tcpdump sleuthing, here's what I found:
Gunicorn is indeed sending a 401 Unauthorized response.  It sen

[2014-09-08 06:42] ediskandarov-cur opened #875 "systemd unit.socket does not work"
Hi there!

I start with the configuration from [documentation](http://gunicorn-docs.readthedocs.org/en/19.1.1/deploy.html#systemd).

First of all I do not understand what mean dash in pid file

[code]

And after playing with it I realised that in systemd forking service unit expect than gunicorn will run with `--daemon` mode.

If gunicorn not demonised under systemd it successfully handle sockets

[2014-09-09 06:25] #863 closed, assigned to nobody

[2014-09-10 02:47] ace-han opened #879 "DatabaseWrapper objects created in a thread can only be used in that same thread"
I ran into this error these days.
gunicorn <b>18.0</b> is working okay while <b>19.0, 19.1.0 & 19.1.1</b> are not.
My db is MySql.
I was told to try out some pure-python mysql driver implementation like `PyMySQL` instead of `MySQL-python` as the app was built on `Django`.
I've followed the instruction based on this [link](http://stackoverflow.com/questions/13320343/can-i-use-mysql-on-djangodev-1-6

[2014-09-10 08:33] w0rse opened #880 "Timeout exception after greenlet.switch with gevent worker on gunicorn newer than 0.15"
Hello, gunicorn!

We are seeing a lot of the following errors after upgrading gunicorn to the latest version:
2014-09-10 03:19:12 [3367] [ERROR] Socket error processing request.
Traceback (most recent call last):
  File "/usr/lib/python2.6/site-packages/gunicorn/workers/async.py", line 42, in handle
    req = six.next(parser)
  File "/usr/lib/python2.6/site-packages/gunicorn/http/parser.py", line

[2014-09-10 10:00] matrixise opened #881 "Who is the owner of this commit"
There is a commit with this signature f7151821c66769ffe6e05321d5edb4ed381edda1.

Who is the owner, because currently, it's "root" ?

[2014-09-10 13:27] #881 closed, assigned to nobody

[2014-09-10 20:40] hahla opened #884 "--check-config not returning output"
gunicorn --check-config
usage: gunicorn [OPTIONS] [APP_MODULE]
gunicorn: error: No application module specified.

Expected results it would work without an app specified per the docs http://gunicorn-docs.readthedocs.org/en/latest/configure.html#worker-class

but if I add my app which is working, the --check-config still does nothing
$ gunicorn my:app --pythonpath ./server -c conf/gunicorn.conf --c

[2014-09-12 14:44] benoitc opened #886 "import selectors inside Gunicorn"
For now selectors are only used inside the threaded worker and only work on Python 3. But with #792 and #874 we will need such feature available on python 2.7x as well. So I propose to import the selectors module in the Gunicorn codebase to avoid rewriting another but similar code.

Thoughts?

[2014-09-15 10:06] #875 closed, assigned to nobody

[2014-09-16 17:27] #804 closed, assigned to nobody

[2014-09-22 12:47] #832 closed, assigned to nobody

[2014-09-22 12:55] benoitc opened #896 "documment the way the settings.rst file is built"
I noticed that some some people are editing the file `settings.rst` where only `settings.py` should be updated since the doc is built from it. We should make it clear somewhere in the doc.

[2014-09-22 13:18] #884 closed, assigned to nobody

[2014-09-23 08:12] #896 closed, assigned to nobody

[2014-09-24 10:26] bninja opened #899 "proxy protocol info lost after first keep-alive request"
env:
- python v2.7
- gunicorn v19.1.1
- gevent v1.0.1 worker type
- keep-alive proxy-protcol'd lb (aws elb) in front of gunicorn

for multiple reqs during keep-alive session:
- first parses `req.proxy_protocol_info`
- subsequent reqs do not
  so workers see only proxy network info (`REMOTE_ADDR`, `REMOTE_PORT` ).

probably should save off from 1st and propagate to later requests.

[2014-09-24 20:31] #879 closed, assigned to nobody

[2014-09-30 06:57] tahajahangir opened #901 "Shutdown takes 30 second to complete"
**Summary:**
Gunicorn (sometimes) takes several (up to 30) seconds to shutdown (without any request in progress). We use gunicron behind nginx, and this bug leads to huge increase in upstream time in nginx servers.

During stop interval listening socket is open, so nginx connects to it, and waits for connect (but gunicron doesn't even accept connections, because it's in shutdown stage). After shut

[2014-10-01 02:03] #841 closed, assigned to nobody

[2014-10-01 18:00] collinanderson opened #904 "Upgrade six to at least 1.6.1"
This would save up to 3mb of memory in each process, because the moved modules are lazy-loaded.

I can open a PR if it would help.

[2014-10-03 00:48] #904 closed, assigned to nobody

[2014-10-03 06:49] tahajahangir opened #908 "Threaded workers accept connections even when no ready thread exist"
When using threads (with sync worker class), worker accepts connection even when all threads is busy. In our environment,  sometimes (because a deadlock in cairocffi library) all threads of a worker are locked, but worker continues accepting connections until limit of open-files is reached.

I looked at the code in `gthread.py` and it regards the `worker_connections` setting (despite what the docu

[2014-10-03 06:53] #899 closed, assigned to nobody

[2014-10-06 18:07] inklesspen opened #910 "Reloading sometimes gives a TypeError: 'NoneType' object is not callable"
I'm running a custom app (subclass of `BaseApplication`) with reload set to True. In some situations, changing a file causes the following traceback:

[code]

It's intermittent; I can sometimes reproduce it several times in a row by touching the same file, and then it stops happening. It certainly doesn't seem to interfere with the reloading behavior.

Line 87 is only `raise SystemExit()`. But lin

[2014-10-16 12:52] #886 closed, assigned to nobody

[2014-10-16 16:53] menghan opened #917 "Option `--debug` 's help is outdate"
Option `--debug` is fake while its help doesn't show that.

We decide to remove option `--debug` completely in v20, see #915

[2014-10-17 09:01] #917 closed, assigned to nobody

[2014-10-19 08:58] #856 closed, assigned to nobody

[2014-10-22 00:06] jab opened #920 ""ValueError: file descriptor cannot be a negative integer (-1)" with eventlet workers and pypy"
I created a test app which, on every request, makes a sub-request using [requests](http://docs.python-requests.org/en/latest/), and then returns the response for the sub-request as its response. gunicorn is serving the app with 9 workers (2 \* my cpu_count() + 1). When I set `worker_class` to `"eventlet"` and have apache bench hit the app 100,000 times (`ab -k -n 100000 -c 100 127.0.0.1:8000/`), a

[2014-10-23 17:18] jdelic opened #921 ""Connection reset by peer" in handle_request isn't handled (or ignored)"
We see a lot of these errors with HAProxy 1.5 in front of gunicorn:

[code]

It seems that in the async worker, the error is sometimes caught and ignored in `handle`, but it also sometimes happens in `handle_request`. It should probably be ignored there as well?

[2014-10-25 11:28] tahajahangir opened #922 "Close listening socket immediately after stop signal received"
When stopping gunicorn, server should wait for current requests to complete, but this may take several seconds (even 30 seconds, with the default timeout). Clients connecting in this interval, will wait forever, and will receive connection-reset error after server successfully stopped.

When using two or more gunicorn servers behind a reverse proxy (like nginx), this behavior leads to unreasonable

[2014-10-27 20:52] RyanGWU82 opened #923 "Error handling all requests on master - attempt to read attribute of NoneType"
I'm trying to run Gunicorn on the master branch (latest commit is 4c601ce447fafbeed27f0f0a238e0e48c928b6f9). But every incoming request generates this error:

[code]

This is my gunicorn command line:

[code]

I think the problem comes from commit adf353f213d12994cc36ecbbcb6a084baf1fda12. See the file https://github.com/benoitc/gunicorn/blob/adf353f213d12994cc36ecbbcb6a084baf1fda12/gunicorn/worker

[2014-10-28 19:35] parisk opened #924 "GreenletExit error in Django + Gunicorn app"
I am running a Django app that is being served by Gunicorn, which raises `GreenletExit` exceptions from time to time.

The main issue is caused because I have enabled exception reporting in Django and I get email reports with `GreenletExit` exceptions too often. From what I have read at http://www.gevent.org/gevent.html#gevent.GreenletExit, this seems like a graceful exiting, but shouldn't it be c

[2014-10-31 06:00] diwu1989 opened #926 "Sync threaded worker not closing connection properly on max_request limit"
I am running gunicorn 19.1.1 with multiple sync worker threads. When the request hits the max_request limit and the worker is restarted, the ongoing response isn't closed off properly.

This problem is fixed when I reduce the worker thread count to 1, but whenever there are more than 1 thread, when the worker is restarted, I see errors like these in the log

[code]

[2014-11-04 18:58] daltonmatos opened #927 "gunicorn 19.x causing problems with django-1.7.1 and gevent"
Hello,

I'm seeing this error with gunicorn `19.x` (tested with `19.0` and `19.1.1`) using the `gevent` worker. I'm using `django-1.7.1`.

this is the exception:

[code]

Here is my `gunicorn.conf.py`:

[code]

The error occurs every time, just accessing any URL of the django app (that depends on any model, of course) triggers this error. Any ideas?
Since changing to `gunicorn-18.0` solves the pro

[2014-11-05 21:51] groner opened #928 "WSGI modules and import time side effects"
Many years ago, I had a traumatic experience with `pydoc -k`.  Since that time I have been averse to python modules that do a lot of work or blow up at import time.

Currently WSGI scripts need to be in the python path, and need to be able to configure at import time.  It's normal for such configuration to fail if an environment variable is unset.

The `if __name__ == '__main__'` mechanism works p

[2014-11-06 06:58] #923 closed, assigned to nobody

[2014-11-07 11:33] larryhq opened #930 "url encode error 500"
http://<mysite.com>/api/v1/tags/%E5%A5%94%E9%A9%B0/cards/
python3.4.2 + django1.7.1 + gunicorn19.1.1
if url include chinese ,it traceback 500 error

[code]

[2014-11-10 13:57] newmanbrad opened #932 "log"

[2014-11-10 20:31] #932 closed, assigned to nobody

[2014-11-10 23:12] hahla opened #933 "Gunicorn direct run via egg not working"
Sorry to link to SO in a ticket, but all the details are here:
https://stackoverflow.com/questions/26791565/gunicorn-direct-launch-in-python-via-egg

[2014-11-11 02:50] gregeinfrank opened #934 "For Flask applications, can you specify a custom request handler?"
I'm looking to do something like this: http://blog.sendhub.com/post/48832423565/hacking-flask-a-success-story which is using a subclass of werkzeug's BaseRequestHandler. You can specify a request_handler in flask's web server directly like so:

`app.run(host='0.0.0.0', port=port, request_handler=MyFancyRequestHandler)`

But is there a way to specify a `request_handler` if I'm running my Flask app

[2014-11-11 04:52] berkerpeksag opened #935 "Reloading problem in Django integration"
Hi,

I'm trying to integrate Django's runserver command with Gunicorn. I wrote a custom Gunicorn application and everything works well:

https://github.com/django/django/pull/3461

But, when I change some code in my app(add some invalid Python syntax for example), the app is not reloading. Is there a best practice to handle this chicken egg problem properly? Should I run the app in a background th

[2014-11-12 21:05] #921 closed, assigned to nobody

[2014-11-13 13:59] mw44118 opened #938 "Can gunicorn handle chunked requests?"
Am using phonegap's filetransfer plugin to upload a big file to gunicorn.  I'm using regular sync workers.

The request comes in with chunked content type.  In my gunicorn server, I can see it waiting until the file finishes uploading, and then gunicorn calls my wsgi app, but my wsgi app doesn't get all the environ data it needs.

I'm running gunicorn behind apache where apache proxies requests to

[2014-11-17 15:17] kaniini opened #939 "BrokenPipeError being occasionally thrown with eventlet worker"
In some cases on a very busy application, we get:

[code]

The reason why is because the user closed out of the tab while it is loading (or otherwise halted navigation).  As such, it is probably not worthwhile to log this as a fatal error.

[2014-11-18 02:12] #938 closed, assigned to nobody

[2014-11-18 09:32] Troon opened #940 "Long response after max_requests worker restart"
I measured the response time of a Django app served with nginx + gunicorn, and noticed that the response time went from ~20ms to ~300ms every 10 requests. Eventually, I found that max_requests was set to 10, and this was the cause of the longer requests.

It looks from the source (e.g. `workers/sync.py`, line 162ff) that the intent is to restart the worker **after** the current request is complete

[2014-11-18 22:39] #940 closed, assigned to nobody

[2014-11-18 23:13] #867 closed, assigned to nobody

[2014-11-18 23:23] #731 closed, assigned to nobody

[2014-11-19 12:49] rtpm opened #942 "Gunicorn freeze"
Gunicorn 19.1.1
Django 1.7.1
nginx 1.0.10

After upgrading to the latest gunicorn I am having weird problem (gateway timeout 504) with backend running
Django + PostgreSQL.
It hangs after few days. I see gunicorn (master + workers) processes running fine, but no traffic is being served.

I am using damontools package for running gunicorn with command:

exec setuidgid $USER gunicorn -b ${TCP} -w 3 -

[2014-11-23 10:16] #926 closed, assigned to nobody

[2014-11-23 10:37] #698 closed, assigned to nobody

[2014-11-23 10:39] #677 closed, assigned to nobody

[2014-11-23 12:53] #934 closed, assigned to nobody

[2014-11-23 19:36] #422 closed, assigned to tilgovi

[2014-11-23 19:37] #845 closed, assigned to nobody

[2014-11-24 16:49] berkerpeksag opened #947 "Integrate flake8 into Travis CI"
We can ignore E126, E128, E129, E501, E302 checkers and vendored files such as `argparse_compat.py`, 'six.py`and`selectors.py`.

[2014-11-24 23:00] #928 closed, assigned to nobody

[2014-11-25 18:01] sly010 opened #949 "gunicorn --daemon possible race condition"
I am starting gunicorn with a shellscript that ends with:

`gunicorn --daemon ...`

Sometimes when the machine is under load, the shell script returns (without error) but there is no gunicorn process running. However if I add "sleep 1" to the end of the script, the problem goes away.

I am not familiar with how daemonizing works in gunicorn or elsewhere but is it possible that this is some kind of

[2014-11-27 21:42] #949 closed, assigned to nobody

[2014-11-30 07:09] berkerpeksag opened #950 "Convert tests to use py.test or unittest assertions"
Since we already using py.test and unittest, our custom assertions should be removed from https://github.com/benoitc/gunicorn/blob/master/tests/t.py#L82.

[2014-12-02 14:19] bastelfreak opened #952 "Syntax error during update 18.0 -> 19.1.1"
I'm currently running CentOS 7 and tried to update it to the latest version:

[code]

My pip Version:

[code]

I guess I can ignore the warnings, but maybe not the SyntaxError? Let me know if you need further information.

[2014-12-02 14:28] #952 closed, assigned to nobody

[2014-12-02 23:35] #920 closed, assigned to nobody

[2014-12-10 01:01] gregtap opened #955 "Issues with Django1.7 and gunicorn > 1.8.0"
Using virtualenv on MacOS,  Python 2.7.6.

Django==1.7.1
gunicorn==19.1.1

[code]

Hangs.. and ctrl c shows a thread lock exception.

As a side note here is what gunicorns==19.1.1 pip install step shows.

[code]

Now if I install `gunicorn==18` everything is fine:

[code]

[2014-12-10 01:26] #955 closed, assigned to nobody

[2014-12-12 14:28] glynjackson opened #956 "Installing gunicorn vis pip on Ubuntu after update ``pip install gunicorn`` gives the error"
Installing gunicorn vis pip on Ubuntu after update `pip install gunicorn` gives the error:

[code]

Same issue it reported here: : https://bugs.launchpad.net/ubuntu/+source/python-pip/+bug/1306991

For me, this ONLY happens when installing gunicorn. Not sure if it is directly related to gunicorn but worth opening an issue to see if anyone else is having this problem.

[2014-12-14 23:32] #956 closed, assigned to nobody

[2014-12-19 07:03] #655 closed, assigned to nobody

[2014-12-20 22:06] #910 closed, assigned to nobody

[2014-12-25 01:28] timonwong opened #963 "Consider timezone while calculating request time"
It's ususal for a django application that 'activate' the timezone during a request:
https://docs.djangoproject.com/en/1.7/topics/i18n/timezones/#selecting-the-current-time-zone

But when a timezone is 'activated', the `datetime.now()` behavior may change(because it returns 'local time'), so the request time will be shifted then.

So should we use `datetime.utcnow()` instead?

[2015-01-04 04:57] linxtion commented on #611
Seems to be a very specific issue with `worker_class = 'gevent'` and django `pipeline` package. My fix was to comment out `worker_class = 'gevent'` in `/etc/gunicorn.d/gunicorn.py`.

[2015-01-07 20:55] logston commented on #879
I am also getting this error. My package/version list:

django==1.6.4
gevent==1.0
greenlet==0.4.5
gunicorn==19.1.1

[2015-01-08 12:05] frabcus opened #964 "Reloader should survive SyntaxErrors"
When using `--reload` if you save a file with a syntax error, gunicorn exits completely. This defeats the point and use of `--reload` during development.

The code is in `init_process` in `gunicorn/workers/base.py`. The callback for the Reloader kills the worker, forcing them to reload. The process exits when there is a syntax error.

Obvious ways to fix it would be: 1) Make the callback or reload

[2015-01-09 10:24] rtpm commented on #942
Oups It happened again.  I will run another gunicorn instance and switch nginx to this. Maybe that will let me do some process debugging.

[2015-01-14 13:50] NadyaChe commented on #863
@benoitc Hi! I'm waiting for this release too. Are there any plans to release soon? Thank you!

[2015-01-14 20:59] tilgovi commented on #863
Sorry, I may have been holding this up with review of an issue with the
threaded worker. @benoitc I'll try to do this tomorrow.

On Wed, Jan 14, 2015, 14:50 Nadya <notifications@github.com> wrote:

[2015-01-14 23:07] FartParty opened #965 "unix socket goes missing when max_requests is used"
nginx: 1.6.2
gunicorn: 19.1.1
eventlet workers
ubuntu 12.04

When I define a max_requests config option, after that limit has been reached and the worker has been restarted, the unix socket I specify goes missing.  I have to completely restart the master process for the socket to reappear again.

A stacktrace also appears in the log with the following:

[code]

[2015-01-15 14:26] tilgovi commented on #965
That traceback is expected, but should be fixed already for the next release.
If the socket is disappearing, though, that is a serious problem.

[2015-01-15 20:15] FartParty commented on #965
Serious problem indeed.  I haven't had much time to trace it, but using a tcp bind survives a worker reset.   I can also manually SIGTERM workers and the socket remains.  Only the workers that restart themselves with max_requests appear to rm the socket.

[2015-01-16 05:11] nypisces commented on #930
@asvetlov Fix it https://github.com/KeepSafe/aiohttp/pull/248

[2015-01-16 11:41] alasdairnicol opened #967 "Mention gaffer instead of gafferctl in deployment docs"
The [deployment docs](https://github.com/gunicorn/gunicorn/blob/b892edea487512022206cdce4a44d46282ac9077/docs/source/deploy.rst#using-gafferd-and-gafferctl) mention gafferctl, which has been removed.

In #966, @berkerpeksag suggested changing the docs to mention gaffer instead: http://gaffer.readthedocs.org/en/latest/gaffer.html

[2015-01-20 10:06] techiaith commented on #863
I can confirm this on python3.4/gunicorn 19.1.1
Not very nice for production servers!

[code]

If there's anything I can do to help @tilgovi, let me know.

[2015-01-21 22:27] #908 closed

[2015-01-21 22:33] benoitc commented on #963
what is the problem exactly?

[2015-01-21 22:36] benoitc commented on #939
working on it.

[2015-01-26 12:48] wbolster opened #969 "settings docs have two headings named "logging""
See http://docs.gunicorn.org/en/latest/settings.html

[2015-01-26 16:56] #969 closed

[2015-01-26 16:59] berkerpeksag commented on #969
Thanks for the report! Fixed it for now, but we should fix https://github.com/benoitc/gunicorn/blob/master/docs/gunicorn_ext.py#L26 to add some kind of append feature. Feel free to send a PR :)

[2015-01-27 12:06] minusf commented on #863
if you can find the time, please roll a minor release for this issue.

[2015-01-27 12:07] benoitc commented on #863
@minusf working on it. should be done tomorrow .

[2015-01-28 09:05] kevinpaladin commented on #338
I faced the same issue when I tried to run the app like this:

`gunicorn app:application -b localhost:3000`

The problem had been the presence of a directory named `app` too in addition to the file `app.py`. It worked after renaming the python file.

[2015-01-29 20:57] benoitc commented on #939
so EnvironmentError is an alias to OSError in python 3.4, same for socket.error. I wonder why the exception is not catched then...

[2015-01-29 22:46] benoitc commented on #582
fixed. security issues can be sent to security@gunicorn.org .

[2015-01-29 22:47] benoitc commented on #836
I moved it to 19.3.

[2015-01-29 22:59] benoitc commented on #965
do you reproduce the same without eventlet?

[2015-01-29 23:09] benoitc commented on #734
not reproduced. feel free to open a new ticket if it happens again.

[2015-01-29 23:09] #734 closed

[2015-01-29 23:43] benoitc commented on #798
not reproduced since. closing the issue.

[2015-01-29 23:43] #798 closed

[2015-01-29 23:47] benoitc commented on #808
bump.

[2015-01-30 03:32] kaniini commented on #939
Please let us know if you have any patches you would like tested in a production environment, we would like to remove this false-positive from our error logs.

[2015-01-30 08:40] benoitc commented on #797
It appeared that we also removed the code handling the X-Forwarded-Header so I am postponing to the next release. Also see my comment in python-web-sig/wsgi-ng#11 .

[2015-01-30 08:43] #967 closed

[2015-01-30 16:53] fafhrd91 commented on #808
I'd close this ticket with won't fix

[2015-01-30 17:00] benoitc commented on #808
well why the body have to be in memory? more generally i can accept that, but then we should try to offer the best experience of asyncio using gunicorn. pretty sure we can make a worker supervised by gunicorn that exposes all the features needed by asyncio users :)

[2015-01-30 17:05] fafhrd91 commented on #808
It general it doesn't matter, even if we can load body synchronously it is still not possible to handle asyn and sync events at the same time. I think better solution is to move this complexity to app level. I.e. We load request header with aiohttp.web and then route specific requests to threaded wsgi server that runs. But that's probably too complex

[2015-01-31 07:34] berkerpeksag commented on #939
The patch may cause regressions on Python 2 and Python 3.2.

In Python 2 and Python 3.2:

* socket.error is a subclass of IOError
* IOError is a subclass of EnvironmentError

In Python 3.3+:

* socket.error and EnvironmentError are aliases of OSError

Another subtle bug is that ssl.SSLError is also a subclass of OSError on Python 3.3+.

We'll probably need to add some shim to `gunicorn/_compat.py`

[2015-01-31 08:34] berkerpeksag commented on #939
Oh, and IOError is also a an alias of OSError on Python 3.3+. So socker.error wasn't catched because `gunicorn.http.errors.NoMoreData` is a subclass of IOError which is an alias of OSError on Python 3.3+.

Here is a WIP branch without compat shim: https://github.com/berkerpeksag/gunicorn/compare/exc-refactor Please try it on Python 3.3+.

[2015-02-02 20:44] tilgovi commented on #582
I don't think this is documented anywhere. Please close again if I'm wrong.

[2015-02-03 16:18] frewsxcv opened #974 "Latest Gunicorn release 19.2.0 has Python 3 specific code"
Attempting to install with Python 2.7:

[code]

[2015-02-03 17:11] fzumstein opened #975 "TypeError when running with --worker-class socketio.sgunicorn.GeventSoetIOWorker"
When I try to run the [example](https://github.com/miguelgrinberg/Flask-SocketIO/tree/master/example) from Flask-SocketIO, I get the following error, any ideas?

[code]

[2015-02-03 17:14] fzumstein commented on #975
sorry for the noise... typo in `GeventSocketIOWorker`

[2015-02-03 17:14] #975 closed

[2015-02-03 18:15] berkerpeksag commented on #974
Thanks for the report. What is you pip version? With the latest version of pip, you won't see error messages like this.

[2015-02-03 18:15] #974 closed

[2015-02-03 19:11] frewsxcv commented on #974
@berkerpeksag Looks like you're right, was using an older version of pip. I don't get the error now.

[2015-02-04 06:50] pengfei-xue commented on #734
sorry, i didnt provide feedback in time, already lost the environment, agree to close this issue for now, if someone got this again, we can reopen it. :)

thanks.

[2015-02-04 07:26] benoitc commented on #582
mmm true forgot to add to the doc. It's only on the main site right now. I am fixing it.

[2015-02-04 07:27] #582 closed

[2015-02-04 07:47] benoitc commented on #947
what about linking lanscape.io results also?

[2015-02-04 07:51] playpauseandstop opened #977 "Gunicorn 19.2.0 struggles with gaiohttp worker"
I use gunicorn+gaiohttp+nginx for deploying my Python 3.4.2 application, and after update Gunicorn to 19.2.0, my application not more accessible from browser or command line

Script to run server is trivial:

[code]

It started well due to command line output:

[code]

But I cannot access ``127.0.0.1:8208`` via browser (as it freezes) or via requests (it freezes here too)

Freeze appears on both o

[2015-02-04 09:10] #977 closed

[2015-02-04 09:31] playpauseandstop commented on #977
Thanks! This totally fixed my issue!

Install fresh gunicorn master and it works with ``aiohttp==0.14.4``

[2015-02-04 13:58] benoitc commented on #977
19.2.1 has been released with this fix. Thanks for the feedback :)

[2015-02-04 17:18] prestontimmons opened #978 "OSError: Bad file descriptor raised when using Python 3.4 and USR2 signal"
After upgrading a Python 2 application to Python 3.4, I noticed an ``OSError`` is raised when sending a ``USR2`` signal to the process. I believe the problem is related to a change in socket behavior in Python 3.4:

https://docs.python.org/3.4/library/os.html#fd-inheritance

I don't know if this is a correct fix, but adding the below lines to ``Arbiter.start`` made the ``OSError`` go away:

[code]

[2015-02-06 01:12] cactus opened #979 "keepalive with sync worker + threads stopped working in 19.2"
Keepalive functionally, when using sync worker + threads, appears to have stopped working in 19.2 (also not working in 19.2.1). I tested and it worked in 19.1.1.
Was this an intentional change, or a bug?

Getting same result with python 2.7 and pypy 2.5 (2.7.x series) w/ trollius==1.0.4 and futures==2.2.0

[2015-02-06 01:29] skatewalker commented on #286
me too -  [ERROR] Connection in use: ('127.0.0.1', 8000)

[2015-02-06 04:20] alexband commented on #979
I use gunicorn behind nginx with sync worker, using supervisor to manage it
after upgrade to 19.2.1,  I observer that, after supervisor restart gunicorn, it still
not available until about 1 min and a half, during this time, nginx response 499,
then it will work.

I didn't observe this on previous version.

[2015-02-06 06:55] berkerpeksag commented on #978
The fix LGTM. We probably will need to add a helper function in `gunicorn/_compat.py`.

[2015-02-06 06:58] benoitc commented on #979
Mmm it seems to work here. I did a simple test though. How can I reproduce it?

Did the following test btw:

1) I launched gunicorn that way:

    (gunicorn_py2)[examples] gunicorn -w 3 --threads=10 test:app
    7:54:47  ☁  master ☂ 𝝙 ✭ 𝝙
    [2015-02-06 07:55:00 +0100] [1494] [INFO] Starting gunicorn 19.2.0
    [2015-02-06 07:55:00 +0100] [1494] [INFO] Listening at: http://127.0.0.1:8000
    (149

[2015-02-06 09:11] ochronus commented on #880
@benoitc ping? :) Any updates?

[2015-02-06 09:33] cactus commented on #979
[code]

[code]

I just discovered this -- it seems if I leave off `worker-connections`, I *do* get keepalives in the response. But when I do supply `worker-connections` it results in `connection: close` in the curl response. Odd.

Anyway, here is the same test with 19.1.1

[code]

[code]

[2015-02-09 01:43] AlexanderOMara opened #981 "Workers crashing on shutdown in Python 3 on OS X"
I'm having a strange issue with using gunicorn and Django with Python 3, where when I send a keyboard interrupt with `Crtl` + `C` on OS X, I receive the application quite unexpectedly dialog.

I am using Python 3.4.2 installed via Homebrew on OS X 10.9, and installed Django and gunicorn into a virtual environment with `pyvenv`. I only get this when using Python 3. When I create the exact same setu

[2015-02-09 09:10] michaelsd commented on #514
I don't know if it's related, but I'm also receiving the ```[Errno 11] Resource temporarily unavailable``` message when using Gunicorn with Flask and MySQL. After adding some debug statements to the ```@teardown``` method in Flask-SQLAlchemy i got the ```[Errno 11] Resource temporarily unavailable``` error in ```response_or_exc``` but only when using the autocommit feature, so changes without an e

[2015-02-09 11:57] zoharby commented on #517
We've experienced the exact same issue a few days ago when our system was under higher than normal load after recovering from a  few hours of downtime..
All of our traffic is https.

Running Nginx 1.6 and gunicorn 19.1.1

After a few restarts to the system, it suddenly started working properly, though we're not really sure what changed.

This seems to be the exact same case described here:
http://

[2015-02-09 12:13] benoitc commented on #517
what was the load?

[2015-02-09 12:23] zoharby commented on #517
Around 10,000 RPM, which were divided by Google network load balancing between 2 VMS, each has 2 CPUs and 1.8 GB RAM (so around 5,000 RPM per machine).

[2015-02-09 15:19] tilgovi commented on #514
Maybe the sync worker is not always closing requests properly when there are error responses?

[2015-02-09 15:40] pdodde commented on #514
If it helps, I found that our code was logging an exception when it should have been logging an error. If I remember correctly, there is one global variable in python that holds the last stack trace. Since gunicorn polls the socket over and over and catches this Errno 11 exception every time, this is the stack trace you will see if you print a stack trace when an exception hasn't actually been rai

[2015-02-10 20:30] cactus commented on #979
@benoitc is there any other information that you need/want from me?

[2015-02-11 04:47] AlexanderOMara commented on #981
Some more information as I continue to try to debug this issue. I've tried running it with the `--log-level=debug` command line argument, and I also do not get the Python crash.
[code]
Again, the traceback in the output is inconsistent between runs. Hopefully I can assistance on this.

[2015-02-12 17:52] benoitc commented on #517
I don't think the load is the issue then, gunicorn is used with website having a larger traffic.

What is the version of python? Do you have a recent trace? Did you tested it with the latest gunicorn (maybe with the thread workers?)

[2015-02-12 18:25] odedfos commented on #517
I'm answering on behalf of @zoharby,
python version is 2.7.3
If it's of any importance, the server is django nonrel v1.5.11.
We haven't tested yet with latest version nor with number of threads greater than 1 (with 5 workers)

[2015-02-12 18:29] foresmac opened #982 "Syntax error when installing via pip"
[code]

[2015-02-12 18:30] foresmac commented on #982
I _think_ it still works, but it's unsettling to see that during an install. Did something not finish correctly? Are there missing pieces? How would I know where to look to check for that?

[2015-02-12 18:33] collinanderson commented on #982
`pip install --upgrade pip`

[2015-02-12 18:33] berkerpeksag commented on #982
Thanks for the report, Chris. This is harmless and has been fixed in the recent version of pip.

[2015-02-12 18:33] #982 closed

[2015-02-12 19:42] foresmac commented on #982
Thanks for the update; upgrading pip did fix the problem.

[2015-02-13 00:31] tilgovi commented on #880
That might be an appropriate change. It explains the issue but it's worth discussing the solution.

ggevent.py doesn't set a timeout on the socket, but puts it in blocking mode because that's how gevent is meant to act. Reading the next request off the wire takes longer than the socket timeout but less time than the keep-alive timeout, which is the `timeout_ctx` around this call stack. As a result

[2015-02-13 00:33] tilgovi commented on #978
LGTM

[2015-02-13 01:16] tilgovi commented on #981
My first thought is that this is similar to #910.
My next thought is that, no, maybe it's that the worker receives the QUIT signal, starts to shut down including closing loggers, then receives the KILL signal. Or something to this effect.

[2015-02-13 02:17] AlexanderOMara commented on #981
Hmm, anything I can do to try to debug the issue?

[2015-02-13 17:01] berkerpeksag commented on #880
I'm not that familiar with the gevent worker, but SGTM.

[2015-02-13 17:24] berkerpeksag commented on #935
+1! Is it possible to use a shell script as an entry point(e.g. using the old `scripts` attribute) in setuptools? If yes, we can rename the current entrypoint `gunicorn` to `gunicornctl` or something like that and use this shell script(or Python script) as `gunicorn`.

@sontek I can convert your inline patch to a PR in a week or so if you don't have time to work on this. Thanks!

[2015-02-13 18:04] tilgovi commented on #880
@ochronus you could check what `getdefaulttimeout` returns in your app.

[2015-02-13 18:29] tlatorre-uchicago commented on #379
@benoitc Is it still possible to log stderr to the logfile somehow?

[2015-02-13 18:31] collinanderson commented on #379
`--log-file /dev/stderr`

[2015-02-13 18:31] collinanderson commented on #379
ohh. backwards. sorry. nevermind.

[2015-02-15 20:47] ohadpartuck commented on #964
+1 any ETA on this @benoitc

[2015-02-15 21:56] benoitc commented on #979
@cactus The behaviour  you see above is because the number of connections to keep alive is equal to `Worker Connections - Number of threads` which is here < 0. There are at least N connections accepted at the same time.

If in the command line above you give `--worker-connections 4` you will be above to keep 1 connection alive. This change has been introduced in 1f92511430b59a6645e59d408d8cb21d6d3

[2015-02-15 22:26] cactus commented on #979
I thought the opposite was the case, where worker-connections was how many concurrent conns the child backend will accept, and threads the number of threads the child will utilize in a pool for handling connections.

Even the gunicorn docs say that threads is "The number of worker threads for handling requests" and worker-connections is "The maximum number of simultaneous clients".

So would the m

[2015-02-15 22:29] cactus commented on #979
I thought the opposite was the case, where worker-connections was how many concurrent conns the child backend will accept, and threads the number of threads the child will utilize in a pool for handling connections.

Even the gunicorn docs say that threads is "The number of worker threads for handling requests" and worker-connections is "The maximum number of simultaneous clients".

So would the m

[2015-02-15 22:46] cactus commented on #979
Looking at the code (thanks for the ref), maybe I will try a local workaround -- subclassing and monkey-patching (ugh!) in the subclass to set `max_keepalive = self.cfg.threads - self.cfg.worker_connections` and see if that can fit my goals.

[2015-02-16 04:18] GMLudo commented on #964
+1 for this feature.
We use Gunicorn in [API-Hour](www.api-hour.io/#api-hour) on prod and dev environment, it's certainly a nice to have.

[2015-02-16 17:31] tilgovi commented on #964
@ohadpartuck @GMLudo open a pull request

[2015-02-17 03:44] awol opened #983 "SyncWorker.wait() method returns None"
I am running gunicorn 19.2.0 serving Django 1.7.4 using nginx as a proxy on Centos7.

The `wait()` method of the SyncWorker class is getting a tuple of empty lists from the call to `select.select()` as a result of the timeout passing, and, as such falling through to the end of the function and returning None to the calling function. This calling function (`run_for_multiple` in my case) then raises

[2015-02-17 05:38] tilgovi commented on #983
Added to R19.3 milestone because this is not a pleasant experience at all and makes it seem like something is very wrong when it is not. Thanks for the detailed report.

[2015-02-17 07:29] dstufft opened #984 "Allow configuring a different reloader"
Currently the only way to customize the ``Reloader`` implementation is to either monkeypatch it or subclass the worker. It would be great if there was a way, even if it was only really available via ``gunicorn.app.base.Application`` subclassing, to configure our own ``Reloader``.

Alternatively a way to specify additional files (maybe with a glob?) would be useful instead.

[2015-02-17 07:48] berkerpeksag commented on #984
We probably can add a `reloader_class` attribute to `gunicorn.app.base.Application`.

[2015-02-17 17:27] dstufft opened #985 "Reloader doesn't trigger reload hooks"
Currently the ``Reloader`` has a thread per worker and when it detects a change it just ``SIGQUIT``s the current worker. This enables the ``Reloader`` to take place after the WSGI application has been imported so all the needed modules are inside of the ``sys.modules``. However this means that a reload looks like, to gunicorn, that the worker died and just needs to be restarted which means that th

[2015-02-17 19:18] tilgovi commented on #985
The reloader is intended for development. What's the use case that requires your reload hook to be called? Making this work would not be easy, since the workers would have to communicate back to the arbiter about what modules they have loaded.

[2015-02-17 19:19] tilgovi commented on #985
Or maybe we could just have the workers send HUP to their parent process? That might cause problems with multiple workers, but that may also been an unusual setup for development.

[2015-02-17 19:20] dstufft commented on #985
Essentially I was hoping to use the reload hook in development so that I could trigger a regeneration of the static files so that whenever gunicorn reloads it also picks up any new static file changes.

[2015-02-17 19:36] tilgovi commented on #984
Even just assigning the new `Reloader` instance to `self.reloader` would make it available to the `post_worker_init` hook. The `Reloader` has a method `add_extra_file`.

Would that be sufficient for what you need for this issue or do you really want to customize it in some other way?

[2015-02-17 19:38] tilgovi commented on #985
So do you really want the reload hook that HUP triggers or do you want to watch your static sources with an external script and add the output files to the reloader so that the worker reloads after the assets are built?

Alternatively, could you not configure the way you're serving static assets to not cache the files in development?

[2015-02-17 19:58] dstufft commented on #985
Well I'd rather not watch my static source with an external script when I already have gunicorn running which is watching files and reloading when they change. It's simpler to have a single command to run than to have multiple commands to run. I jsut got this working, but it relies on overriding a good bit of the built in support for things, it'd be great if it was easier to do, see https://bpaste

[2015-02-17 20:03] dstufft commented on #984
That would be good enough for what I need it for I believe.

[2015-02-17 20:45] tilgovi commented on #985
Any reason not to simply generate them at worker start?

[2015-02-17 20:47] #984 closed

[2015-02-17 20:47] tilgovi commented on #984
Done.

[2015-02-17 20:48] dstufft commented on #985
Ah hm, that could be done I think.

[2015-02-17 20:51] tilgovi commented on #985
Alright. I closed the other issue by making sure that `self.reloader` is the `Reloader` instance in the worker so you should be able to access it from hooks. If you need more, please re-open this, but I'll close it for the time being. Thanks, @dstufft.

[2015-02-17 20:51] #985 closed

[2015-02-18 09:02] benoitc commented on #983
If we provide all the sockets here, it would means we could miss a connection on one of the sockets. Imo a better way would be to returning in the looop if no socket is ready to accept and wait for at least one.

One possible issue by doing this is the thundering herd problem, but that could be handled later. Thoughts?

[2015-02-18 09:13] pierrei commented on #880
We have this issue in production and been having for a while. The exceptions do not show up until after a day or two, then they start showing up and after a few days we get about one exception per second.

This graph shows the number of errors we get over time (the drop at the end is a new deploy = all workers are restarted):
![gunicorn_errors](https://cloud.githubusercontent.com/assets/994715/624

[2015-02-19 17:32] michaelsd commented on #514
@tilgovi How would I debug this? There seem to be no errors in the response in my development environment where I don't use gunicorn and neither are there any errors using the gevent worker.

[2015-02-24 07:39] augonis opened #987 "No error output produced if module level exception raised in django app"
I have a django app that runs fine with *manage.py runserver*, but if I start the same app with *gunicorn app.wsgi:appliacation* and it returns 500 response on all urls and it's not the 500 configured in django. My main gripe is the no output thing as that seriously hinders looking for the real error. So I added a known point of failure (an impossible import in urlconf) to find anywhere that would

[2015-02-24 13:42] muravitskiy commented on #381
got the same error in 19.2.0

[2015-02-24 18:55] tilgovi commented on #381
I'll re-open to investigate.

[2015-02-24 18:59] tilgovi commented on #987
I don't think I understand the issue exactly, and maybe the additional thing you tried with the `ImportError` is actually confusing me.

I thought, when I first started reading, that this was about either exception logging or error pages, both of which may just be configuration that needs to be changed. However, the last part about `ImportError` should cause some logging since gunicorn workers sho

[2015-02-25 04:05] koobs commented on #788
@asvetlov I'm still seeing this in 19.2.1, but for **_gaiohttp.py**

[code]

[2015-02-25 04:52] benoitc commented on #788
@koobs which version of gaiohttp did you installed?

[2015-02-25 05:43] koobs commented on #788
@benoitc It *was* 0.9.0, but I just updated the FreeBSD port to 0.14.4 for the sake of it.

The real issue is that on Python 2.7 (when aiohttp isnt even installed), compilation of _gaiohttp.py is attempted during build/build-install and that fails, leaving pyc/pyo files missing, but referenced in --record output.

[2015-02-25 05:45] koobs commented on #788
@benoitc More precisely, this was likely fixed in 86f740420cb12cf071f7dc7981330353e258931 (unless it didnt *also* cover _aiohttp.py) but then regressed with 719e61bf18ca3347e58c03dbc04156c859659a1d

[2015-02-25 06:13] benoitc commented on #788
@koobs err I mean, are you using the latest version of pip? It should be fixed there. Let me know.

[2015-02-25 07:11] augonis commented on #987
Here is what I have in one of my urlconfs:
[code]
When I start django development server with `python manage.py runserver` in the console I get this
[code]
From this I can tell that server starts fine and on first request django tries to import urlconf twice failing both times.

Running gunicorn with `gunicorn -b 0.0.0.0:8021  pro.wsgi:application` in the console I get this
[code]
We see the two a

[2015-02-25 10:35] berkerpeksag commented on #788
Perhaps we can add a small note to the documentation?

[2015-02-25 10:54] benoitc commented on #788
@berkerpeksag waiting the split I think It's a good idea :) We should start the split of workers and other plugins asap to release a new version in march.

[2015-02-25 10:58] matrixise commented on #788
Yesterday, I just installed the last version, `pip install gunicorn` and I see this error syntax, for me, first thing, I think there is a problem I uninstall this version and try to work with a previous version.

After that, I have read the error and understood that I can use it because it's just a "warning" for pip.

First reaction of a user, uninstall it and use an older version :/

[2015-02-25 11:04] berkerpeksag commented on #788
@benoitc yes, good idea. I need to read #837 again :)

[2015-02-25 11:11] berkerpeksag commented on #837
We can just announce gunicorn 20 as a backward incompatible release. Of course, that means we need to maintain 19.x for a while, but that's easier than maintain two separate package and probably two separate repos.

Recent versions of pip won't install beta packages directly, so we can mark gunicorn 20 as beta and if people just do `pip install -U gunicorn` to upgrade their gunicorn installation,

[2015-02-25 12:15] benoitc commented on #837
sounds like a good plan.

If we are all agree to that I will move the code first to the org and then we could start in a branch.

[2015-02-28 21:02] berkerpeksag opened #991 "Delete stale branches"
There are a lot of stale branches in the repo. I'm not sure they are still useful. Can we delete them?

Here is the list of the stale branches: https://github.com/benoitc/gunicorn/branches/stale

[2015-03-02 22:45] tilgovi commented on #872
Verdict? Should we do anything?

[2015-03-02 22:46] tilgovi commented on #991
I'm okay to delete them. I think we should leave open any that are pull requests and just bump those threads separately so we can discuss what to do with each.

[2015-03-03 07:44] benoitc commented on #872
@tilgovi impo we should open a new ticket to discuss the design of the lingering pool. Thoughts?

[2015-03-03 07:44] benoitc commented on #991
+1

[2015-03-03 18:19] tilgovi commented on #872
+1

On Mon, Mar 2, 2015, 23:44 Benoit Chesneau <notifications@github.com> wrote:

[2015-03-06 03:16] jfarrimo commented on #983
I'm encountering this problem as well.  One side-effect is that clients making http requests to gunicorn occasionally get "socket hang up" errors because there are apparently no free workers to service the request.  This isn't a giant problem for me, and doesn't happen very frequently, but it does show that this problem has real-world implications and is not totally benign.  I'm eagerly awaiting a

[2015-03-06 07:36] #983 closed

[2015-03-06 07:52] #981 closed

[2015-03-06 07:54] benoitc commented on #987
what if you run in debug level?

[2015-03-06 08:11] benoitc commented on #979
Why do you limit the number of worker_connections?

The reasoning in the current code is that you still need to be able to handle connections while accepting new one until the maximum of connections is achieved. If number the number of keepalived connections = maximum of connections accepted in the worker then you wouldn't e able to handle them. So instead we are refusing keep-alive connections. M

[2015-03-06 09:18] #978 closed

[2015-03-06 09:23] benoitc commented on #965
bump.

[2015-03-08 02:50] cactus commented on #979
Thanks for thinking about this @benoitc. In the meantime we have decided that if we want to reduce our connection usage (the goal was to reduce tcp conn churn), we add another layer (all problems can be solved by another layer) and just stick nginx in front of gunicorn on each machine, and use a unix socket for upstream to gunicorn.

Unrelated: We have been experimenting with gunicorn and pypy lat

[2015-03-08 06:23] augonis commented on #987
if You mean  `gunicorn -b 0.0.0.0:8021 --log-level=debug pro.wsgi:application`, then  only extra output is the url called.

[2015-03-09 06:18] benoitc commented on #987
On Sunday, March 8, 2015, augonis <notifications@github.com> wrote:

do you have a sample code that could help to reproduce the issue?

--
Sent from my Mobile

[2015-03-10 06:41] augonis commented on #987
Sorry, false alarm. I wasn't able to replicate symptoms on a fresh django project, so it must be something with my django configuration.

[2015-03-11 10:55] aartur opened #993 "Support for custom error pages"
Looks like currently an error page content is hardcoded in util.write_error, as a simple html page. For some scenarios this needs to be changed, eg. an API service that should always return JSON.

Yes, custom error pages should be generated by a user app, but if an error happens before passing control to a user app (eg. a malformed HTTP header), the page is always generated by gunicorn.

[2015-03-12 12:16] berkerpeksag commented on #991
Ok, I've deleted some 5 years old branches.

[2015-03-13 18:58] aartur commented on #993
There's one specific, probably common case which triggers error page generation by gunicorn: when gunicorn is behind nginx, and a request contains a space in GET parameters, like:
[code]

So nginx passes it to gunicorn without triggering an error, and gunicorn generates an error without calling wsgi app. Note also that the error message contains "Invalid HTTP Version" twice.

[2015-03-14 08:21] benoitc commented on #993
Reading the issue and the comment I am guessing we have 2 different issues. 1 is to use a different error page if needed and I would be OK for having a setting for it. The second is about parsing the status line. Though if I read the spec:

    5.1 Request-Line

    The Request-Line begins with a method token, followed by the Request-URI and the protocol version, and ending with CRLF. The elements

[2015-03-14 10:23] aartur commented on #993
I only put the example with a space in a url to show that there are not-that-impossible situations when gunicorn generates an error page, even if a wsgi app has implemented full error handling and nginx's error pages are also set up. And yes, gunicorn's behavior is correct (and nginx's behaviour is incorrect if specs say that an invalid request must not be passed) and a better error message would

[2015-03-18 15:00] pembo13 commented on #492
With "--worker-class gevent" at least, this message fills up stderr

[2015-03-18 18:02] tilgovi commented on #964
Closed by #994

[2015-03-18 18:02] #964 closed

[2015-03-18 18:03] benoitc commented on #964
thanks I forgot that!

On Wed, Mar 18, 2015 at 7:02 PM, Randall Leeds <notifications@github.com>
wrote:

[2015-03-20 21:10] Starefossen opened #996 "Persistent database connections with async workers on Django >= 1.6 fails"
I noticed something when switching from `sync` to async `eventlet` workers in Gunicorn; Postgres which had been working perfectly so far begun complaining that maximum connection limit was reached, and it was refusing new connections. When enabling monitoring I could clearly see that new connections to the database was established for each HTTP request. Even though `CONN_MAX_AGE` was set to `60` d

[2015-03-26 23:31] jfarrimo commented on #381
I am getting the error with gunicorn 19.3.0 (running on on ubuntu 12.04) sometimes when I issue a hup signal to it.

[2015-03-26 22:21:28 +0000] [15450] [INFO] Unhandled exception in main loop:
Traceback (most recent call last):
  File "/home/instaedu/.virtualenvs/instaedu/local/lib/python2.7/site-packages/gunicorn/arbiter.py", line 180, in run
    self.murder_workers()
  File "/home/instaedu/.vir

[2015-04-01 09:17] benoitc commented on #987
ok  thanks, closing the issue then

[2015-04-01 09:17] #987 closed

[2015-04-04 00:46] allanfigueiredo opened #1002 "Error Gunicorn 19.3.0 with Django 1.7 (import error get_validation_errors)"
Traceback (most recent call last):
  File "/Users/allanfigueiredo/.virtual_envs/pfci-django/lib/python2.7/site-packages/gunicorn/arbiter.py", line 507, in spawn_worker
    worker.init_process()
  File "/Users/allanfigueiredo/.virtual_envs/pfci-django/lib/python2.7/site-packages/gunicorn/workers/base.py", line 118, in init_process
    self.wsgi = self.app.wsgi()
  File "/Users/allanfigueiredo/.virt

[2015-04-04 01:28] berkerpeksag commented on #1002
Did you use `gunicorn_django` to run your application? If yes, please use the `gunicorn` command instead: http://docs.gunicorn.org/en/19.3/run.html#gunicorn

[2015-04-04 01:35] allanfigueiredo commented on #1002
Hi Berker,

Yes I'm using gunicorn_django. Ok sorry about the little confusion. I'll
try to use gunicorn instead of gunicorn_django.

Thanks so much!

All the best

On Fri, Apr 3, 2015 at 10:28 PM, Berker Peksag <notifications@github.com>
wrote:

[2015-04-04 01:43] berkerpeksag commented on #1002
Thanks for the quick response :) Closing this.

[2015-04-04 01:43] #1002 closed

[2015-04-07 18:17] fletom commented on #879
I'm also getting this error (i.e. all requests fail with this traceback) with a completely standard Django setup (1.7.7) after upgrading from 1.8 to 1.9.3. I do not have `--preload` set anywhere, and adding `preload_app = False` to my `gunicorn_conf.py` file didn't make any difference. Will have to downgrade back to 1.8 because of this.

[2015-04-09 12:52] genxstylez commented on #927
One more thing, just found out today,
session handling in django 1.7 with gunicorn 19.3.0 expires within seconds.

Had to switch back to 18 to make it work.

FYI.

[2015-04-09 20:42] DJviolin opened #1005 "Gunicorn can't run in virtualenv on Win7"
I got the following error on Win7 when I try to run the gunicorn server inside virtualenv:

    $ (myappvenv) C:\www\python\myapp> gunicorn -b 0.0.0.0:8080 wsgi
    Traceback (most recent call last):
    File "C:\Python34\Lib\runpy.py", line 170, in _runmoduleasmain
    "main", modspec)
    File "C:\Python34\Lib\runpy.py", line 85, in _runcode
    exec(code, runglobals)
    File "C:\www\python\mya

[2015-04-09 21:13] berkerpeksag commented on #1005
Thanks for the report. I'm not a Windows user, but I think Gunicorn does not support Windows yet. See #524.

[2015-04-11 19:00] benoitc commented on #979
@cactus thanks for the feedback :)

[2015-04-12 23:14] geoom opened #1006 "gunicorn.errors.HaltServer: <HaltServer 'Worker failed to boot.' 3>"
Hi there, I have this situacion and I described it with more detail [here](http://stackoverflow.com/questions/29464952/502-bad-gateway-from-relocated-instance-on-aws-ec2) ...are there ideas where I can solve this error ?

[2015-04-14 14:25] catskul commented on #788
Still seeing it in 19.3.0

[2015-04-14 14:31] berkerpeksag commented on #788
@catskul please update your pip version. The warning is not harmful and recent pip versions don't show it anymore.

[2015-04-15 09:36] ramiro commented on #996
I'd change the title to something that makes clear the report is about Django >= 1.6 persistent DB connections feature.

[2015-04-15 10:07] ramiro commented on #996
I'm going to try to add some extra info with an excerpt of an internal issue in which we are exploring & testing changing `CONN_MAX_AGE` from its current default value 0. We use the `gevent` worker:

Django handles DB connections like this:

* If CONN_MAX_AGE = 0 then connections are opened when needed & closed at the end of every request. This is implemented with the `request_finished` signal.
*

[2015-04-15 10:20] geoom commented on #1006
I already solved my problem ... more details in [this link](http://stackoverflow.com/a/29646102/1911787).

[2015-04-15 10:20] #1006 closed

[2015-04-15 22:29] tilgovi commented on #996
@ramiro I agree with your analysis.

[2015-04-16 10:18] vladimirtsyupko opened #1008 "Patching django core modules function is not handled using gunicorn"
I have a monkeypatch for a django's core function, to override default encoding of the tilde symbol:

    from django.utils import http
    http.original_urlquote = http.urlquote
    http.urlquote = lambda url, safe='~/': http.original_urlquote(url, safe)

And it works properly using `python manage.py runserver`. I go proper urls generated by django `resolve()` function, e.g. `/user/nf~roj/` inste

[2015-04-16 12:00] #1008 closed

[2015-04-20 09:05] asvetlov opened #1009 "Support yields in gaiohttp for middlewares"
See getsentry/raven-python#599 for details

[2015-04-20 13:09] benoitc commented on #1009
can you summarise what it would imply?

[2015-04-21 11:13] vlad-dragos opened #1011 "'gthread' not added to supporded workers."
I'm trying to use the 'gthread' worker however I'm getting this error:
[code]
Upon investigation I found that the `gthread` worker is not included in`gunicorn.workers.SUPPORTED_WORKERS`.

Is this intended or it's a bug?

[2015-04-21 11:19] berkerpeksag commented on #1011
Looks like a bug to me. Relevant commit is https://github.com/benoitc/gunicorn/commit/a397d90774d3b8975fc0c1120e52529b1de08c97. Feel free to send a PR. Thanks!

[2015-04-21 13:20] vlad-dragos commented on #1011
Will do a push request later tonight. :)

[2015-04-21 13:23] vlad-dragos commented on #1011
Should I add a check for Python3?

[2015-04-21 13:37] berkerpeksag commented on #1011
No, gthread should work in both Python 2 and Python 3 as far as I know

[2015-04-21 22:21] browning opened #1012 "Closing file handles on HUP"
Hi,

I came across this issue from 2013 https://github.com/benoitc/gunicorn/issues/627  , the fix for it was made in the fix/627 branch but it looks like that branch was never merged into master.

I was wondering if that could be merged now? or if there was a reason it was not merged?

Thanks!

[2015-04-22 13:42] #1011 closed

[2015-04-22 18:22] parak opened #1014 "gunicorn fails to start if the pid does not have the same uid as expected"
In some rather rare cases, something like the following can happen:

1. gunicorn writes a pidfile as usual
2. The server dies unexpectedly
3. The server starts, and occupies up the pid written in 1 with some other non-gunicorn uid process (likely root).
4. gunicorn attempts to start, sees that the pid already exists, tries to kill it and errors out with "OSError: [Errno 1] Operation not permitted"

[2015-04-22 22:09] kennethreitz opened #1015 "Consider adding built-in websocket support!"
https://pypi.python.org/pypi/gevent-websocket/

[2015-04-24 23:53] tilgovi commented on #1015
I think it'd be awesome if we could provide something. I've used SockJS with gevent and gevent-websocket and switched to ws4py and it'd be awesome to have something that just works.

[2015-04-25 07:39] GMLudo commented on #1015
I've no doubt that you'll have a something to show at the end.

Nevertheless, on production, with a daemon with a lot of code, if you have an issue with the monkey-patching of Gevent and WSGI, at least to my experience, it will be difficult to debug that. I'd experimented some strange issues with grequests before to abandon that. Certainly I'm not have the same dev level as you guys to debug. Neve

[2015-04-25 21:52] kennethreitz commented on #1015
:sparkles: :cake: :sparkles:

[2015-04-25 23:55] tilgovi commented on #1015
Thanks for your thoughts, @GMLudo.

I agree that often separate daemons is the best solution to problems. In particular, your use case sounds like it has a large number of WebSocket connections but a much smaller number of regular HTTP requests, so it might make sense to scale them independently.

I think there are other things WSGI is for, though, and it's not really about multiplexing handlers.

[2015-04-27 09:30] benoitc commented on #1015
So first gunicorn already embed the logic to handle long connections and upgrade a simple wsgi request like show these examples:

https://github.com/benoitc/gunicorn/tree/master/examples/websocket

It's basically a way to tell to gunicorn to give up on that sockets and return to accepting. The reason people are after that using gevent or eventlet is mostly because of their ability to switch the th

[2015-04-27 14:00] ohadpartuck commented on #514
I tried the `gevent` solution and it's not closing old workers. did anyone else encounter this behaviour?

[2015-04-27 16:22] benoitc commented on #514
@ohadpartuck what is the gevent solution? Anything reproducible?

Also this ticket has been closed if you have an issue please open a new one eventually linked to that one. It's hard to track the other way.

[2015-04-27 16:33] benoitc commented on #1014
How can gunicorn can be restarted with a different user? You can use the [--user](http://docs.gunicorn.org/en/latest/settings.html#user) setting. In any case we shouldn't force the deletion of the pid there since it can be a issue in some cases also.

[2015-04-27 16:34] benoitc commented on #1009
@asvetlov ping.

[2015-04-27 16:35] benoitc commented on #947
bump?

[2015-04-27 16:38] benoitc commented on #1012
will investigate that, thanks for the head up.

[2015-04-27 16:47] berkerpeksag commented on #947
Many of the landscape.io results are false-positives. It looks like a good service, but I don't think it's worth to use it now. See https://landscape.io/github/Swiftea/Swiftea-Crawler/19/modules/crawler/stats.py for example. `FileNotFoundError` is in Python for almost 5 years now.

[2015-04-27 16:51] berkerpeksag commented on #947
I also saw landscape.io results in a project that I contributed and its reports looked similar to the example I gave in my earlier comment.

[2015-04-27 16:56] tilgovi commented on #947
Hmmm. I've been using it with great results. It uses prospector, which is
very configurable. We may just need a config file that fits our level of
strictness.

I can take a stab.

On Mon, Apr 27, 2015, 09:51 Berker Peksag <notifications@github.com> wrote:

[2015-04-27 17:05] ohadpartuck commented on #514
`worker_class = 'sync'` vs `worker_class = 'gevent'`

[2015-04-27 17:14] benoitc commented on #514
still. what is the gevent solution? How can we reproduce the issue?

This ticket has been closed anyway and new discussion should happen on a new ticket. the issue may or may not be different...

[2015-04-27 17:41] berkerpeksag commented on #947
That would be great :)

[2015-04-27 17:42] parak commented on #1014
Gunicorn is started normally on the system startup, with the same user as usual. However other processes will run before it (obviously), and one of them may take the same pid that gunicorn was using before the system crash. In my case it was a tty process, but it could be multiple things that start before gunicorn.

This can be easily replicated by stopping gunicorn (assuming it runs as a non priv

[2015-04-27 22:05] GMLudo commented on #1015
@tilgovi and @benoitc: Thanks for your remarks, I don't forget you, but I'm lack of time today. I'll answer you tomorrow.

[2015-04-28 08:37] asvetlov commented on #1009
I need to investigate. Author of initial issue blames that middleware which yields (not returns whole HTTP body) doesn't work.

[2015-04-28 20:37] tilgovi commented on #1014
http://www.pathname.com/fhs/pub/fhs-2.3.html#VARRUNRUNTIMEVARIABLEDATA

We shouldn't have to worry about this. The directory where the pid file is stored is meant to only contain information written since boot.

Some distributions have this directory as a tmpfs mount for this reason.

[2015-04-28 23:16] pikeas opened #1017 "19.3.0 install error!"
[code]

This is Python 2.7.9 running on Ubuntu, so I'm not sure why it's trying to use a Python3 `yield from`?

[2015-04-28 23:52] tilgovi commented on #1017
This is a duplicate issue that has been filed several times. It is harmless (install completes successfully) and it is fixed by upgrading pip.

[2015-04-28 23:52] #1017 closed

[2015-04-28 23:53] pikeas commented on #1017
@tilgovi I'm running the latest version of pip (6.1.1), so that is not the cause. Reopen?

[2015-04-28 23:57] tilgovi commented on #1017
Are you sure that's the version of pip being used in the environment where you're install gunicorn? This issue is well known, @berkerpeksag submitted the patch upstream to pip if I recall correctly, it has been filed several times with the same symptom and been reported to be fixed by upgrading pip. I have just tested myself and cannot reproduce on that version of pip.

[2015-04-29 00:15] pikeas commented on #1017
@tilgovi User error on my side, Pip was *supposed* to be upgraded on my side, but was actually an outdated version.

Still worth adding to the FAQ and/or GH page if lots of people are opening issues about it.

[2015-04-29 00:28] tilgovi commented on #1017
It'll solve itself in time as the default versions get upgraded. A simple search for the output message should reveal the several times we've closed the issue and the cause. Finding the FAQ is most likely no easier.

Glad you're on your way. Cheers.

[2015-04-29 05:07] parak commented on #1014
Ah, yep, you're right. I'll have to take better care with this on my end.

Thanks!

[2015-04-29 05:07] #1014 closed

[2015-04-29 13:51] netinsideout opened #1020 "stdout to log file"
Is there variant to redirect stdout to errror.log or output.log without using linux file redirection like > logfile 2>&1 ? It may be usefull for Windows users and users that are comming from uwsgi. Uwsgi outputs to error.log stdout and stderr.

[2015-04-29 14:14] berkerpeksag commented on #1020
Welcome! If I remember correctly, gunicorn uses stderr by default. You can use `--log-file foo.log` to customize it.

See also http://docs.gunicorn.org/en/19.3/settings.html#errorlog

[2015-04-29 14:35] netinsideout commented on #1020
...then programmer in simple debug enviroment will never see output of print("Hallo world") in logfile. Only print("Hallo world", file=sys.stderr) will be seen. I think, gunicorn needs option to redirect stdout to logfile to simplify this. Option by default must be turned off, because we are not need new file descriptor in production enviroment.

[2015-04-29 21:39] tilgovi commented on #1020
@netinsideout don't sue "print". Use the `logging` module.

[2015-04-29 23:47] netinsideout commented on #1020
@tilgovi "Simple is better than complex." Logging module is not simple, because it must be configured before using. Sometimes this is not need at all, because project is too simple. As i can see print statment used in gunicorn project 20 times and logging module used 17 times.

[2015-04-30 00:16] tilgovi commented on #1020
It is already configured for you if you have started your application with gunicorn. `import logging; logging.{warn,error,info}`. Nothing else is needed. It is not complex.

The print statements are used in gunicorn only as we bootstrap the application through the CLI, before logging is set up.

Application code should always use `logging` rather than `print`.

[2015-04-30 04:27] netinsideout commented on #1020
@tilgovi Explain this to all python devellopers and you will have success. Gunicorn documentation does not have clear explanation currently about not using stdout and preconfigured logging. This topic will have continued, because others devs will have same questions. By the way, you are really always use logging and never use print, pprint or sys,stdout for making pipe with other application or ha

[2015-04-30 05:07] tilgovi commented on #1020
It might be possible for us to redirect the stdout for workers to the error log.

[2015-04-30 15:23] benoitc opened #1021 "releasing more often, new release procedure?"
From some talks I had recently it appears to me that we don't tag/release very often while we continuously update the master. Since people are waiting a formal release to deploy a new gunicorn, I propose to release a snapshot of master more often to the world.

Since it's some kind an arbitrary release, I propose to **have a release each month, the first tuesday** (except of course if nothing happ

[2015-04-30 15:34] berkerpeksag commented on #1021
minor versions are versions with backwards compatibles changes and new features insides. They can also deprecate some features.
major releases are releases which contains important new features or architecture changes, non backwards compatible changes

+1

We'll also need to create branches for minor versions.

[2015-04-30 16:11] matrixise commented on #1021
+1 but will you have time ? ;-) because you are busy ...

[2015-04-30 18:39] tilgovi commented on #1021
If we can make sure the release procedures is documented we can have >1 person able to release.

[2015-04-30 21:10] benoitc commented on #1021
release should be automated at some points. will make a proposal in the morning. also i agree with @tilgovi more than one person should be able to make a release.. let create this RELEASE.md file :)

[2015-04-30 21:12] benoitc commented on #1021
@berkerpeksag also true...

[2015-05-01 09:10] benoitc opened #1022 "moving gunicorn to its own github organisation"
Last call before moving the gunicorn repository to its own organisation. If anyone disagree let me know :)

[2015-05-01 13:11] berkerpeksag commented on #1022
+1 How will you move it? By using GitHub's repo transfer feature or manually?

[2015-05-01 13:33] benoitc commented on #1022
github repo transfert this time
On Fri 1 May 2015 at 15:12 Berker Peksag <notifications@github.com> wrote:

[2015-05-01 13:38] berkerpeksag commented on #1022
That's great, thanks! :) You may want to delete https://github.com/gunicorn/gunicorn before transfering this repo to the org.

[2015-05-01 17:29] GMLudo commented on #1022
+1

[2015-05-01 21:49] GMLudo commented on #1015
Hello guys,

As you have understand, for my personal needs, I need nothing more in Gunicorn.

I was a little bit provocative to have some reactions, nevertheless, I sincerely think that something should be done for WSGI users.

Since the apparition of WSGI, you have now WebSockets, HTTP/2 and also async pattern integrated in Python, certainly with special keywords for the next version.

At least f

[2015-05-05 08:41] urbaniak commented on #1015
I've done similar thing to gevent-websocket with aiohttp for py3k, it's just a separate worker class which sets the environ['wsgi.websocket'].

Here's the code - https://gist.github.com/urbaniak/3eccb06e8d5ac6c445f7

Have ben using that for last two months, it looks pretty stable.

[2015-05-09 15:56] alex opened #1023 "Gunicorn fails with a 500, instead of a 400, when a request path is a malformed IPv6 address"
Request:

[code]

Server:

[code]

This should result in a 400 bad request, not a 500.

(This was found using the AFL fuzzer)

[2015-05-09 16:14] berkerpeksag commented on #1023
Thanks for the report! PR #1024 should fix this.

[code]

[2015-05-09 16:19] alex commented on #1023
cool!

[2015-05-10 08:04] benoitc commented on #1022
OK, so i will do last check so we make sure to not loose any useful information when moving the repo: tickets and PRs, can anyone confirm they will be kept?

Also for the sake of sanity we may want to release a 19.4 first which could be done at the beginning of the week.

[2015-05-10 08:23] benoitc opened #1025 "add lingering pool"
To solves #874 and #872 we should introduce a lingerpool as discussed in these issues. I propose the following design:
- in a linger pool all sockets are put in an event loop using the selector API
- each time we come back in the accept loop we check if a socket is available for read in the event loop, if yes we then definitely close it using the shutdown method followed by the close method.

I th

[2015-05-10 08:23] benoitc commented on #872
superseded by #1025 all discussions now happen in that ticket.

[2015-05-10 08:23] #872 closed

[2015-05-10 08:26] benoitc commented on #933
should we do anything there?

[2015-05-10 08:39] berkerpeksag commented on #1022
I've used the repo transfer feature before (for https://github.com/berkerpeksag/astor), you'll only need to delete gunicorn/gunicorn.

[2015-05-10 08:48] benoitc commented on #1022
@berkerpeksag thanks for the confirmation :) Also https://help.github.com/articles/transferring-a-repository/ make it clear they will be kept.

[2015-05-10 12:46] jbaiter opened #1026 "Shared data with multiple gevent workers"
I am trying to implement Server-Sent Events in my Flask application by following this simple recipe: http://flask.pocoo.org/snippets/116/

For serving the app, I use gunicorn with a custom `BaseApplication` subclass and gevent workers.

A minimal version of my code looks like this:

[code]

The problem is that the subscriber's list seems to be different for every worker. This means that if worker

[2015-05-10 13:37] GMLudo commented on #1026
Yes, it's normal, because Gunicorn forks itself to generate workers.
If you want to do this use case, I recommend you to use Redis or something like that between workers.
I use Redis as a bus with pub/sub between my workers to share data between my WebSockets clients, with API-Hour (based on Gunicorn): http://www.api-hour.io/, aiohttp.web: http://aiohttp.readthedocs.org/en/latest/web.html#websocke

[2015-05-10 13:39] jbaiter commented on #1026
Great, thank you! Sorry for spamming the issue tracker here :/

[2015-05-10 13:39] #1026 closed

[2015-05-10 21:52] GMLudo commented on #1025
What are the impacts of this feature for AsyncIO workers gaiohttp, aiohttp.web and API-Hour ?

I've no opinion about this problem, because to my knowledge, I've never observe this issue on my production with tcpdump.
It could be possible it's only with Nginx you have that ? I use only HAproxy for TLS behind my API-Hour daemons. Or maybe another manner to handle HTTP discussion by aiohttp.web.

It

[2015-05-11 07:34] wong2 commented on #1022
:clap:

[2015-05-11 08:30] #1023 closed

[2015-05-11 09:58] benoitc commented on #1025
default lingering  settings may be enough on your system for your usage. It really depends. I can't reproduce it as well. Looking at different HTTP servers, it's apparently a common problem. The solution above should solve it.

About making it optional that's a really good idea, and we could add a setting for it. Same for the lingering timeout I guess. I will propose a branch asap for it.

About a

[2015-05-11 17:49] tilgovi commented on #1025
Definitely this is behind a config switch to start, or can be turned off with one. No doubt.

@benoitc if we did this in the arbiter, I'm not sure how the worker could signal they are done. However, that would seem like the simplest thing to me. As long as none of the worker servers try to continue selecting on the sockets once they report they are "done" with them, this seems like it would work f

[2015-05-11 19:39] benoitc commented on #1025
@tilgovi yeah that would imply to add some kind of signalling system between the arbiter and the workers. Nothing fancy though, a pipe would be enough imo.

We have 2 options anyway:
- do a simple patch now and add lingering checking in the worker
- start to add simple signalling between the workers and the arbiter. bonus point it could help us to finally removed the temporary file...

[2015-05-11 20:59] tilgovi commented on #1025
I'm worried that we might need more signals in the future, but at the moment we would just need:

- I'm alive
- Here's a socket to add to the linger pool

That means we could get away with just piping integers, with -1 being the heartbeat.

[2015-05-12 04:27] benoitc commented on #1025
I described what could be the message system in an old presentation:  https://speakerdeck.com/benoitc/gunicorn-the-thundering-herd-and-other-concurrency-programming-challenges?slide=13

But we could start simple indeed.

Should we do the lingering pool change in 19.4 or postpone it for next major release?

[2015-05-12 06:04] berkerpeksag commented on #524
@benoitc is there a WIP branch for this? I'm not a Windows user, but I can take a look at this.

[2015-05-12 06:05] berkerpeksag commented on #1005
Closing this as a duplicate of #524.

[2015-05-12 06:05] #1005 closed

[2015-05-12 07:17] benoitc commented on #524
@berkerpeksag no not yet :/ we should really start one asap.

[2015-05-12 07:18] benoitc commented on #524
like @cyberdelia said we could ask a license of windows at the PSF that the gunicorn project could use for such development. Thoughts?

[2015-05-12 07:23] berkerpeksag commented on #524
It's a good idea. https://www.python.org/psf/grants/ has all information about grant proposals.

[2015-05-12 09:01] benoitc opened #1028 "automate release using travis"
following the discussion on #1021 I propose to automate our builds using travis.

We could create wheel for each python release and build source package as well when a release is tagged. Also eventually we could provides a nightly build. Thoughts?

Some links about what we could do:

https://speakerdeck.com/ogrisel/build-and-test-wheel-packages-on-linux-osx-and-windows
http://www.agmweb.ca/2015-05

[2015-05-12 20:12] benoitc commented on #1015
@GMLudo beeing bi-directionnal doesn't imply to use an asynchrnous library though. we can have a `recv` that could block until a message come, or just return if nothing came after a time and `send` can be non blocking. Afterwall a websocket is "just" a socket over the web.

Similarly we can have a recv_async that would receive asynchronously the message.

[2015-05-12 20:15] benoitc commented on #991
@berkerpeksag that's awesome! Should we close the ticket or any other branch in mind?

[2015-05-12 20:18] benoitc opened #1029 "freeze features on python 2?"
Related to #1015 I wonder if we shouldn't freeze the features on python 2 and start to implement new things on python3. It will ease our work somehow...

[2015-05-12 20:19] tilgovi commented on #1015
Here's the same in ws4py with 'ws4py.socket' in the environment. And here, again, https://github.com/Lawouach/WebSocket-for-Python/blob/master/ws4py/server/geventserver.py is `self.socket` or `environ['wsgi.input']`.

I think what's going on is that mostly we all just need to agree on where the socket is in the environment, no? Why is there so much variation here? Or am I misunderstanding somethin

[2015-05-12 20:22] tilgovi commented on #1015
Is the first action here maybe that we need to ensure Gunicorn is exposing the socket is a consistent way across worker types? Or is it already?

The main thing I'm first worried about is that whatever auxiliary libraries users have for handling websockets that they don't have to vary their configuration or instantiation depending on the worker type.

[2015-05-12 20:26] tilgovi commented on #991
Deleted some more of my branches.

[2015-05-12 20:28] benoitc commented on #1015
@tilgovi i think it's available for all the workers in the environ key `gunicorn.socket` :+1:
https://github.com/benoitc/gunicorn/blob/master/examples/websocket/websocket.py#L45

and then you can tell to gunicorn to forgot that request:
https://github.com/benoitc/gunicorn/blob/master/examples/websocket/websocket.py#L115

same for gevent:
https://github.com/benoitc/gunicorn/blob/master/examples/web

[2015-05-12 20:30] benoitc commented on #1015
but not in the tornado and asyncio one :/

While it's ok to not support it in tornado we should make sure that such feature is available in the asyncio worker imo.

[2015-05-12 20:31] GMLudo commented on #1029
+10, the time of the big migration to Python 3 should start somewhere: Python 3 should become the first class citizen, and Python 2 should the legacy. As [David Beazley tweets](https://twitter.com/dabeaz/status/597328085948768256), Javascript is in pertual revolution, compare to Python. I don't believe that the high level of changes in Javascript ecosystem is really sustainable in the long term, h

[2015-05-12 20:43] GMLudo commented on #1015
@benoitc you're right Benoit async isn't mandatory for websockets, however, I'm interested in to see macro-benchmarks on this particular use case, with a lot of permanent websockets AND without black-magic to automagically transform sync code to async via Gevent, because at the end, in fact, if you use that, you compare async code with async code, it's only explicit vs implicit that change ;-)

Mo

[2015-05-12 20:49] tilgovi commented on #1015
Is it usable by sync worker? If so maybe we should relocate the constant.

I'll check if PyWSGI gevent worker exposes the same, and eventlet.

On Tue, May 12, 2015, 13:43 Ludovic Gasc <notifications@github.com> wrote:

[2015-05-12 20:54] benoitc commented on #1015
@tilgovi i think that proposing an API that allows the application to upgrade the connection to a websocket and a way to retrieve/send messages to it would be good. While designing such approach we should also have in mind HTTP2.

[2015-05-12 20:58] GMLudo commented on #1015
As usual, depends on your context: In this case, the traffic you have on your application.
In the case of classical stateless HTTP request/response, it isn't a big issue to be sync inside an handler. For a WebSocket, the context is different, but if you have few load, it isn't a big issue. The information I don't have where is the cursor: 10, 100, 1000 simultaneous WebSockets ?
However, if you hav

[2015-05-12 21:05] benoitc commented on #1015
@tilgovi first one is in fact for eventlet. It's only working on the workers inheriting from the `AsyncWorker` class.

[2015-05-13 05:32] fletom commented on #1029
+1 for keeping a legacy Python 2 version available (and supported with bug/security fixes) but having new versions of gunicorn be Python 3 only

[2015-05-13 05:41] fletom commented on #927
This seems to be the same issue as https://github.com/benoitc/gunicorn/issues/879, which was closed but not fixed. It makes gunicorn 19.x. unusable with Django. Perhaps only for the gevent worker though? I haven't tested for other worker types.

[2015-05-13 06:20] berkerpeksag commented on #1029
Gunicorn 20.0 will be a major release, we can use it as a starting point and make 19.x series LTS/legacy.

[2015-05-13 06:34] berkerpeksag commented on #991
I haven't investigate all the branches yet, we can keep this open for a while :)

[2015-05-13 19:13] tilgovi commented on #879
This discussion will continue on #927. Thanks for the feedback, everyone. It seems there's a real problem here.

[2015-05-13 20:18] GMLudo commented on #1025
+1 for a simple approach.
For me, postpone it for next major release.

If it was my project and the alone user, I'll use Redis as shared data and communication between workers.

But I understand that you want to keep Gunicorn installable without any dependencies.

To me, our need to discuss between your processes is generic, it should be a library in pure Python easily embeddable in a Python proje

[2015-05-14 02:24] brockhaywood commented on #527
@ahmedtalhakhan Did you have any success resolving this? I'm also using tastypie and cannot find a resolution so far.

[2015-05-14 07:56] benoitc commented on #991
right :)i also saw some branches i should take care...
On Wed 13 May 2015 at 08:34 Berker Peksag <notifications@github.com> wrote:

[2015-05-14 08:03] benoitc commented on #1025
redis wouldn't be efficient there. We are talking about sharing sockets
fds, lock informations and maybe more. This should be very fast and without
a txp ovehead. The design I have in mind is inspired from zmq and httpd in
openbsd.

- benoît
On Wed 13 May 2015 at 22:18 Ludovic Gasc <notifications@github.com> wrote:

[2015-05-14 08:21] benoitc commented on #927
@tilgovi i wonder if it's not due to the change done in the environ. in 19.x we set `wsgi.multithread` to `true` where it was `false` in 18.x :

https://github.com/benoitc/gunicorn/blob/master/gunicorn/workers/ggevent.py#L99

This change may be handle differently in django. And a greenlet is not really a thread. Thoughts? At least maybe we could try to revert it and check if it solves the issue. D

[2015-05-14 09:56] GMLudo commented on #1025
Ok, I'm interested in to test that.
If it could be possible to workers to use that to discuss a little bit between workers, it should be interesting.

[2015-05-14 16:39] tilgovi commented on #927
Oh, I bet that is the issue. Good memory, @benoitc.

I still don't know why yet. As I said at the time to justify the change, I can't imagine that it would make anything break because it would mean that the framework would only take more precautions about sharing data. Evidently, I may be wrong.

[2015-05-14 16:59] benoitc commented on #927
I pushed the branch `fix/927` to check if the fix above works. Please test!

[2015-05-14 19:35] brockhaywood commented on #927
I'm still able to reproduce this error using fix/927 with django 1.8.1 (and 1.7.1) and gevent 1.0.1

[2015-05-14 19:37] tilgovi commented on #927
That's reassuring to me, even if we still don't know the cause.

[2015-05-14 20:01] benoitc commented on #927
so I tried using the example application and didn't reproduce the issue
running the following command line:

    gunicorn --env DJANGO_SETTINGS_MODULE=testing.settings -k gevent -w3
wsgi:application

Can anyone provides me a reproducible example?

On Thu, May 14, 2015 at 9:37 PM Randall Leeds <notifications@github.com>
wrote:

[2015-05-14 20:03] benoitc commented on #927
So I tried using the example application and didn't reproduce the issue running the following command line:

    gunicorn --env DJANGO_SETTINGS_MODULE=testing.settings -k gevent -w3 wsgi:application

Can anyone provides me a reproducible example?

[2015-05-14 20:28] brockhaywood commented on #927
I can still reproduce this issue invoking gunicorn like so:
[code]
Is there any relevant details you need?

[2015-05-14 21:31] benoitc commented on #927
@brockhaywood  should be `project.settings`, but yes i need to have a way to reproduce it, do you have any minimal code to share.

Looking at the trace above, it could also be the monkey patching. Maybe threads shouldn't be monkey patched. Can you try the following patch?

    --- a/gunicorn/workers/ggevent.py
    +++ b/gunicorn/workers/ggevent.py
    @@ -60,9 +60,9 @@ class GeventWorker(AsyncWork

[2015-05-14 21:52] brockhaywood commented on #927
Using the above patch with the following wsgi produces the specified error:

[code]

I'm now seeing a different and new error but have no idea if it's related:
[code]
This is occurring, 1in 10/15 requests is doing a count on a model.

[2015-05-15 04:35] benoitc commented on #927
@brockhayaood cool! btw ahat's your version of gevent? For your latest error it dies not seem related to gunicorn indeed.

[2015-05-15 04:48] brockhaywood commented on #927
Yah, good news! On version 1.0.1 of gevent.

[2015-05-15 10:51] benoitc commented on #927
@tilgovi so I wonder if we shouldn't patch gunicorn removing the thread monkey patching. Maybe we should also set `wsgi.multithread` to `False`? Thoughts?

[2015-05-15 21:03] jhekkanen opened #1030 "Auto restart is not working with gunicorn.workers.gthread.ThreadWorker"
Hi,

Using a slightly modified test application so that I can see what is
happening:

    print '--- started'

    def app(environ, start_response):
        """Simplest possible application object"""
        print '* handling request'
        data = 'Hello, World!\n'
        status = '200 OK'
        response_headers = [
            ('Content-type','text/plain'),
            ('Content-Length', str

[2015-05-16 09:35] jhekkanen commented on #1030
With the changes applied, the worker gets restarted as expected:

    $ gunicorn --workers=1 --threads=2 --max-requests=2 test:app
    [2015-05-16 12:37:25 +0000] [1104] [INFO] Starting gunicorn 19.3.0
    [2015-05-16 12:37:25 +0000] [1104] [INFO] Listening at: http://127.0.0.1:8000 (1104)
    [2015-05-16 12:37:25 +0000] [1104] [INFO] Using worker: threads
    [2015-05-16 12:37:25 +0000] [1109] [I

[2015-05-17 04:02] tilgovi commented on #1015
The `PyWSGIHandler` used by `GeventPyWSGIWorker` is setting "gunicorn.sock" instead of "gunicorn.socket". Is this just a mistake?

[2015-05-17 06:44] benoitc commented on #1015
@tilgovi it's a bug :)

[2015-05-17 19:27] brockhaywood commented on #927
@benoitc I'm able to reproduce the new error that I referenced above with a very simple Django application that has just one view and does a simple model query and count if I run multiple concurrent requests.

Do you have any suggestions as to which component is  the most likely culprit? Is this likely a gevent problem or psycogreen?

[2015-05-17 19:37] benoitc commented on #927
More likely psycogreen. Are you using such hook to setup it?

    def def_post_fork(server, worker):
        from psycogreen.gevent import psyco_gevent
        psyco_gevent.make_psycopg_green()
        worker.log.info("Made Psycopg Green")

[2015-05-17 19:40] brockhaywood commented on #927
Oh, I'm actually using

[code]

I'll try your suggestion.

[2015-05-17 19:44] benoitc commented on #927
Your code is more accurate if I read the code of psycogreen:

https://bitbucket.org/dvarrazzo/psycogreen/src/115d0627da1ac9ff48c0cb9287257cd35868cdf9/psycogreen/gevent.py?at=master#cl-17

[2015-05-17 19:45] brockhaywood commented on #927
Ok, I'll try opening a ticket with psycogreen

[2015-05-17 19:58] benoitc commented on #927
can you try to use the hook `post_worker_init` instead of `post_fork`?

[2015-05-17 20:15] brockhaywood commented on #927
Still occurs for me when patching psycogreen in post_worker_init.

I've submitted a ticket to psycogreen as well:
https://bitbucket.org/dvarrazzo/psycogreen/issue/2/databaseerror-used-with-asynchronous-query

[2015-05-17 20:21] benoitc commented on #927
@brockhaywood OK :/ Also found this link: https://bitbucket.org/dvarrazzo/psycogreen-hg/issue/1/databaseerror-execute-used-with  . I am not sure if it could help you though.

[2015-05-17 20:24] brockhaywood commented on #927
I did take a look at that and it seems like the same problem but I didn't see a resolution, unfortunately.

[2015-05-17 20:26] benoitc commented on #927
@brockhaywood can you share any simple example of code that could help me to reproduce the issue? I will have a look on it tomorrow.

[2015-05-17 20:34] brockhaywood commented on #927
Here the simple project that I'm using to reproduce:
https://github.com/brockhaywood/gunicorn_gevent_issue

[2015-05-17 20:35] benoitc commented on #927
thanks!

On Sun, May 17, 2015 at 10:34 PM brockhaywood <notifications@github.com>
wrote:

[2015-05-18 07:55] pikeas commented on #922
Was this ever fixed?

[2015-05-18 09:11] benoitc commented on #922
I din't tested it yet. thanks for the head-up it's on the todo for today
now!

On Mon, May 18, 2015 at 9:55 AM Aris Pikeas <notifications@github.com>
wrote:

[2015-05-19 07:09] ccl0326 opened #1032 "graceful shutdown for tornado is not thread-safe."
ERROR:tornado.application:Exception in callback None
Traceback (most recent call last):
  File "/Library/Python/2.7/site-packages/tornado/ioloop.py", line 840, in start
    handler_func(fd_obj, events)
  File "/Library/Python/2.7/site-packages/tornado/stack_context.py", line 275, in null_wrapper
    return fn(*args, **kwargs)
  File "/Library/Python/2.7/site-packages/tornado/netutil.py", line 211,

[2015-05-20 04:35] fatelei opened #1034 "RuntimeError: maximum recursion depth exceeded"
Work gunicorn with tornado，when tornado server worker accpet a new connection it sometimes will lead to `RuntimeError: maximum recursion depth exceeded`.

The gunicorn always calls the code below until reaches the maximum recursion depth:

[code]

Related package version:
+ tornado == 4.0.2
+ gunicorn == 19.1.0

[2015-05-20 04:36] fatelei commented on #1034
How can I fix this bug?

[2015-05-20 10:55] benoitc commented on #617
@malthe  what is the ELB  configuration?

[2015-05-20 10:56] #1030 closed

[2015-05-20 11:49] malthe commented on #617
@benoitc what part of it do you mean specifically? Also, note that we eventually decided on ``uwsgi`` (because of this issue mostly) and no longer use ``gunicorn`` so I am not really able to follow up much on this issue.

[2015-05-20 11:58] benoitc commented on #617
@malthe I didn't get the notification on the closed issue, sorry for that. (and a good reason to tell in the contributing doc to only link to closed issue but opening a new one).

About waiting to read more on the SSL sockets, did you configured keepalive? was connection draining enabled?Using the eventlet client to solve the issue could mean indeed that was a keepalive issue.

[2015-05-20 12:06] benoitc commented on #1034
@fatelei you can set in the post_fork hook the recursion limit using [sys.setrecursionlimit](https://docs.python.org/3/library/sys.html?highlight=setrecursionlimi#sys.setrecursionlimit)

@tilgovi @berkerpeksag what do you think about increasing it in the tornado worker directly?

[2015-05-20 12:22] berkerpeksag commented on #1034
I'm not familiar with both gunicorn/sock.py and Tornado, but I think we shouldn't play with sys.setrecursionlimit. Recursive error is probably sign of a bug in Gunicorn.

Perhaps something like

[code]

would work (didn't tested).

[2015-05-20 12:30] berkerpeksag commented on #1034
@fatelei could you please paste the full traceback?

[2015-05-20 12:31] malthe commented on #617
It might simply be a keep-alive timeout mismatch that causes ``gunicorn`` to slowly drain on available connections such that eventually, no new connections can be made.

[2015-05-20 12:35] berkerpeksag commented on #1034
If `*Socket.set_options()` fails with an exception, `*Socket.__getattr__` can cause the recursion error.

[2015-05-20 12:39] benoitc commented on #617
OK, thanks anyway and sorry for my very late answer again

On Wed, May 20, 2015 at 2:31 PM Malthe Borch <notifications@github.com>
wrote:

[2015-05-20 12:41] Starefossen opened #1035 "Document that REMOTE_ADDR is not necessarily the user IP"
#633 removed functionality which made Gunicron update `REMOTE_ADDR` to what a trusted upstream client sent in the `X-Forwared-For` header. This was a violation of [RFC 3875 CGI Version 1.1](http://www.ietf.org/rfc/rfc3875) which states the following:

[code]

Because of this change, if your Gunicorn server is behind any proxy you will only get the proxy's IP address as the `REMOTE_ADDR`.

I think

[2015-05-20 13:10] benoitc commented on #1034
@berkerpeksag right! the change looks OK for me. We should have a way to reproduce it though

[2015-05-20 13:13] fatelei commented on #1034
I have figured out the reason. When gunicorn graceful restarts the worker, in tornado ioloop there is a `READ` event occurs so that the server socket start to accept a new connection. This code locates in `tornado.netutil` line 194. I past it below.

[code]

But the `sock` variable has been wrapped by `gunicorn's BaseSocket` that locates in `gunicorn.sock`.
When it accesses the `accept` attribute,

[2015-05-20 19:46] tilgovi commented on #1034
Sounds good. Open a pull request and let's get this fixed.

[2015-05-20 19:46] tilgovi commented on #1034
Thanks for the investigation.

[2015-05-21 03:57] fatelei commented on #1034
I find [pull-1033](https://github.com/benoitc/gunicorn/pull/1033) will fix this bug. it ensure when server close the socket, the ioloop will not occur `READ` event.

I will close this issue, when gunicorn-19.4 is released.

Thanks everyone.

[2015-05-21 07:10] Winiex opened #1036 ""OSError: [Errno 11] Resource temporarily unavailable" raised when use gunicorn(gevent) with gitpython"
Hi,

I use gunicorn with gevent to serve a service that automatically push new commits to git remote repo, with the git stuff implemented with GitPython module.

But when I start up the process using this command below:

When a request comes in, this error is raised:

I guess this problem is caused by gevent, so I just remove the gevent part from the command:

This time, everything works pretty fi

[2015-05-21 20:23] tilgovi commented on #1036
Gunicorn version? Have you read through these issues? https://github.com/benoitc/gunicorn/issues?q=is%3Aissue+resource+unavailable+is%3Aclosed

Anything else you can tell us about your environment that might help? A simple application that you can use to reproduce it?

[2015-05-22 15:21] brockhaywood commented on #927
@benoitc any thoughts on this?

[2015-05-23 12:50] berkerpeksag commented on #1034
Fixed by https://github.com/benoitc/gunicorn/commit/d9b89599cce55036bd3fc13258e92626a5e1ba6a.

[2015-05-23 12:50] #1034 closed

[2015-05-23 12:51] berkerpeksag commented on #1032
Fixed by https://github.com/benoitc/gunicorn/commit/d9b89599cce55036bd3fc13258e92626a5e1ba6a.

[2015-05-23 12:51] #1032 closed

[2015-05-23 12:51] berkerpeksag commented on #1035
Fixed by https://github.com/benoitc/gunicorn/commit/85d857d7116dc58cd979650c5dc8b803c660a338.

[2015-05-23 12:51] #1035 closed

[2015-05-24 10:49] wpf710 opened #1038 "OSError [Error 29] llegal seek"
Hi

   I have a python application on hand ,based on falcon(https://github.com/falconry/falcon),  and actually , I used the application as a proxy to access another one.

  in the application,  it just using requests.request to access another url and feed back current response
  when I run the application with

gunicorn "abc.wsgi:make_api()" --bind="127.0.0.1:8000" --timeout=600 -w 1

  and run th

[2015-05-24 11:13] benoitc commented on #1038
Does your app send a file over the socket? If yes, is the user launching gunicorn is able to read it.

[2015-05-24 12:48] wpf710 commented on #1038
I don't think it send a file. and  with debugging , I saw that my app had already get the expected content as below.

actually, the following URL and content are my expected content through my app as a proxy, it return Json.

norman@ubuntu:~$ curl -i http://192.168.94.129:5000/
HTTP/1.1 300 Multiple Choices
Date: Sun, 24 May 2015 12:42:43 GMT
Server: Apache/2.4.7 (Ubuntu)
Vary: X-Auth-Token
Conten

[2015-05-25 06:23] benoitc commented on #1038
The error happen because your application is passing the `wsgi.file_wrapper`setting to the environ. The value given should be a [file-like object](https://www.python.org/dev/peps/pep-0333/#optional-platform-specific-file-handling).

Normally Gunicorn should detect if the file is a real file  or not:
https://github.com/benoitc/gunicorn/blob/master/gunicorn/util.py#L511-L521

Do you have any example

[2015-05-25 06:27] benoitc commented on #1036
The error is probably coming fro, the MMAP buffer reqd: `buf = os.read(fno, mmap.PAGESIZE)` . AT that point you probably need to add a trampoline so you can wait until the MMAP is readable.

[2015-05-25 07:03] wpf710 commented on #1038
I did not have an example application for you yet.

The library is falcon (https://github.com/falconry/falcon) if I understand right.

after grep the code,  it seem to be related with the code I paste above :
[code]

  since in the falcon response.py
[code]

and  I sat that it (falcon) also just refer to env[wsgi.file_wrapper]

so I am wondering that who set the env value?

[2015-05-25 07:49] benoitc commented on #1038
Gunicorn provides the file wrapper but it expects a file-like object. It may be something missing in the object provided by falcon or a bug in Gunicorn. I am currently investing it.

[2015-05-25 08:28] wpf710 commented on #1038
thank a lot

[2015-05-25 09:54] benoitc commented on #1038
Turn out that this issue is caused by request. The raw object provided [implements](https://github.com/kennethreitz/requests/blob/master/requests/packages/urllib3/response.py#L68) the `tell`and `fileno`s functions which let gunicorn thinks that itùs a real file object.

I am not sure where we should fix it right now. Also I wonder why this object is providing the `tell` function since you can' go

[2015-05-25 10:03] benoitc commented on #1021
OK So I think we have the consensus. Let's start on our new release cycle on the next Tuesday 2015-06-02. I will create the release ticket later in the day.

TODO:
- Please have a look on #1028. Would be cool to make all the process mostly automatic once we have tagged.
- Describe our release cycle in a doc

[2015-05-26 20:02] tilgovi commented on #1038
We seek on the `fileno()` response. Not sure how that could cause any problem since requests will throw an error when we try to call that if it can't return us an actual fd.

[2015-05-26 20:02] tilgovi commented on #1038
If that wasn't clear, I'm not sure how we could get to the line where this errors unless we have a valid `fd`.

[2015-05-26 20:10] benoitc commented on #1038
@tilgovi Not sure I follow but the raw object is quite like a wrapper over the socket. You can't seek over a socket which create the error above imo.

[2015-05-26 20:11] benoitc commented on #1038
and this error happen because the sendfile API is used if we expect a file there.

[2015-05-26 20:17] benoitc commented on #927
@brockhaywood sorry i didn't have time to test it. Since I'm locked in a flight tomorrow, I will anyway :)

[2015-05-26 21:07] brockhaywood commented on #927
Thanks
On 26 May 2015 1:17 pm, "Benoit Chesneau" <notifications@github.com> wrote:

[2015-05-26 21:31] tilgovi commented on #1038
Right. A socket has a file descriptor but isn't seekable. Of course.

I was just trying to point out that the lines of code we have in util are:

[code]

Requests is fine. There's no reason why we can't `tell` where we are in a stream that isn't seekable. It throws an exception if there's no `fileno`. The probably is definitely that we assume a fileno means we can seek. Maybe instead of a try/catc

[2015-05-28 16:44] benoitc commented on #1038
I need to check for linux but te thing is that `sendfile(1)` can only be used to stream a file to a socket. This why we should test if a file is given or not at first hand.

Anyway I  agree there is nothing preventing a file-object to expose the `tell`and `fileno` methods/properties. So it let us to try/catch on the first `seek` I guess except if there is an api that would allows us to test if we'

[2015-05-28 19:10] tilgovi commented on #1038
Depends on the schedule. If we can remove the seeks and it won't take too much time to figure that out, that seems better to me. If we patch it with a try/catch and remove those later it's not particularly helpful for @wpf710 unless we also make a release. If we don't, @wpf710 can do that patch themselves while we figure out whether these seeks are necessary.

[2015-05-28 19:11] tilgovi commented on #1038
So, if it matters that much, mark it as a blocker and on a milestone for the next release. If we hit a deadline and want to release we can try/catch. If, before that, someone investigates and can explain why we do or don't need them, then we'll know.

[2015-05-28 19:49] benoitc commented on #1038
oh i think the try catch is here to stay. Don't get me wrong :) this is
only about the second part. i would do that fix now.
On Thu 28 May 2015 at 22:11 Randall Leeds <notifications@github.com> wrote:

[2015-05-28 19:56] tilgovi commented on #1038
Don't get me wrong. Defensive programming is great. But in this case we are talking about a try/catch around a line that might not need to exist. So if that line goes away, the try/catch certainly will ;)

[2015-05-28 19:56] tilgovi commented on #1038
So, yeah, throw in the try/catch. I'll take a look and see whether it's necessary at all.

[2015-05-28 19:58] tilgovi opened #1040 "Investigate whether seek is necessary when sending a file"
From #1038.

We are adding a try/catch around a call to `lseek` in order to catch the case where we mistake a file-like object for a real, seekable, `sendfile()`-able thing.

However, it may not be necessary to seek at all.

Need to investigate the specifications for WSGI file_wrapper and anything else.

[2015-05-28 19:58] tilgovi commented on #1038
Opened #1040 and assigned to me to look into it.

[2015-05-29 08:38] benoitc commented on #1038
@tilgovi I saw your point :) Thanks for taking care about it. I will provide a patch later in the day that implement the try/catch solution

[2015-06-09 13:57] dPeS commented on #598
+1 waiting for this, how can I help?

[2015-06-09 15:17] berkerpeksag commented on #598
@dPeS you can send a pull request :)

[2015-06-09 22:56] adontz opened #1043 "Weird worker response caching for some pages"
I have Gunicorn running Django application. There is NGiNX in front, but issue can be reproduced on pure Gunicorn so I do not include NGiNX details here.

Gunicorn==19.2.1 (Also got the same result with 19.3 and 18.0)
Django==1.7.4

My Django application provides REST API page which gets username and password as HTTP "Authentication: Basic ...." header and outputs JSON data, some numbers read from

[2015-06-09 23:47] adontz commented on #1020
I think catching stdout/stderr should be turned off by default, because systemd already catches service output and saves in journal and forwarding to file is unexpected.

[2015-06-10 18:05] tilgovi commented on #1043
Gunicorn does no caching of its own. I think you must be caching something somewhere whether you know it or not. Perhaps a template cache? I don't know Django well enough to know all the places this could happen.

[2015-06-10 20:49] benoitc commented on #1043
Like @tilgovi said, gunicorn doesn't cache anything.

[2015-06-11 01:07] timonwong opened #1044 "AssertionError on signal SIGQUIT or SIGINT using gevent worker"
Traceback

[code]

It seems it's caused by 'time.sleep()'

Version: 19.3

[2015-06-11 14:22] jkozlowicz opened #1045 "Gunicorn's settings - workers vs threads"
Could someone clarify what workers and threads in gunicorn's settings are? The advised number of workers/threads in the docs is the same (with the same reasoning).

[2015-06-11 16:53] carljm opened #1046 "Consider updating proxy server examples to only serve correct host(s)"
The proxy server configs in the Gunicorn docs (https://github.com/benoitc/gunicorn/blob/master/docs/source/deploy.rst) and examples (https://github.com/benoitc/gunicorn/blob/master/examples/nginx.conf) set up a default server block to proxy to Gunicorn, meaning that all requests (regardless of Host header) will be proxied to Gunicorn.

In practice, this is usually a bad configuration. Web applicat

[2015-06-11 17:54] berkerpeksag commented on #1046
+1

(a little bit off topic, but it would be nice to avoid duplicate nginx examples)

[2015-06-11 18:27] tilgovi commented on #1044
I've seen this, too. It happens only during forced shutdown (INT, rather than QUIT/TERM). Only sometimes.

Is this what you see, too?

[2015-06-11 19:40] adontz commented on #1043
As I said caching middleware is not even enabled. I'll try to implement exhaustive logging next week to see which code exactly is actually executed, and which does not.

[2015-06-12 06:45] ZsoltFabok commented on #880
I'm working with @pierrei, and setting `keepalive = 2` solved our issue. Originally, it was `keepalive = 0`, and when we made external calls, gunicorn killed the threads before the mentioned calls had the opportunity to return.

[2015-06-12 08:45] urbaniak commented on #1009
Is there any progress on that?

I can do some investigation, cause I'm really missing raven on gaiohttp, but have no idea where to start, any advices?

[2015-06-12 11:22] asvetlov commented on #1009
Perhaps it's aihttp bug.
You may start from writing a test code to reproduce the issue in simple way.
That's help me a lot to dig into the problem quickly.

[2015-06-13 21:52] btubbs opened #1047 ""Custom application" still tries to grab command line args"
I'm writing a mini framework that uses the "custom application" method described at http://docs.gunicorn.org/en/latest/custom.html.  My code is at https://github.com/btubbs/spa/blob/master/spa/utils.py#L15.

I'm finding that when I run py.test and using its [-k command line option](http://pytest.org/latest/example/markers.html#using-k-expr-to-select-tests-based-on-their-name) to select tests, Guni

[2015-06-14 01:40] berkerpeksag commented on #1047
Thanks for the report!

You need to do the configuration step in the `load_config` method (instead of the `init` method) as described at http://docs.gunicorn.org/en/latest/custom.html. `Application.load_config` creates an argument parser by default https://github.com/benoitc/gunicorn/blob/master/gunicorn/app/base.py#L134.

[2015-06-15 16:36] benoitc commented on #1046
+1 can you send a pr?

[2015-06-15 22:10] btubbs commented on #1047
You're right.  Switching from init to load_config solved the issue.  I must have based my code on an earlier snippet from before the "custom application" use case became officially supported.

[2015-06-15 22:10] #1047 closed

[2015-06-15 23:01] carljm commented on #1046
PR sent: https://github.com/benoitc/gunicorn/pull/1048/files

[2015-06-16 03:00] berkerpeksag opened #1049 "Make Application classes more subclass friendly"
Currently, we need to provide our own `__init__` implementation. I think we can simplify the Application classes a bit to make them more subclass friendly(e.g. provide CmdlineApplication and StandaloneApplication classes).

There is no way to see which methods are public, so we should document them.

Also, there are too many methods to import/get a config file: https://github.com/benoitc/gunicorn/

[2015-06-16 11:38] benoitc commented on #1046
@carljm thanks! I just merged it.

@berkerpeksag agree. I am opening a ticket for that.

[2015-06-16 11:38] #1046 closed

[2015-06-16 11:40] benoitc opened #1050 "merge nginx configuration files in example"
Following the discussion on #1046 , we should probably have only one configuration file. Thoughts?

[2015-06-16 21:44] benoitc commented on #1049
:+1:

[2015-06-18 03:53] cactus commented on #598
I've been fiddling around with a [branch](https://github.com/benoitc/gunicorn/compare/master...cactus:so_reuseport) that attempts to add support for so_reuseport. It hasn't been tested much, and likely needs more work.

[2015-06-18 08:01] reorx commented on #1044
[code]

this is a quick dirty fix, after making it more clear I'll send a PR with more detail.

[2015-06-18 19:16] pikeas opened #1051 "Gunicorn swallowing exceptions"
When I I override LOGGING in my Django settings.py, gunicorn swallows exceptions (runserver displays them). If I revert to Django's default LOGGING config, everything works as expected. Here's my LOGGING setup:

[code]

Is gunicorn hooking into logging in a way that's incompatible with this? Even if that's the case, *exceptions* are being swallowed (never displayed) by gunicorn, not logging messag

[2015-06-18 20:10] pikeas commented on #1051
Solved. The LOGGING dictionary needs `disable_existing_loggers: False`. This way gunicorn's logging handlers won't be disabled (default when configuring LOGGING).

May be worth a mention in gunicorn's docs?

[2015-06-18 20:12] tilgovi commented on #1051
Absolutely. Let us know where you think it should go, please! Happy to just have you say so or open a PR that closes this issue and we'll merge it. Thanks!

[2015-06-18 20:16] pikeas commented on #1051
@tilgovi Hm...that's a bit tricky. Based on the current organization of the docs, Settings/Logging doesn't make much sense, as Settings only describes specific options and their usage.

How about adding a new section, Deploying/Django Configuration to mirror the existing Nginx Configuration section?

[2015-06-18 20:20] tilgovi commented on #1051
That sounds okay to me. I would also link to it with a note in the "Django" sub-section of the "Integration" section of "Running Gunicorn" to increase the likelihood that a first-time user discovers it.

[2015-06-18 23:04] urbaniak commented on #1009
Hi, here's the example `app.py` that is not working with Sentry middleware which yields the response:

   from raven.middleware import Sentry

    def app(environ, start_response):
        data = b"Hello, World!\n"
        start_response("200 OK", [
              ("Content-Type", "text/plain"),
              ("Content-Length", str(len(data)))
        ])
        return iter([data])

    app = Sentr

[2015-06-22 09:54] benoitc commented on #1009
What's the result when you're using another worker?

[2015-06-22 09:59] benoitc commented on #1051
I would just put the information in the [integration subsection](http://docs.gunicorn.org/en/19.3/run.html#django) . Deploying is about operations more than configuration. Thoughts?

[2015-06-22 10:06] urbaniak commented on #1009
It's working as expected - returning 200 OK and "Hello world" response via http - with sync worker.

That only affects gaiohttp.

[2015-06-22 10:09] benoitc commented on #1009
@urbaniak thanks for your answer. It will be fixed soon.

[2015-06-22 10:11] urbaniak commented on #1009
cool!

[2015-06-22 16:48] tdbs opened #1053 "Update PPA for Ubuntu 14.04"
W: Failed to fetch http://ppa.launchpad.net/gunicorn/ppa/ubuntu/dists/trusty/main/binary-amd64/Packages  404  Not Found

[2015-06-23 02:27] olivetree123 commented on #863
I met this problem too , why does it happen ? ( python 2.7.5 , gunicorn 19.1.1 )

[2015-06-23 02:42] benoitc commented on #863
@olivetree123 the issue has been fixed in latest stable release.

[2015-06-23 10:03] playpauseandstop opened #1054 "Invalid HTTP Method 'patch'"
Gunicorn raises an `InvalidRequestMethod` exc while my application requested,

[code]

The reason is that `patch` is not matched [`METH_RE`](https://github.com/benoitc/gunicorn/blob/3c2533d12278751858b31be17418fab54cd4bd2d/gunicorn/http/message.py#L25) regexp, which requires only uppercased letters, but this is weird as [on next line](https://github.com/benoitc/gunicorn/blob/3c2533d12278751858b31b

[2015-06-23 15:47] frensjan opened #1055 "wsgi.url_scheme doesn't follow X-Forwarded-Proto for gaiohttp"
When using the gaiohttp worker with gunicorn behind a proxy I encountered ```wsgi.url_scheme``` not equallying ```X-Forwarded-Proto``` for https traffic. I.e. when rendering ```{{ request.META }}``` (in a Django template) the following seems incorrect to me:
[code]

When starting gunicorn with the sync worker instead of gaiohttp the issue is resolved.

I'm using the following versions:
[code]

[2015-06-23 15:49] fafhrd91 commented on #1055
there is no reason to use gaiohttp worker with Django.

[2015-06-23 16:01] frensjan commented on #1055
ok, thanks, found that out too ... nevertheless the issue remains that ```wsgi.url_scheme``` should be ```https``` when ```X-Forwarded-Proto``` is ```https``` ... right?

[2015-06-25 15:57] emamirazavi opened #1056 "monkey.patch_all and gunicorn with more than 1 worker"
I'm using Flask+Gunicorn+Gevent
I've called monkey.patch_all at the first of app passed to gunicorn command line because of using some co-routine tasks in my app.
My worker class is gunicorn.workers.ggevent.GeventWorker.
When i configure gunicorn to use more than one worker (multiprocessing.cpu_count() \* 2 + 1 that in my laptop is equal to 9) everything is mixed up. My logger (python logging) log

[2015-06-25 21:51] tilgovi commented on #1056
Where are you calling `patch_all()`? You shouldn't need to do so yourself. The gevent worker will call it for you just after the worker process forks and before initializing your application.

I suspect what is happening is that with `preload_app` your application is loaded before the `on_starting` hook is called. If your application is calling `patch_all` then maybe you're creating a greenlet ins

[2015-06-25 22:45] emamirazavi commented on #1056
As i already told i want to use Gevent in my app when i use `preload_app = True` in configuration and you know better than me that Gunicorn just uses Gevent for it's forks. When i call patch_all for **my app** threading must be Gevent formatted unless i use `thread=False` in patch_all's argument.
If i don't call patch_all by myself and leave it for Gunicorn to do some check reads this:
[code]

[co

[2015-06-25 22:52] emamirazavi commented on #1056
if gevent patch_all had been called with Gunicorn logger should log `gevent.socket`
I want to use Gevent feature in server side of my app that is different to web workers. It means i have some robots and some *co-routine tasks* that regardless to Gunicorn workers should be done and looped. It's better you offer a good solution to me in where i should call `monkey.patch_all`

[2015-06-25 23:20] jamadden commented on #1056
For various reasons we also need to make sure that gevent has monkey patched everything sooner than gunicorn wants to do it. Our (preloaded) app uses `pyramid`, which loads things with a script called `pserve`. We wrap this script in our own script, monkey patch there, and then hand things over to pserve, which hands them over to gunicorn. You could probably use a similar technique of wrapping wha

[2015-06-25 23:40] tilgovi commented on #1056
Gunicorn will call `patch_all` for you but it will do so *after* `on_starting` and *if you use preload* this is also after your app loads, I think. That will present problems if you have imports at that point already (like `threading` or `socket` in your examples). I was trying to suggest a way to use just `threading` to purposefully get the original stdlib `threading` because it seemed you wanted

[2015-06-26 01:43] tilgovi commented on #1056
Maybe we should introduce a way to use the gevent worker without automatic monkey patching. Then users can control when and what is patched for themselves.

[2015-06-26 10:09] emamirazavi commented on #1056
I think Gunicorn is not Gevent safe at other layers than create workers layer in `init_process` method.
[code]
If we patch all before starting Gunicorn, we must assure that Gunicorn is Gevent safe. When i patched all before starting Gunicorn, signalling did not work and systemd could not reload the app correctly. For now, regretfully, i'm supposed to run another process to do tail of my program!!!

[2015-06-26 10:20] benoitc commented on #1056
@emamirazavi this is a wrong assumption. Monkey patching systems calls is not safe not the contrary, and it shouldn't be done at all in the arbiter since it would break all the signalling an other stuffs.

**Monkey patching systems calls (sockets, threads, signaling) in the arbiter by itself is actually very dangerous and is strongly discouraged and not supported right now**. The nature of python

[2015-06-26 10:23] benoitc commented on #1056
@emamirazavi also since gunicorn is already monkey patching in the worker why not only monkey patching threads in your application?

Another thing is that monkey patching globally like this is not really needed. Why not monkey patching once your application is initialised or on first request?

[2015-06-26 10:33] emamirazavi commented on #1056
@benoitc I do some concurrent tasks more than requesting and responding at web layer.

@benoitc You know that i don't want do my tasks in the worker! In every place except worker, monkey patching is not called!
@benoitc Everything being occurred has be issued at the first of this subject. Repeated logs and unusuall behaviors.

@benoitc How can i use gevent benefits with monkey patching on first re

[2015-06-26 10:36] emamirazavi commented on #1056
@benoitc Can i have some live workers and lock them to prevent be killed along side of web server workers?! I think this can solve my problem.

[2015-06-26 10:40] benoitc commented on #1056
@emamirazavi looks at the ticket history to understand why we don't do any thread monkey patching. Lot of applications don't support it.

Gevent loop will be used at the first request, we already take care about that.

Monkey patching before or after a request for threads doesn't change anything for your application. For pre-initialisation steps I suggest to launch a new process like suggested @ti

[2015-06-26 10:43] benoitc commented on #1056
@emamirazavi in short the design of gunicorn prevent by default to share anything between the worker. Which doesn't mean it is isn't possible. There are different methods to do it using redis, sharing a pipe, or a memory mapped file, ...

[2015-06-26 10:47] benoitc opened #1057 "release now?"
Guys we are not very good in doing incremental releases. I would like to make a new release now with what we have in the current master. Do you seen any simple fixes that could also be added?

Also from now let's go back to the root and just release when fixes come. At least every month. Thoughts?

[2015-06-29 02:40] Schabernack opened #1058 "gunicorn crashed on start with --reload flag"
Setup: Vagrant, virtualenv, gunicorn 19.3.0:

The following command produces this stack:

`gunicorn -c /data/shared/api/gunicorn_config.py -b unix:/tmp/api-dev-gunicorn.sock --log-level INFO --reload  wsgi:app `

[code]

If I remove --reload it boots up fine.

[2015-06-29 02:54] wong2 commented on #1058
can you paste your config file (`gunicorn_config.py`) ?

[2015-06-29 03:06] Schabernack commented on #1058
[code]

[2015-06-29 03:40] benoitc commented on #1058
@Schabernack can you increase the log level to debug? Maybe the trace will be more interesting there. It seems that `module.__file__` doesn't return a string there but I don't know why yet. Does one of your modules rewrite it?

[2015-06-29 07:24] urbaniak commented on #1057
:+1:

When that release is planned? I'm wondering is it worth to build custom package with #1010 fixed or just wait for release.

[2015-06-29 07:33] benoitc commented on #1057
@urbaniak i will do it tomorrow.

[2015-06-29 17:42] berkerpeksag commented on #1057
+1

Can you also create a stable or development branch so we can work on 20.0 more easily?

[2015-06-29 22:12] CrazyPython commented on #588
Also seeing this problem

[2015-06-30 02:33] rivf opened #1059 "500 internal error ONLY when running gunicorn as a service"
Hello, guys. Don't know what's wrong.
I am using default digital ocean setup. I've used it a lot of times by now. But this time I needed to implement post request from my client mobile app. I've installed cors-headers app for django and tested my app locally for a long time, everything was great (btw my mobile app is written on ionic framework and uses angularjs to post). On server everything was

[2015-06-30 14:00] nebstrebor commented on #588
We ended up switching to uWSGI for Heroku and have had better success ... not a fix for Gunicorn, I realize, but I thought the suggestion may be helpful to someone who's seeing this issue and is putting them in a bind.

[2015-06-30 14:08] benoitc commented on #588
@nebstrebor well did you try the suggestion to lower the timeout?

@CrazyPython the ticket has been closed. Can you open a new ticket describe the issue you have and how we can reproduce it? It would definitely help to figure if it's the same issue, something else and co :)

[2015-06-30 15:20] nebstrebor commented on #588
Yes, it didn't make a difference, as noted above. The problem was sporadic
enough (was never able to reproduce) and catastrophic enough that we had to
make that move (its been more than a year).  I really like Gunicorn though,
and we use it outside of Heroku without issue.

Ben Roberts
CTO & Co-founder
Nutrislice, Inc.
ben@nutrislice.com
cell - 801-735-7845

On Tue, Jun 30, 2015 at 8:08 AM, Benoit

[2015-07-01 02:50] dcosson opened #1060 "Access Log line missing when client times out"
I noticed that when running gunicorn with access log enabled, if the client times out and disconnects gunicorn doesn't log anything to the access or error logs. This seems like a bug, the request code typically still runs normally (e.g. there may be new data in the database from this request) so it seems like there should be a record of it in the access log. Other web servers (nginx is the one I t

[2015-07-01 09:49] wong2 commented on #1059
is there any tracebacks while getting 500 error?

[2015-07-01 12:55] wosc opened #1061 "Include request URL in error message"
It would be really helpful if the logged error message were "Error handling request http://host/path/etc" instead of just "Error handling request".

[2015-07-01 20:13] simmbot opened #1062 "HTTPS calls made from gunicorn with GeventWorker are blocking"
Replicated with both the ```requests``` library (shown in test code) and the ```urllib2``` library.

HTTP calls from gunicorn with gevent do not block. HTTP & HTTPS calls made from a gevent-ified python console do not block.

# Versions:
* python 2.7.9
* gunicorn 19.3.0
* gevent 1.0.2
* requests 2.7.0

# Gunicorn config:
[code]

# Test results:
## Greenlets
### Python console
```>>> greenlet_test(

[2015-07-02 00:45] berkerpeksag commented on #791
I think we can create a test framework to test workers, configs, cmdline etc. properly and then people can use that framework to increase the test coverage in PyCon/EuroPython/DjangoCon sprints.

I'll do some cleanup in the test suite.

[2015-07-02 00:48] berkerpeksag opened #1063 "Integrate coveragepy into Travis CI"

[2015-07-02 00:48] berkerpeksag commented on #791
Related issues:

* https://github.com/benoitc/gunicorn/issues/950
* https://github.com/benoitc/gunicorn/issues/947
* https://github.com/benoitc/gunicorn/issues/1063

[2015-07-02 15:14] urbaniak commented on #1057
ping, how's that release plan looking now? ;)

[2015-07-02 15:19] benoitc commented on #1057
heh, tonight or tomorrow early in the morning. Everything is OK, just need
to launch some tests before.

- benoit

On Thu, Jul 2, 2015 at 5:14 PM Krzysztof Urbaniak <notifications@github.com>
wrote:

[2015-07-02 15:21] benoitc commented on #791
Totally. I will to help. Things are slowly coming back under control :)

[2015-07-03 04:49] berkerpeksag opened #1065 "Move tests/treq.py functionality into tests/support.py"

[2015-07-06 02:50] georgexsh commented on #1060
I guess you are using sync worker, as this type of worker cant terminate timed-out connection by it self, but be killed by arbiter use `SIGKILL`, so there is no chance for worker to write out log entry; arbiter error log mighty have lines like `WORKER TIMEOUT`.

[2015-07-07 04:38] andyxning opened #1067 "'Connection reset by peer' in Nginx + Gunicorn"
we use Gunicorn 19.3.0 and with a Nginx in front of it. However, wen our client to do some requests we get 'error(104, Connection reset by peer)'.

* We have configured Nginx to log error message. However, we found nothing in it.
* So, the only reason may cause this is that the connection is reset by Gunicorn. However, we found nothing about this in Gunicorn error log(log level is INFO).

We need

[2015-07-07 05:49] tilgovi commented on #1061
Agreed. Open a PR with this change for each worker and I would be glad to merge it.

[2015-07-07 05:52] tilgovi commented on #1060
We should look into this. From the description provided by @dcosson curl is timing out, not the gunicorn worker.

[2015-07-07 05:55] tilgovi commented on #1067
Could you give some more information please?

- What worker are you using?
- Any framework?
- Does this correlate with load, or any other resource consumption?
- Where is this deployed? On your own servers, some PaaS provider?

Is there a possibility that the client is disconnecting and there is no issue on the server?

[2015-07-07 05:57] tilgovi commented on #1062
Is there anything for gunicorn to do here, then, or can we close it?

[2015-07-07 06:02] andyxning commented on #1067
* we do not make an explicit declaration about worker type. Just like this:
    gunicorn --access-logfile=/var/log/supervisor/access.log --error-logfile=/var/log/supervisor/error.log pid=/var/run/gunicorn.pid --max-requests 2000 -w 24 -b 0.0.0.0:8080 wsgi:app
* Flask
* No, at least from my own perspective. I have not seen a high load when reset was encountered
* In our own vm servers(OpenStack bas

[2015-07-07 08:50] benoitc commented on #1053
this poa should be removed or updated :) @tilgovi do you think we still
need it?
On Mon 22 Jun 2015 at 18:48 Tiago Silva <notifications@github.com> wrote:

[2015-07-07 15:45] tilgovi commented on #1053
The use case is to let non-admin users serve WSGI on privileged ports, I
guess. But I don't think it's that strong.

What do you think?

On Tue, Jul 7, 2015 at 1:50 AM Benoit Chesneau <notifications@github.com>
wrote:

[2015-07-07 19:06] dcosson commented on #1060
Right. It would also be nice if a worker timeout could log all the access log fields instead of just the process id when it gets restarted. But I was talking here about when the client times out or otherwise disconnects, not the gunicorn worker.

[2015-07-07 19:26] benoitc commented on #1060
Hrmm not sure to see the issue there. Isn't the access log about **logging processed requests** by the server?

If the client timeout then the requests isn't fully processed and the error is then logged in the error logs (depending on the level). Are there any server that log requests that client timeout in the access log?

[2015-07-07 19:28] benoitc commented on #1067
Just to be clear this is your client that receive such error?

Can you increase the log level either in nginx and gunicorn?

[2015-07-07 19:36] #950 closed

[2015-07-07 19:37] tilgovi commented on #1060
Nginx.

[2015-07-07 19:38] tilgovi commented on #1060
499, as described. It's helpful to log these because if clients are timing out it might be because the requests are taking too long.

[2015-07-07 19:41] dcosson commented on #1060
And to address the only logging actually processed requests point:

If a client times out, the request absolutely is still fully processed, the client just didn't get any data back. Even if it was a GET request, it still would be nice to know as it can be very helpful triage bugs, if e.g. a user reported a page was blank and you see a 499 status in the request log for the request to that page, you

[2015-07-07 19:45] tilgovi commented on #1060
@dcosson do you think you could make a PR for this?

[2015-07-07 19:47] tilgovi commented on #1060
In all of the modules in `gunicorn/workers` you'll find calls to `log.access` toward the end of a `try`. I think you would need to move that to a finally clause and set the status code in an `except` clause that catches the client disconnect.

[2015-07-07 19:48] dcosson commented on #1060
Cool, thanks for the pointers. I'll give it a shot

[2015-07-07 19:51] tilgovi commented on #1060
Thanks! Let us know if you run into problems. I'd be happy to help.

[2015-07-07 19:54] benoitc commented on #1060
@tilgovi fair enough then . And for the record:

http://httpstatus.es/499

So it should be done on all reauqets that fail to return to the client because its socket is down.

@dcosson thanks!

[2015-07-07 19:56] tilgovi commented on #1060
Huh. I wonder if that means this should really be changed in `gunicorn.http.wsgi:send_headers`. :-/

[2015-07-07 20:01] benoitc commented on #1060
@tilgovi you mean "only" there ?

[2015-07-07 20:04] benoitc commented on #1060
@dcosson about the other case. If a worker timeout there is no way to know which request was handled at that time since these information is not shared with other workers or the arbiter. In that case you should rather log the events you need inside the application imo.

[2015-07-07 20:09] dcosson commented on #1060
@benoitc that makes sense, thanks for clarifying

[2015-07-08 07:32] berkerpeksag opened #1070 "Print accesslog to stderr by default"
Currently, we are printing everything to stderr by default except accesslog. It would be nice to be consistent and avoid passing `--access-logfile=-` to `gunicorn`.

[2015-07-08 13:27] tilgovi commented on #1070
:+1:

[2015-07-08 17:45] pankit commented on #617
Hi @dsuch ,

I am trying to access the client cert so that I can load it and verify a few things.
I know that gunicorn can do basic handshake stuff by verifying the signing authority on the client cert but I want to open it inside my python app.
My set up is gunicorn server + flask app

Let me know if you have an idea.

Thanks,
Pankit

[2015-07-08 17:57] dsuch commented on #617
Hi @pankit - I have not used this part of gunicorn in quite a while but essentially, when you accept and HTTP request, there should be a WSGI key called ```gunicorn.socket``` or in a similar manner (sorry, I really forget).

This key points to the TLS socket that accepted the connection, i.e. this is the object that is returned by ```ssl.wrap_socket``` so you can call ```.getpeercert()``` on it to

[2015-07-08 18:20] pankit commented on #617
Are you pointing to gunicorn.sock?

[2015-07-08 18:26] dsuch commented on #617
@pankit - I honestly can't recall its name. I remember the principle but not any exact details, it was two years ago. Thanks.

[2015-07-08 18:27] pankit commented on #617
Thanks! Not a problem.  I l try to find it. But ultimately you were able to make it work. right?
Were you also using flask app?

[2015-07-08 18:32] dsuch commented on #617
Yes, I was able to make it work without problems. Ultimately for reasons unrelated I went a different route but I even found a piece of code that read TLS certificates from client connections.

I wasn't using Flask but it doesn't matter. The certificate is part of the WSGI environment, it's just a dictionary, no matter the framework.

https://github.com/zatosource/zato/blob/3a804fecaeb331f93c1393d

[2015-07-08 18:55] #1061 closed

[2015-07-08 19:27] benoitc commented on #1059
ther should be when log level is debug.

[2015-07-09 07:59] #836 closed

[2015-07-09 08:58] dmdm opened #1073 "Paste entry point fixed to 'main'"
Hello,
currently, it is impossible to start gunicorn --paste with a different app name than 'main', e.g. --paste development.ini#foo does not work.
It seems, https://github.com/benoitc/gunicorn/blob/master/gunicorn/app/pasterapp.py#L35 is the reason. If I comment this line out, #foo works for me.

[2015-07-09 16:09] tilgovi commented on #1073
According to this commit, it should work: e5442332fe16ffa92cd4516c68ef45d93cc57349

The line you commented out should only affect the server that gets loaded, not the app. I'll take another look, though, when I can.

[2015-07-09 16:44] pankit commented on #617
Just putting for someone who has  similar doubt in future.
The way I got hold of the socket object is the same as pointed out by @dsuch
I was using flask + gunicorn
Here is  code snippet
@app.before_request
def checkssl():
  sock = request.environ['gunicorn.socket']
  cert = sock.getpeercert(binary_form=True)
  x509 = crypto.load_certificate(crypto.FILETYPE_ASN1, cert)

Now you can use X509 object

[2015-07-09 18:34] tilgovi commented on #1073
It seems to work fine here. Can you show your .ini file and how you call gunicorn?

[2015-07-10 01:58] mleventi commented on #922
+1 on getting this in

[2015-07-10 04:41] andyxning commented on #1067
we use `notice` log level in Nginx, but got nothing logged. I think may be the request is not got into Nginx and internal router or network device made this happen.

[2015-07-10 04:41] andyxning commented on #1067
we use `notice` log level in Nginx, but got nothing logged. I think may be the request is not got into Nginx and internal router or network device made this happen.

[2015-07-10 05:17] romabysen commented on #1070
Might be better to put it on stdout by default or at least have a way other than using /dev/stdout to get the accesslog to stdout.

[2015-07-10 05:28] tilgovi commented on #1070
Hmmm. Maybe stdout is more appropriate. I don't know. It makes some sense to me not to mix them and to have stderr be for error log only.

[2015-07-10 05:34] dmdm commented on #1073
Thank you for looking into it. My INI is like this:
[code]
If the mentioned line is active (and cuts off he '#name'-part),
[code]
starts "main". With that line commented out, "socksrv" is started correctly.

[2015-07-10 05:38] tilgovi commented on #1073
I use Pyramid also. I'm surprised that your .ini works. For me, with multi-line `pyramid.includes` I have to make sure the `#` is the first character of the line (before any space) or it isn't treated as a comment.

But, let's assume that's not the issue at all. I can't reproduce this at all on Gunicorn 19.3.0. It works just fine.

What version of Gunicorn are you using?

[2015-07-10 05:48] dmdm commented on #1073
The same. Just tried it again and got this log, confirming the error:
With commented out line, gunicorn works as expected:
[code]
and with it active:
[code]
As you can see, gunicorn now uses the configuration from the "main" section.

[2015-07-10 05:48] tilgovi commented on #1073
It seems you're talking about a different server name, not a different app name.

[2015-07-10 05:53] tilgovi commented on #1073
When I added support for using different apps I contemplated making it possible to use different servers but I couldn't decide on a syntax that I liked. Instead, I decided that since the server configuration can be entirely controlled by the command line I didn't think it was necessary.

In your case, you could do `gunicorn --paste development.ini#socksrv -b 127.0.0.1:6544 -k guv.GuvWorker`.

If y

[2015-07-10 05:53] dmdm commented on #1073
Sorry if I mixed up the words. I'd like to serve app "main" from server "main" and app "socksrv" from server "socksrv".

[2015-07-10 05:56] tilgovi commented on #1073
The problem is that I don't want to assume there is always a server and an app with the same name. I also do not like any syntax like `--paste config.ini#app#server` or `--paste config.ini#app@server` or anything like that.

But `--paste` and `--paste-server` would work.

Actually, `--paste` is short for `--paster`. I could make another alias, `--paster-app` and add `--paster-server` and that migh

[2015-07-10 05:58] dmdm commented on #1073
Ah, you give --paste before -b... Tried the command yesterday too but had --paste at the end and was surprised that the command line does not override the ini file settings.

If possible, I would like to use only the ini file, because then all configuration is in one place.
Does it cause any harm in other aspects, if that L35 is removed?

[2015-07-10 06:00] dmdm commented on #1073
--paste config.ini#app#server... I see what you mean ;) Hadn't thought about cases where app and server have different names.

[2015-07-10 06:01] tilgovi commented on #1073
If we remove L35 then when people are trying to launch a different app but not a different server they will get an error because the server maybe does not exist.

[2015-07-10 06:06] dmdm commented on #1073
You are right. The two pastries then would be great.

[2015-07-10 06:08] tilgovi commented on #1073
Mmmmm. ![Pastries](https://upload.wikimedia.org/wikipedia/commons/3/3a/Pastry_assortment.jpg)

I'm not sure when I'll get to it, but if you open a PR I'd be happy to review it.

[2015-07-10 06:15] dmdm commented on #1073
Reminds me of needing some breakfast. About the PR, I'll give it a try. cu

Btw, you don't happen to have experience in writing a websocket app with gunicorn and guv that shares code (esp. SQLAlchemy models) with the main app served by gunicorn syncronously - in regards to thread-safety and sharing the login session, do you?

[2015-07-10 06:17] tilgovi commented on #1073
No. I use ws4py with the gevent worker to serve websocket requests in the same app as the rest of my routes.

[2015-07-10 06:17] tilgovi commented on #1073
There are only some ws4py bugs that I have to work around with my own server class that extends the gevent one: https://github.com/hypothesis/h/blob/master/h/server.py

[2015-07-10 06:18] tilgovi commented on #1073
And the route is here: https://github.com/hypothesis/h/blob/master/h/streamer.py#L605

[2015-07-10 06:25] dmdm commented on #1073
Thanks. Interesting project, btw. Your main app then is served by the gevent workers, too?

[2015-07-10 07:58] dmdm commented on #1073
About the new CLI parameters:

1. Rationale

   * We have the switch `--paste` that governs the path to the ini file and the name of the application. Lets keep it that way.
   * Add a new switch `--paste-server NAME` to explicitly a different server name (while the above always uses "main" as server name).

2. Implementation

While the CLI switches can be added to gunicorn's code base, setting a d

[2015-07-10 10:09] benoitc commented on #1070
hrm I wouldn't print by default the access logs. It can indteed slow down a lot the performances. Also it's only useful when you're using gunicorn standalone. Is there any other reason to want it?

[2015-07-10 16:14] tilgovi commented on #1073
As you discovered when you commented out that line, the PasteDeploy functions will happily give you back the right thing if you give it a config URI with a # in it. There is no patch to PasteDeploy needed.

[2015-07-10 16:33] dmdm commented on #1073
But not for "people [who] are trying to launch a different app but not a different server". PasteDeploy does not discern app name and server name, there's only one.
(It's ok for me, though ;)

[2015-07-10 18:31] tilgovi commented on #1073
Yes, it does. `loadwsgi.loadapp` and `loadwsgi.loadserver` both take a `name` argument and both split on "#" in the config URI if `name` is `None`.

[2015-07-10 18:33] tilgovi commented on #1070
I'm not moved by the performance argument because I think that defaults should not tune for performance over usability. Just as I would increase the number of workers in a production deployment I might turn off my access log _if_ I have a reverse proxy in front.

[2015-07-10 21:44] dmdm commented on #1073
Aha. `paste_config()` only loads the server section, not both, as I mistakenly thought. App section is loaded later on in `run()`. So, please see the PR.

[2015-07-11 21:00] tfarina opened #1077 "No luck in running gunicorn under supervisor with the examples provided"
I'm getting the following:

2015-07-11 17:58:50,595 INFO supervisord started with pid 7580
2015-07-11 17:58:51,598 INFO spawned: 'gunicorn' with pid 7583
2015-07-11 17:58:51,605 INFO exited: gunicorn (exit status 127; not expected)

[2015-07-11 21:02] tfarina commented on #1077
Changing user=nobody to user=tfarina seems to help a little:

2015-07-11 18:00:43,128 INFO success: gunicorn entered RUNNING state, process has stayed up for > than 1 seconds (startsecs)

But nginx still shows 502 Bad Gateway.

[2015-07-11 21:04] tfarina commented on #1077
Also I have to add 'sudo' to command=

[2015-07-11 21:06] benoitc commented on #1077
@tfarina can you paste here the configuration you give to supervisord?

[2015-07-11 21:07] tfarina commented on #1077
Sure.

$ cat ./supervisord.conf
[supervisord]
logfile=supervisord.log      ; (main log file;default $CWD/supervisord.log)
logfile_maxbytes=50MB        ; (max main logfile bytes b4 rotation;default 50MB)
logfile_backups=10           ; (num of main logfile rotation backups;default 10)
loglevel=info                ; (log level;default info; others: debug,warn,trace)
pidfile=supervisord.pid      ; (su

[2015-07-11 21:09] tfarina commented on #1077
the gunicorn.py above should read gunicorn.conf.py, of course. Sorry for the typo.

[2015-07-11 21:10] tfarina commented on #1077
In case it helps, here is the gunicorn configuration file I'm using:

$ cat gunicorn.conf.py
# http://agiliq.com/blog/2014/06/minimal-gunicorn-configuration/
bind='127.0.0.1:8000'
backlog=2048
#workers=1
#worker_class='sync'
#worker_connections=1000
#timeout=30
#keepalive=2
#spew=False
daemon=False
pidfile=None
umask=0
user=None
group=None
tmp_upload_dir=None
proc_name=None
accesslog='gunicorn_acc

[2015-07-11 21:15] tfarina commented on #1077
Note that when I running the following from the command line, it works:

$ sudo gunicorn minitwit:app -c gunicorn.conf.py

[2015-07-11 21:24] benoitc commented on #1077
You should try to start gunicorn with the `--user`and `--group` directive [1] and make sure that gunicorn can start as root or nobody user.

What are the logs of supervisord in error level?

[1] http://docs.gunicorn.org/en/19.3/settings.html#user

[2015-07-12 00:11] tfarina commented on #1077
Is there something else I could try? I didn't find any example on internet that mentions user and group.

Is this something related to nginx?

[2015-07-12 01:26] tfarina commented on #1077
Looks like the problem is setting up the right user for supervisor and gunicorn.

[2015-07-12 05:33] benoitc commented on #1077
@tfarina try to raise the log level of supervisord. It should give us more logs. Right now i don't know why it fails. it can also be an issue with the directory from where the project is loaded.

[2015-07-12 18:06] benoitc commented on #1073
I am not a fan of having a `--paste-server` command. Servers settings should only be done via gunicorn in my opinion. In fact we should only take care about getting the wsgi application at that point.

Why do you want to use the paster ini for it?

[2015-07-12 20:29] dmdm commented on #1073
Why did you let me implement it, then?

[2015-07-12 20:46] benoitc commented on #1073
@dmdm actually this is the first time i am commenting on that ticket. Also not the question mark ;)

[2015-07-12 21:43] dmdm commented on #1073
@benoitc Really? As head of a team you are held accountable for the actions of your team members.

As to your question: convenience. For me it is more convenient to have the server settings near any other settings, and to share them between waitress and gunicorn. Also, I am not a fan of configuration written in a programming language.

But also I do not insist on paster ini files. They are around

[2015-07-12 22:06] benoitc commented on #1073
On Sunday, July 12, 2015, Dirk Makowski <notifications@github.com> wrote:

The way tickets or PR are discussed is defined there:
https://github.com/benoitc/gunicorn/blob/master/CONTRIBUTING.md#decision-process

Actually I think having a PR adding support for a configuration file in
plain text would be a good idea. About paster Server I am still undecided.
Especially since this part is generally us

[2015-07-13 09:06] benoitc commented on #1077
bump

[2015-07-13 09:08] benoitc opened #1081 "travis ci is failing on python 2.6"
Latests tests fail under python 2.6 . Apparently this is a tox issue. Is there any version of tox that we should force on travis?

[2015-07-13 10:00] jhekkanen commented on #1081
Don't know about tox but the mock library has been recently updated and the pypi page states that it supports Python 2.7 and up. There is a SyntaxError being thrown from the mock code in the failing job. Looks like a dict comprehension which is a 2.7 feature if I'm not mistaken.

Maybe force older version of mock? Versions 1.0.1, 1.1.0 and 1.1.1 are all less than a week old.

[2015-07-13 10:05] jhekkanen commented on #1081
Releases in the github were all less than a week old but looks like the 1.0.1 is the one you need

[mock-1.0.1](https://pypi.python.org/pypi/mock/1.0.1):

    mock is tested on Python versions 2.5-2.7 and Python 3.
    mock is also tested with the latest versions of Jython and pypy.

[2015-07-13 12:16] #1081 closed

[2015-07-13 12:44] WoLpH commented on #407
When using vagrant synced folders with virtualbox (`vboxsf`) this problem still occurs.

This problem can be circumvented by using the `--worker-tmp-dir` parameter and setting it to a local (non synced) filesystem.

[2015-07-14 12:10] benoitc commented on #1077
@tfarina anything to add?

[2015-07-14 14:39] tfarina commented on #1077
Nope. Closing this. I think the problem is on my side. I will try supervisor mailing list perhaps.

[2015-07-14 14:39] #1077 closed

[2015-07-15 00:56] #1062 closed

[2015-07-15 08:43] benoitc commented on #1059
did you go further? Anything I can help?

[2015-07-15 20:08] benoitc commented on #1054
According to the specification:

     method token is case-sensitive because it might be used as a gateway to object-based systems with case-sensitive method names.

cf. https://tools.ietf.org/html/rfc7231#section-4

The `PATCH` method itself is defined in uppercase: http://tools.ietf.org/html/rfc5789 so the patch requested looks wrong. However it's not clear if this is the case for others methods

[2015-07-15 20:24] benoitc commented on #1073
@tilgovi sowhat do you think? Should we add the `--paste-server` setting?

[2015-07-15 20:25] benoitc commented on #1057
I still see that list:
https://github.com/benoitc/gunicorn/milestones/R19.4

Can try to sprint on it this week for a release? cc @tilgovi @berkerpeksag

[2015-07-15 20:27] benoitc commented on #1070
@tilgovi fair enough.  About that what about introducing a `--silent`setting?

[2015-07-15 21:38] tilgovi commented on #1070
No opinion, except if that means no access log but still an error log that would be confusing maybe, no?

[2015-07-15 21:39] tilgovi commented on #1057
Yes, I can help.

On Wed, Jul 15, 2015, 16:25 Benoit Chesneau <notifications@github.com>
wrote:

[2015-07-15 22:20] benoitc commented on #1070
silent would silent everything on the console  which is sometimes wanted.

[2015-07-16 07:16] benoitc commented on #1057
cool will be online and pick one of the topics

[2015-07-16 21:29] tilgovi commented on #965
I can reproduce this with eventlet but not with the sync worker.

[2015-07-16 21:50] tilgovi commented on #965
This can be solved easily like so:

[code]

[2015-07-16 21:51] tilgovi commented on #965
The issue is that eventlet is removing the socket when it closes it.

[2015-07-16 21:54] tilgovi commented on #965
Rather, eventlet's `GreenSocket` has a `__del__` handler that calls close.

[2015-07-16 21:54] tilgovi commented on #965
Duplicating the socket seems to prevent the close from cleaning it up.

[2015-07-20 15:13] femesq opened #1086 "Reading settings from Django's"
I achieved this (http://gunicorn-docs.readthedocs.org/en/latest/configure.html#framework-settings) with this code on gunicorn_config.py:

[code]

And then, on specific config_files (devel_settings,  production_settings, etc) I this in the bottom of the file:

[code]

Probably not the most elegant way, but it is working...

PS.: I have the "default" settings on the top of gunicorn_config.py, so thi

[2015-07-20 16:36] benoitc commented on #1086
mmm what arre you trying to achieve?

[2015-07-20 17:16] femesq commented on #1086
Getting framework's settings (Django, in my case). See link above...

[2015-07-20 17:35] benoitc commented on #1086
@femesq hrm to be more clear, do you want to add it in the doc? Or anything else? If you want to have it in the doc, don't hesitate to send us a PR :)

[2015-07-20 18:15] femesq commented on #1086
@benoitc Not sure about it..
It seens to hacky to be in the docs... :)

Maybe add this issue's link so that other users can comment/improve?

On Mon, Jul 20, 2015 at 2:35 PM, Benoit Chesneau <notifications@github.com>
wrote:

[2015-07-20 23:13] roboslone opened #1087 "dictConfig in logconfig"
From logging docs:

Could you suppport [`dictConfig`](https://docs.python.org/3/library/logging.config.html#logging.config.dictConfig) in `logconfig` option?

[2015-07-20 23:43] tilgovi commented on #1087
Can you confirm what you mean. Having a dictionary somehow in the command line with `--log-config`, is not what you want, correct? But a dictionary when using the `logconfig` setting in your gunicorn conf python file you want to set a dictionary?

[2015-07-21 03:38] RoboSloNE commented on #1087
My application reads config from file and part of this config is for logging. I want to pass that part to dictConfig. I'm not using command line arguments for logging config at all.

[2015-07-21 04:00] berkerpeksag commented on #1087
Looks like a reasonable request to me. I think we can also deprecate `logconfig` (or encourage to use the new setting) and add a new setting for this.

[2015-07-21 15:26] urbaniak commented on #965
Found the same issue when using eventlet, tried patch provided by @tilgovi and it looks good.

[2015-07-21 15:44] tilgovi commented on #965
I got distracted looking into the behavior across the different workers and trying to figure out what should happen when gunicorn exits, but maybe that can be left to another issue. This brings us closer to parity. There's still the issue that the socket isn't cleaned up after gunicorn exits completely, at least on some workers (including eventlet with this patch).

@benoitc how should I proceed?

[2015-07-22 04:35] benoitc commented on #965
@tilgovi on which workers does this error also happen? IMO we should make sure other workers are behaving the same.

I came to an alternative fix in #1088 and did limited tests on the eventlet and sync worker and it seems to fix the current issue. Let me know what you think about it.

[2015-07-22 04:36] benoitc commented on #1087
+1 . Any PR is welcome :)

[2015-07-22 04:41] benoitc commented on #1044
It seems related to the use of `time.sleep` while closing a socket:
https://github.com/benoitc/gunicorn/blob/master/gunicorn/sock.py#L60

Applying #1088 should also fix it. Let me know.

[2015-07-23 21:50] #965 closed

[2015-07-23 21:53] benoitc commented on #1073
bump

[2015-07-23 21:55] benoitc commented on #1086
@femesq mmm actually it could land as a configuration example in examples I think. Then link that example in the doc. If it's OK for you can you send a PR that does it?

[2015-07-23 22:28] tilgovi commented on #1073
We should either add the option or remove support for the paster server block and force all server settings to the CLI and --configfile

[2015-07-24 01:10] femesq commented on #1086
Ok @benoitc.
I'm kind of new to git and this procedures (PR, etc) but I'll search how
and try to do so.

On Thu, Jul 23, 2015 at 6:55 PM, Benoit Chesneau <notifications@github.com>
wrote:

[2015-07-24 08:00] benoitc commented on #1059
@rivf ping.

[2015-07-24 08:01] benoitc commented on #1058
@Schabernack bump.

[2015-07-24 09:37] benoitc commented on #1056
Revisiting this issue.

So to be clear, monkey patching in the arbiter is not supported and should be discouraged. Preload should in fact for some edge cases where you need to reduce the memory usage.

To close the issue I am thinking to the following actions:
- document  the preload_app setting to make it clear what it can be used for and what is discouraged
- document how to share objects and da

[2015-07-24 09:38] benoitc commented on #1073
@tilgovi but what's your preference ? :)

[2015-07-24 11:14] emamirazavi commented on #1056
If for now gunicorn's support and vision is the same, you items you
mentioned are good and perfect. We should document that monkey patching
does not work in preload_app. Many thanks Benoit.
On Jul 24, 2015 2:08 PM, "Benoit Chesneau" <notifications@github.com> wrote:

[2015-07-24 14:18] Schabernack commented on #1058
Sorry Benoit, I fixed this by reinstalling gunicorn and forgot about the ticket. This can be closed.

[2015-07-24 14:26] benoitc commented on #1058
@Schabernack np, thanks!

[2015-07-24 14:26] #1058 closed

[2015-07-24 23:08] tilgovi commented on #1073
I think my slight preference is to remove the server block support. Then there is no possibility anymore for `use = egg:gunicorn` so no one would use the gunicorn worker with paster or pserve (they both preload the app, sadly). Also, since the keys in the server block end up being custom to gunicorn anyway, I think it's better to put them in the gunicorn config file.

This is what I am thinking. @

[2015-07-24 23:09] tilgovi commented on #1073
There are not so many options (mostly just host and port) that are portable to different servers that the settings in the server block end up assuming gunicorn anyway. At that point, they should just be gunicorn command line options, or be in the gunicorn config file if they are non-trivial. This is my feeling.

[2015-07-26 11:25] heyman commented on #381
I've also seen this error with 19.3.0 running within a Docker container.

[2015-07-29 13:01] benoitc commented on #1073
tilgovi +1. Let's do that.

@dmdm Thanks a lot for your PR anyway, this is purely a design decision here, and not the easy one to take. Next will be the good :)

[2015-07-29 13:07] benoitc commented on #1070
OK so i think I am OK to add the access logs to STDOUT. We simply need a way to disable it then, what would be the best way to do it? Coming to my mind:

- add a `-q` option (for `quiet) to silent all logs.
- add an `--access-logfile=no`

Or let the user log to `/dev/null`.  Thoughts?

[2015-07-29 14:45] gjcarneiro commented on #715
You can now close the bug.  I tested that this is fixed in git (but not in the latest release).  The code in git seems to work fine for python 3 and gevent from git.

[2015-07-29 19:51] tilgovi commented on #715
Thanks!

[2015-07-29 19:51] #715 closed

[2015-07-29 19:52] tilgovi commented on #1070
Would -q only silence stdout? Other logging config would take precedence?

On Wed, Jul 29, 2015, 06:07 Benoit Chesneau <notifications@github.com>
wrote:

[2015-07-29 19:57] benoitc commented on #1070
yup I think do. It would only silent stdout and stderr.
On Wed 29 Jul 2015 at 21:52 Randall Leeds <notifications@github.com> wrote:

[2015-07-29 20:01] tilgovi commented on #1070
Works for me.

On Wed, Jul 29, 2015, 12:57 Benoit Chesneau <notifications@github.com>
wrote:

[2015-07-30 06:21] dmdm commented on #1073
Ok, then. Maybe another time.

[2015-07-30 06:21] #1073 closed

[2015-07-30 16:48] dbrgn opened #1090 "BlockingIOError on Docker"
I'm running Docker on Ubuntu VM on a XenCenter server.

One of my Flask apps using Gunicorn (directly, not behind Nginx) doesn't seem to work on that server. It works in Docker locally, but on the server I get the following exceptions:

[code]

I'm not sure what exactly is causing the problem, but it doesn't seem to happen when using the devserver (in the same Docker setup).

[2015-07-30 17:03] dbrgn commented on #1090
With `uwsgi` it seems to work too.

[2015-07-30 17:22] benoitc commented on #1090
what if you run gunicorn with `--no-sendfile`?

[2015-07-30 17:58] tilgovi commented on #1090
I would be interested to know what filesystem is on the host, too.

[2015-07-30 20:11] dbrgn commented on #1090
The host runs on ext4, as far as I remember (it was at work).

I'll test the ``--no-sendfile`` option tomorrow and will let you know.

[2015-07-31 07:18] ski-csis opened #1091 "gunicorn.pidfile.validate crashes gunicorn when PID exists but is from a different user"
[code]

This happens because the process identified by the pid-file exists, but belongs to a different user than the one starting gunicorn.

(This is with gunicorn 19.3.0)

[2015-07-31 07:30] benoitc commented on #1091
how did you start gunicorn? Is the process still associated to the arbiter? does the user starting gunicorn have the rights to kill its children?

[2015-07-31 07:38] ski-csis commented on #1091
We run gunicorn with supervisord, nothing really fancy.

I believe what happened was that the server was rebooted, and a few gunicorns did not shutdown in time, so when the server came up again their old pid-files were still there, but now the PIDs belonged to gunicorns from other users (the server runs a bunch of projects as different users.)

[2015-07-31 08:41] dbrgn commented on #1090
Docker host:

[code]

With ``--no-sendfile`` and current ``master`` of Gunicorn, the exception above does not occur anymore.

[2015-08-03 10:52] oppianmatt commented on #1043
Be careful you're not using a python object that is causing this. For example reusing a django HttpResponse instead of creating a new one might do this.

[2015-08-03 13:48] cryinstall opened #1093 "can't change the proctitle of master process"
arbiter.py:

change over line 166 and line 167, make default proc title setting firstly so that I could change to custom title on  'when_ready'

[code]
[code]

[2015-08-03 16:47] tilgovi commented on #1093
Couldn't you set "server.proc_name"?

[2015-08-04 03:13] benoitc commented on #1091
@ski-csis but each pidfile is created per projetcs right ? So if the same suer is launching the project each time it shouldn't happen. Can you share your supervisor conf?

[2015-08-04 07:29] ski-csis commented on #1091
There is a pid-file per gunicorn, yes. That's not the problem.

The problem is that the pid in the pid-file no longer belongs to the user running the gunicorn, because gunicorn was not shutdown cleanly before a reboot.

If you want to simulate similar conditions, just pust `1` in a pid-file, and see how you get the same exception, when you try to start gunicorn.

[code]

[2015-08-04 07:40] benoitc commented on #1091
Such error is expected but looking at that issue I think we can have a better answer to it. Ie instead of just crashing we could log the error and have an option to explicitly overwrite the pidfile if it exists. Another option would be not touching on that pidfile and instead create a new pidfile incrementing the name:

     /tmp/gunicorn.pid --> /tmp/gunicorn.pid.1

What do others think about it?

[2015-08-05 12:30] wpf710 commented on #1038
@benoitc  Hi what's the status for it?
Thanks

[2015-08-05 12:56] cryinstall commented on #1093
hi tilgovi,
the proctitle will set to 'gunicorn: master $proc_name' if I use server.proc_name,
actually I couldn't use monitor tool to assign a name like this, or  kill use `killall $proc_name`,
and `ps -c -a`  doesn't show  my proc_name

[2015-08-05 14:51] benoitc commented on #1093
Why not simply using the `--name` [setting](http://docs.gunicorn.org/en/19.3/settings.html#proc-name) ? Is there any reason to remove gunicorn from the name?

[2015-08-06 04:15] tilgovi commented on #1038
I've opened #1094 to address this issue. The root problem is that it is not possible to use sendfile with a socket as the source. In addressing this issue, I've simplified the sendfile logic quite a bit and made sure that a response is still generated even if the file descriptor reports a size of zero with `os.fstat()`. I think this will be more robust. I've tested it lightly, locally, but if anyo

[2015-08-10 11:37] MattBlack85 commented on #1067
@andyxning does it work for some minutes if you restart the workers? I got into similar problems once

[2015-08-12 21:20] jzupko commented on #927
(jumping in since we've been seeing the same issues as described in this thread)

It looks like these issues are being caused by the [fix](https://github.com/benoitc/gunicorn/commit/f2920bfcdaa34c9ec98c47dbb4c63816cd3a580a#diff-24baff6269faf10cb820888842174a8bL66) for issue [#478](https://github.com/benoitc/gunicorn/issues/478) (don't monkey patch the master).

By not monkey patching the master, a

[2015-08-12 21:57] tilgovi commented on #927
I would still be very hesitant to monkey-patch the master process, but if you want to do it you may be able to use the server hooks instead of patching gunicorn itself. If you can do that, I would welcome any way we can document that somewhere that's better than here.

[2015-08-12 22:27] jzupko commented on #927
I think the short term plan for us is to create a gunicorn fork with this patch applied.

I'll investigate moving a monkey patch step into our wsgi code, but this still seems like something which should be done inside the gunicorn code (even as a configurable option). Patching in preloaded app code will affect the master one way or another, and the whole point would be to keep the monkey patched s

[2015-08-13 03:40] andyxning commented on #1067
No, we have encountered such situation rarely, almost in the last 180d with only about 10 connection reset error. So, we just do not try the **restart**

[2015-08-13 03:40] #1067 closed

[2015-08-13 03:44] tilgovi commented on #927
If it works to patch early, maybe that should be considered as a change.

[2015-08-13 03:45] tilgovi commented on #927
I can't remember if that was ever the case and if that caused problems, but it's always tricky with monkey patching.

[2015-08-13 11:38] jamadden commented on #927
Our own production gunicorn application **requires** preloading and so also **requires** monkey-patching in the master (we use Pyramid's/paste's ``pserve`` script to launch the app and load gunicorn from an ini file; we have a wrapper around it to be sure that monkey-patching happens ASAP).

I'm a current gevent maintainer. I'm happy to look at any issues in gevent required to make this scenario w

[2015-08-13 16:02] jzupko commented on #927
I tried applying the same monkey patch logic at the top of our wsgi implementation, and we started seeing the `DatabaseWrapper` issue. Not entirely sure why though - looking at the wsgi invocation in [arbiter.py](https://github.com/benoitc/gunicorn/blob/master/gunicorn/arbiter.py#L114), that happens a few lines after the point where `GeventWorker.setup` will be called (as a side effect of the [wor

[2015-08-13 19:06] tilgovi commented on #927
@jamadden thanks so much.

@jzupko it's usually important that the patching happens before any imports that might be affected. That's why I suggested to do it in a server hook, like by putting a `post_fork` function in a `gunicorn.conf.py` file. However, I just realized that the application preloading happens before any of the server hooks and it's not clear where one would do that.

[2015-08-13 19:06] tilgovi commented on #927
@benoitc do we have any mechanism for worker-specific config?

[2015-08-14 15:44] benoitc commented on #1091
bump.

[2015-08-14 15:49] benoitc commented on #1090
By default sendfile is off on nginx. Is this enable in your conf?

[2015-08-14 16:14] tilgovi commented on #1091
I'd be fine to just catch errors and print an error.

[2015-08-14 16:14] tilgovi commented on #1091
What do other daemons do?

[2015-08-14 20:37] adontz commented on #1043
After almost two months of debugging we found bug in custom middleware.
Very sorry for posting false negative report and taking your time.

[2015-08-14 23:34] #1043 closed

[2015-08-15 19:44] dbrgn commented on #1090
There is no Nginx involved. Just plain Gunicorn.

[2015-08-15 20:00] benoitc commented on #1090
i meant when you tested with nginx....aka uwsgi.

[2015-08-16 08:12] dbrgn commented on #1090
Again, no nginx involved. I used the uwsgi program, not the uwsgi protocol through nginx.

[2015-08-16 15:07] berkerpeksag opened #1098 "Make "Worker failed to boot" message more user friendly"
For example, the following log is from \#gunicorn:

[code]

[2015-08-19 08:58] wkingfly opened #1099 "I can not get `accesslog` directly from `rsyslog`"
This stop me at glogging.Logger.access
[code]

[2015-08-19 14:51] jameskhedley opened #1100 "Workers hanging when using requests future sessions in 2.7"
Following script runs with Flask dev server (and apache/modwsgi) but not gunicorn:

    from requests_futures.sessions import FuturesSession
    from flask import Flask
    app = Flask(__name__)

    session = FuturesSession()
    future = session.post(url="https://localhost:8000",
                          data=u"name=myname&password=abc123",
                          **{'headers': {'Content-Type

[2015-08-19 15:27] rgdaddio commented on #942
Is there any follow up to this since Jan 9?

[2015-08-19 15:31] benoitc commented on #942
well are you reproducing it? Any help to reproduxing the issue would be helpful anyway since i never reproduced it myself. Can you alao tell me which version did you try?

[2015-08-19 18:03] tilgovi commented on #1099
I'm sorry, I don't understand your issue. Where is this code?

[2015-08-21 20:59] aurelianito opened #1101 "Problem stoping gunicorn when using PeriodicCallbacks in tornado (gunicorn 19.3.0)"
When a tornado application uses periodic callbacks it fails to stop the workers if it defines its own timeouts (including periodic callbacks).

We believe the offending code is in gunicorn/workers/gtornado.py:

[code]

The check `len(self.ioloop._timeouts) <= 1` will never be true with my own periodic callback.

This issue was found in gunicorn 19.3.0

[2015-08-21 21:05] aurelianito commented on #1101
I just looked at the source code of the latest master revision and it seems the bug moved to the heartbeat method (also in gunicorn/workers/gtornado.py).

    def heartbeat(self):
        if not self.alive:
            if self.server_alive:
                if hasattr(self, 'server'):
                    try:
                        self.server.stop()
                    except Exception: