[2019-08-13 04:58] #2088 closed

[2019-08-14 04:38] septyy opened #2089 "How to get headers from pre_reuqest"
Hi,
I want to add api interceptor in guincron pre_request hooks to get header to check token, but I can't get header from the request, so could you please help on this? Thanks.

def pre_request(worker, req):
    worker.log.debug("%s %s" % (req.method, req.path))

It seems that guincron doesn't provide header from request.

[2019-08-15 03:19] hcaihao commented on #1913
I'm having the exact same problem 😕

[2019-08-15 12:05] agilezebra opened #2091 "gunicorn 19.9.0 on Python3.8 raises RuntimeWarning: line buffering (buffering=1) isn't supported in binary mode..."
[code]

See https://bugs.python.org/issue32236

Issue is caused by:
[code]

[2019-08-15 17:28] cbrintnall commented on #2070
This sounds related to #2078. I imagine 2078 is also attempting to read after the socket has closed.

[2019-08-15 21:10] vikramarsid commented on #1195
@benoitc Any update on http/2 support?

[2019-08-16 08:05] djstrong commented on #1549
What was your problem?

My tensorflow code is two times slower using gunicorn vs. command line. Is this issue applicable to gunicorn as well https://modwsgi.readthedocs.io/en/develop/user-guides/application-issues.html#python-simplified-gil-state-api ?

[2019-08-16 16:40] djstrong opened #2092 "Python Simplified GIL State API"
Does this problem apply also for Gunicorn https://modwsgi.readthedocs.io/en/develop/user-guides/application-issues.html#python-simplified-gil-state-api ? Is in Gunicorn something like `WSGIApplicationGroup %{GLOBAL}`? I am experiencing 2 times slow down of inference of TensorFlow model on CPU using Flask and Gunicorn.

[2019-08-16 19:33] tilgovi commented on #2092
I don't _think_ so, but I could be wrong. The included Gunicorn workers do not use the C Python APIs to create sub-interpreters. However, I do not know enough about the implementation of CPython to say for sure that sub-interpreters are not created implicitly by some Python-level code paths in Gunicorn.

Gunicorn itself has no C extension code.

[2019-08-16 19:33] tilgovi commented on #2092
Slow down as compared to what baseline? Using the TensorFlow model offline, without a web server?

[2019-08-16 19:36] djstrong commented on #2092
Yes, compared to offline use without a web server. I experience the same issue with builtin Flask development server.
What is more, there is no such difference if calculations are made on GPU.

[2019-08-16 19:39] tilgovi commented on #2092
Any other differences between the environments? Same hardware and same resource limits? Any parallelism? Can you provide your Gunicorn config?

[2019-08-16 19:46] djstrong commented on #2092
Everything is the same, my code is not using processes or threads (except tensorflow). I have profiled both environments and only tensorflow functions are slower.
I have not created/changed Gunicorn config. I am using `gunicorn -w 1 -k sync -t 3600`.

[2019-08-16 21:13] jamadden commented on #2092
You didn't mention what version of Python you're using. Under Python 2, up until the first time a Python thread is started, CPython runs the interpreter single threaded. There's no GIL and no associated overhead (there are a few other things that can turn CPython multi-threaded, like using `ctypes`). Once a second thread has been started, though, the GIL is created and there's some added overhead.

[2019-08-17 07:43] djstrong commented on #2092
Thank you for your help! Sorry, actually it was my mistake, I have tested offline version on the different TensorFlow model (smaller)...
Now, I don't see any overhead in web server version.

[2019-08-17 07:43] #2092 closed

[2019-08-17 11:09] tomjaguarpaw commented on #1549
I'm afraid I can't remember at all!

[2019-08-18 09:41] dbf256 opened #2093 "gunicorn fails after Python-2.7.16 upgrade"
I upgraded Python from 2.7.6 to 2.7.16 on my ubuntu vps.
Gunicorn server version 19.4.1 fails to start with such error:

[code]

I tried to upgrade gunicorn to version 19.9.0 and had the same issue.

[2019-08-18 10:06] jamadden commented on #2093
`pkg_resources` is a part of [setuptools](https://setuptools.readthedocs.io/en/latest/), the library that runs `setup.py` to build and install packages. `pip` uses it under the scenes in many cases, so it's a pretty fundamental library. That library's installation appears to be broken, and you'll need to fix that.

You might try `python -m ensurepip`.

[2019-08-18 11:46] dbf256 commented on #2093
@jamadden I tried this command (and also tried to reinstall setuptools) and it didn't help.
But looks like it is not a gunicorn issue because it is just an import in gunicorn code.

[2019-08-18 11:46] #2093 closed

[2019-08-18 14:39] berkerpeksag commented on #2093
I think this is a duplicate of #1716.

[2019-08-18 16:16] dbf256 commented on #2093
@berkerpeksag why do you think so? In ticket #1716 missing setuptools is mentioned, while I have it installed but it doesn't work properly

[2019-08-18 18:09] tilgovi commented on #2089
The headers should be available as `req.headers`.

I would advise you to consider implementing whatever you need to do as middleware at the WSGI level or with whatever framework you use, so that your application is less tightly coupled to Gunicorn.

[2019-08-18 18:14] tilgovi commented on #2082
Yes. However, you will see two processes running. One is the Gunicorn master process, which controls the worker processes. With the number of workers set to `1` you'll have only one worker process.

Gunicorn workers share nothing. They are separate processes and Gunicorn does not use the Python `multiprocessing` model. There is no way to share state between Gunicorn workers except using an externa

[2019-08-18 18:19] tilgovi commented on #2087
Gunicorn is not designed for this, so I can't provide a lot of specific help to get this to work.

A much easier solution might be to start Gunicorn multiple times from the shell.

[2019-08-18 18:23] tilgovi commented on #2084
Gevent is a cooperative multitasking library using coroutines. This means that one coroutine can block all others from making progress in some cases. Be sure you are not doing CPU-bound work or using libraries that have C extensions not designed for use with Gevent.

[2019-08-18 18:23] tilgovi commented on #2085
A PR would be most welcome. Thanks!

[2019-08-18 18:33] tilgovi commented on #2091
I think we could pass `0` because we never write to this file. We only ever call `os.fchmod` and `os.fstat` on it.

Would you like to make a PR for this?

[2019-08-18 18:37] tilgovi commented on #2086
It is the case that the timeout setting is not a request timeout. It functions this way for the sync worker, but not for other workers. I have noted this inconsistency before: https://github.com/benoitc/gunicorn/issues/1974#issuecomment-500187655

[2019-08-18 18:39] tilgovi commented on #2074
Closing this after almost a month of no follow-up since help was provided.

[2019-08-18 18:39] #2074 closed

[2019-08-18 18:45] tilgovi commented on #2072
Looks like there's some discussion on tornado: https://github.com/tornadoweb/tornado/issues/2495

Gunicorn does not do any OCSP stapling right now. I'm not familiar with Python tools to do it. If it can be added without too much complexity, I would consider it a reasonable addition.

Are you interested at all in prototyping it? If this kind of work interests you, I would think we want to solve #11

[2019-08-18 18:51] tilgovi commented on #2073
Any success figuring this out?

[2019-08-18 18:51] tilgovi commented on #2071
I can't imagine how any kernel update would cause this.

Can you share any part of your gunicorn config and how you use `on_starting`?

[2019-08-18 19:07] tilgovi commented on #2065
We do not have the resources right now to commit to any timeline.

CPython itself does not release memory immediately. It can keep memory reserved to improve the speed of future allocations. Only when there is memory pressure from the OS will Python free these objects, I think.

Are you finding that this causes swapping or other problems? What is the total memory on the machine?

If you can reprod

[2019-08-18 20:29] tilgovi commented on #2057
@chrisevett seeing no response, I think you should feel free to work on it.

[2019-08-18 21:06] dumblob commented on #2072
It's currently not the topmost priority for me, but might become in a few months.

Well, I didn't dig through gunicorn source yet, so I can't tell whether #1140 is a prerequisite (though my feeling is, that it'll be easier with `SSLContext`).

[2019-08-19 03:57] sharepusher opened #2095 "unbalaced cpu load among gevent workers"
I'm using gunicorn19.6.0+flask+gevent, and the works number is 2*cpu+1(my server has 16cores, so the works is 33), most of the requests are about the network IO.
I found the cpu loads are extremely un-balanced, some are around 60%, 70% even 80%, but some of them are below 5%.
Is it a well-known issue? Or I should tune my OS parameters? Or I should decrease the works? Any suggestion on this?
Thanks

[2019-08-19 10:57] jamadden commented on #2095
You might be seeing https://blog.cloudflare.com/the-sad-state-of-linux-socket-balancing/ If that's the case you might consider using a newer version of gunicorn that supports the `SO_REUSEPORT`.

[2019-08-19 18:23] tilgovi commented on #2059
I merged #2060 and I'm curious if this is still a problem.

[2019-08-20 00:29] berkerpeksag commented on #2085
PR #2094 has been merged. Closing this as 'fixed'. Thank you for the report and for the PR!

[2019-08-20 00:29] #2085 closed

[2019-08-20 06:49] sc-syf commented on #1913
same issue with gunicorn 19.9.0, running on a kubernetes pod, and the traceback is
[code]

[2019-08-20 17:02] pixelrebel opened #2096 "Unable to restrict insecure ciphers"
Perhaps someone may have some guidance for me? I have been struggling with this for a while now. Here's my environment:
[code]

I'm also using the gunicorn flag --ssl-version 5
My server seems to be serving up TLS 1.2, but it allows a ton of insecure cipher suites. How can I limit the cipher suites? I tried the --ciphers flag, but had no luck with that.

Thanks!

[2019-08-21 02:26] cinjon commented on #1981
@semeyon what was most helpful here? facing the same issue.

[2019-08-21 03:14] semeyon commented on #1981
@cinjon Well, kind of. I found that on of a dev's on our team added heavy computation/memory logic right on the flask requests - I've moved it to an async thing.

[2019-08-21 13:30] cinjon commented on #1981
How did you find that? Which tools did you use?

On Tue, Aug 20, 2019 at 23:14 Semeyon <notifications@github.com> wrote:

[2019-08-21 13:42] semeyon commented on #1981
@cinjon Nothing fancy: trace, timeit profiler etc. Looked through the code carefully.

[2019-08-21 23:04] yakkle commented on #2059
@tilgovi

I have tested `tag/19.9.0` and `master`.
using this snapcraft.yaml : https://gist.github.com/yakkle/6a2291beea23e26eea81e60d1fb689b0

### tag:19.9.0 :
[code]

### master :
[code]
It works now on master branch.
thank you!

[2019-08-22 00:04] tilgovi commented on #2059
Perfect. Thank you for testing!

[2019-08-22 00:04] #2059 closed

[2019-08-23 09:33] lordradi commented on #2073
Unfortunately, no idea where to start in the codebase. The issue is definitely due to some underlying change in Python 3.6.7 :(

[2019-08-29 07:36] davepaiva commented on #1663
I had the same issue, running FASTApi server on ECS. Turns out the timeout was because by server could not access the RDS on another VPC due to Sercurity Group Rules.

[2019-08-29 11:52] finefoot commented on #2082
@tilgovi Thanks for the reply :)

I read through the Gunicorn docs and unfortunately there was nothing (like a "hint" or "warning") about shared state or concurrency in there. Should there be? I assume this is basic web dev knowledge and I just should have known this, right? It totally makes sense, but I only noticed this once my code didn't work because I'm not used to writing code designed for m

[2019-08-29 11:52] #2082 closed

[2019-08-29 16:59] tilgovi commented on #2082
@finefoot I would gladly accept a pull request to clarify anything like that! It's always hard to strike a balance between explaining everything and assuming too much in documentation

[2019-08-29 17:00] tilgovi commented on #2082
Maybe somewhere on this page? http://docs.gunicorn.org/en/latest/design.html

The source is in `docs/source/design.rst`.

[2019-08-30 09:11] saxh opened #2098 "problem of loading many Keras models"
my flask init with loading about 20 Keras models (or more),and it's ok when using python app.py.
But when I use Gunicorn ,it init over and over again ,no stop.
why?

[2019-08-30 12:27] benoitc commented on #2098
what is a kera model?

[2019-08-30 12:42] TheErk commented on #2098
Keras is a python deep learning framework: https://keras.io/

Does gunicorn apply some ressource limit/control over the process it launches?

[2019-08-30 13:53] benoitc commented on #2098
there is no such thing. @saxh "t init over and over again ,no stop." what do you mean exactly can you provide a debug log and eventually a spew trace?

[2019-08-30 20:42] James-D-Wood commented on #1913
Exact same problem as GAEfan. Running a Flask app with Python 3.7 in App Engine Standard Env.

[2019-08-31 01:16] finefoot commented on #2082
Absolutely, I agree. Didn't mean to make any accusations. :) Like I said, I'm still really new to web dev so unfortunately, I often just have to assume that I'm overlooking some basic stuff.

Yes, I think one can stumble upon this issue regarding concurrency/parallelism in two ways:

1. **Using asynchronous worker(s)** (For example, as far as I understand, currently, `multiprocessing` is not compa

[2019-08-31 01:27] tilgovi commented on #2082
Not at all. I said that to intentionally making it blameless. The documentation isn't wrong, nor are you overlooking basic stuff. Nothing about any of this is basic.

I think I'll reword my own quote and try to make a PR. I'd love to tag you to review it, if that's alright.

[2019-08-31 01:33] tilgovi commented on #2086
@gcavalcante8808 there is an IRC on Freenode. I'm not there much these days, though.

We have been experimenting with using GitHub for discussion. You can label issues as "mailing list". https://github.com/benoitc/gunicorn/wiki/Project-management

[2019-08-31 01:34] tilgovi commented on #2086
For real-time communication, we can use IRC. If you want to talk, you can also e-mail directly and I would gladly join IRC to chat about something. I'll try to make a habit of being online more there, anyway.

[2019-09-01 01:49] pushiqiang opened #2099 "Can't successfully send http request in gunicorn"
When making an http request from a django views, the request will always hang on. gunicorn doesn't return any response when urllib or requests is used in docker.
but if i use django's shell or runserver, it can work good, Who can help me?

[code]

[2019-09-01 07:41] pushiqiang commented on #2099
because I used ` bind = "unix:/tmp/run/gunicorn.sock"` , I have solved it through ` bind = "0.0.0.0:8000"`.
but i don't know why？

[2019-09-01 07:41] #2099 closed

[2019-09-01 14:55] benoitc commented on #2099
@pushiqiang uh? if you're using a unix socket you need to read the response directly from it...

[2019-09-02 03:22] saxh commented on #2098
Using TensorFlow backend.
Using TensorFlow backend.
/home1/./anaconda3/envs/py36/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:523: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home1/./anaconda3/envs/py36/lib/pytho

[2019-09-02 03:35] sunzhy opened #2100 "question about the reuse_port"
workers = 4
reuse_port=True
But when I 'netstat -tunlp', I find only one process listen the port.
why?
I think it needs 4 processes  listen the port.

[2019-09-03 06:36] septyy commented on #2089
Ok. Thanks.

[2019-09-03 06:36] #2089 closed

[2019-09-03 08:16] pushiqiang commented on #2099
@benoitc  thanks, but how should i read the response directly from unix socket for `response = urllib.request.urlopen(req)`

[2019-09-03 15:56] IngoKl commented on #2088
I was able to solve the problem by explicitly specifying the PYTHONPATH in my Supervisor config.
Specifically, I added:

`environment=PYTHONPATH=/home/user/.python-env/lib/`

[2019-09-03 16:39] tilgovi commented on #2099
I'm not sure that urllib supports connecting to a UNIX socket. The requests library has an extension for it: https://pypi.org/project/requests-unixsocket/

Typically, if you have Gunicorn running on a UNIX socket you would have a reverse proxy, like NGINX, running on a TCP socket. The NGINX server listens for clients and forwards them to Gunicorn over the UNIX socket.

[2019-09-03 16:41] tilgovi commented on #2098
Are you running out of memory? Perhaps Gunicorn is restarting your workers over and over when they are killed by the OS?

[2019-09-03 16:45] tilgovi commented on #2100
What about `lsof -ni :PORT` (like `lsof -ni :5000`)?

[2019-09-04 01:38] pushiqiang commented on #2099
Whether the http request in gunicorn is sent through the bound container host or socket(by `bind`)
I don't think this request that from gunicorn will go through nginx.

Thank you very much, I will continue to try it.

[2019-09-04 02:06] sunzhy commented on #2100
$ ps -ef | grep server
server    5208  6480 36 09:52 ?        00:00:01 gunicorn: master [server]
server    5220  5208  3 09:52 ?        00:00:00 gunicorn: worker [server]
server    5222  5208  4 09:52 ?        00:00:00 gunicorn: worker [server]
server    5224  5208  6 09:52 ?        00:00:00 gunicorn: worker [server]
server    5226  5208  4 09:52 ?        00:00:00 gunicorn: worker [server]
$ netst

[2019-09-04 05:40] benoitc commented on #2100
this makes sense. though we need a cleaner api for it to make sure that
reliading the conf and error return is ok. can you provide a pr for it?

On Wed 4 Sep 2019 at 04:06, ShowerSun <notifications@github.com> wrote:

--
Sent from my Mobile

[2019-09-04 05:58] sunzhy commented on #2100
ok

[2019-09-04 05:59] #2100 closed

[2019-09-04 10:53] saxh commented on #2098
thanks everybody, and I found the what's the problem.
it's because of param of timeout.
because loading to many models, time ran out.

[2019-09-04 10:53] #2098 closed

[2019-09-04 12:13] lemrouch commented on #1114
`--ssl-version 5 --ciphers ECDHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES256-SHA256`
work just fine:

CONNECTED(00000003)
depth=3...

CONNECTED(00000003)
140497569816640:error:14094410:SSL routines:ssl3_read_bytes:sslv3 alert handshake failure:../ssl/record/rec_layer_s3.c:1407:SSL alert number 40

[2019-09-04 13:51] reach4bawer opened #2103 "Worker failed to boot"
Hi,

I am running into _Worker failed to boot_ error anytime I am trying to boot more than one worker, there are times when I was able to run 2 workers but I have to retry doing that several times before it actually starts to work. I am running a flask app with gunicorn on **AWS c4.large EC2 instance**.  The image used on EC2 instance is **Amazon Linux**.
Running multiple threads works fine but ru

[2019-09-04 14:46] pixelrebel commented on #1114
Thanks @lemrouch.  Not sure why that didn't work for me before.  It's working for me now!

[2019-09-04 18:09] tilgovi commented on #2103
If `--preload` seems to work fine it may be that your application takes too long to load and the worker gets killed. In that case, you can increase the timeout without the `--timeout` option.

[2019-09-04 19:27] reach4bawer commented on #2103
@tilgovi I tried the --timeout 30, --timeout 60 and --timeout 90 but neither of them seem to work, I still get the following -

[code]

[2019-09-04 19:53] rafalmp opened #2104 "Bind to unix socket *and* IP: gunicorn only binds to socket."
I am trying to get gunicorn to listen simultaneously on unix socket and IP address:
[code]
Only the unix socket works - gunicorn does not listen on the IP.

[2019-09-04 21:42] tilgovi commented on #2103
@reach4bawer could it be then that you are running out of memory? `--preload` would cause more memory to be shared between processes since the application is loaded before.

[2019-09-04 22:05] tilgovi commented on #2104
What version of Gunicorn, please?

[2019-09-04 22:35] rafalmp commented on #2104
Sorry, should have mentioned that. 19.9.0.

[2019-09-05 08:49] benoitc commented on #2104
I tried from the example folder the following command line :

[code]

I can query `http://localhost:8080 ` .  There is a bug though since this binding should be displayed in the output.

[2019-09-05 12:13] rafalmp commented on #2104
Interesting, it does work from CLI for me too, but when I try to run gunicorn from a systemd service file, it doesn't. My unit file is as follows (based on the official documentation):
[code]
journalctl output:
[code]
Maybe I'm mising something important?

[2019-09-05 13:53] reach4bawer commented on #2103
How do I test that?

I tried the command with preload and seems like when I do `--preload` only four workers are kicked off but when I remove `--preload`, more than 4 workers are spun off. I am not sure what might be causing that, my flask is not running threaded.

![Screen Shot with Preload](https://user-images.githubusercontent.com/52763317/64348334-015daf00-cfc3-11e9-818d-b4d959aa44a7.png)
![Sc

[2019-09-05 15:22] tilgovi commented on #2104
What are the contents of `myapp.socket`? If you start Gunicorn through systemd with a socket activation, systemd will pass the socket (or sockets) to Gunicorn and the CLI options for binding will be ignored.

You should be able to specify `ListenStream` more than once in `myapp.socket` and have Gunicorn bind to all of them.

[2019-09-05 15:24] tilgovi commented on #2103
That's very strange. More than four workers immediately? How long before you see the worker boot failed messages? Are they constant, or after a timeout?

[2019-09-05 17:21] reach4bawer commented on #2103
Yes 4 workers are almost immediate for the `--preload`, (it takes like 3-5 seconds for the workers to come up). On the other hand `without the --preload` the workers come up and die almost instantaneously after the last worker's Debug message appears.

[2019-09-05 17:55] tilgovi commented on #2103
How much memory is available?

[2019-09-05 18:01] reach4bawer commented on #2103
I am using a bigger instance now and I have around 15 gigs of memory.

[2019-09-05 18:03] skipikash commented on #1913
Same issue here

[2019-09-05 18:57] rafalmp commented on #2104
Yes, that solved it, thank you very much. I think the documentation at http://docs.gunicorn.org/en/latest/deploy.html#systemd should mention that the CLI options for binding are ignored when started by socket, and to bind to multiple interfaces / sockets  one should use multiple ListenStreams - in my opinion it's a bit misleading there.

[2019-09-05 19:30] tilgovi commented on #2104
That would be a great PR, if you're up for it!

[2019-09-05 19:30] #2104 closed

[2019-09-05 19:30] tilgovi commented on #2103
Still the same issue?

[2019-09-05 20:15] reach4bawer commented on #2103
@tilgovi  Yes still the same issue. So throwing more processing power and memory didn't solve the issue.

[2019-09-05 20:27] tilgovi commented on #2103
Can you try with just one worker? I'm curious, but don't expect it to help.

[2019-09-05 20:36] reach4bawer commented on #2103
That seems to work.

[2019-09-05 21:48] tilgovi commented on #2103
Very interesting. There's nothing different about how one worker or four workers behave. If you can run one worker without `--preload` then you should be able to run four workers. Try raising the numbers of workers one at a time, and watch your memory usage.

[2019-09-05 21:48] tilgovi commented on #2103
You can also start gunicorn with one worker, and then send the TTIN signal to the master process to add workers. If you can get up to four workers, we'll have to figure out why Gunicorn can't start them all at once.

https://docs.gunicorn.org/en/latest/signals.html

[2019-09-05 21:53] reach4bawer commented on #2103
I will try that, I tried running this via systemd(systemctl) and see the additional logs below -

[code]

I will respond in few minutes with TTIN signals

[2019-09-05 22:17] reach4bawer commented on #2103
This is so interesting, with TTTIN I was able to spin up 15 workers. The memory usage barely touched 3 gigs out of 15 gigs. Every time I sent the signal the CPU utilization spiked up but quickly when down(within 1-3 seconds)

[2019-09-05 22:31] reach4bawer commented on #2103
This happened like 13 times before the two workers were spun up!

[2019-09-05 22:55] tilgovi commented on #2103
That's super interesting. I'm not sure how to help you further right now, but feel free to post back with any findings or questions.

[2019-09-06 10:12] philgyford commented on #1562
I *think* I'm finding a similar problem, and apologies if it isn't...

I have a Flask app, running in a Docker container for development, and `reload` works fine without inotify installed. But once I've installed inotify (and set `--reload-engine=inotify` for good measure) then nothing's reloaded when I make changes to my code.

I'm doing this to start gunicorn:

[code]

And `wsgi.py` is like this

[2019-09-06 19:50] reach4bawer commented on #2103
Thanks for helping with this. Is there a similar signal to increase the thread count ?I didn't see one in the documents.

[2019-09-06 20:24] tilgovi commented on #2103
No, there's no signal for that. The thread count only applies to the threaded worker, though, not the "sync" worker.

[2019-09-07 10:40] johnthagen opened #2106 "Release 19.10 or 20.0"
The last released version of `gunicorn` was from [over a year ago](https://pypi.org/project/gunicorn/) and there have been [plenty of commits](https://github.com/benoitc/gunicorn/commits/master) since then. Could we have a new release on PyPI?

[2019-09-07 12:51] lfelipedeoliveira commented on #1913
I'm having the same issue running Django app with Python 3.7 in Google App Engine.

Traceback (most recent call last): File "/env/lib/python3.7/site-packages/gunicorn/workers/sync.py", line 134, in handle req = six.next(parser) File "/env/lib/python3.7/site-packages/gunicorn/http/parser.py", line 41, in __next__ self.mesg = self.mesg_class(self.cfg, self.unreader, self.req_count) File "/env/lib/py

[2019-09-07 13:16] johnthagen commented on #2106
Hmm, perhaps version 20 is really what's next, after reading #1195. Any ETA towards cutting that release?

[2019-09-07 19:33] johnthagen commented on #2106
Seems like this is already a priority (https://github.com/benoitc/gunicorn/pull/2012#issuecomment-528267307), so closing this issue.

[2019-09-07 19:33] #2106 closed

[2019-09-08 04:23] luckrill opened #2107 "log containing Chinese are displayed nonnormally"
My application
Flask runs.  Logs containing Chinese are displayed normally.

Publish and run with gunicorn, log output at / var / log / gunicorn. log
Chinese Partial  not displayed properly

[2019-09-09 07:54] narendra36 opened #2108 "How to set a minimum non-zero value of 'jitter'"
I have an application which uses trained ML model that takes a few seconds to load while restarting the worker when it exceeds  `max_requests`. But I need to ensure certain difference between restarting of each worker. I'm using `max_requests_jitter` for this purpose but since `jitter = randint(0, max_requests_jitter)` which may generate too small value which does not ensure running of at least 1

[2019-09-09 18:54] tilgovi commented on #2108
No matter what the value, I think you still have a risk since requests may not be distributed exactly evenly.

If you must have 100% uptime, you may need to either use `--preload` or handle some periodic reloading yourself, such as by sending `USR2` signal, sleeping, and then sending a `TERM` signal to the old master process.

[2019-09-09 18:54] tilgovi commented on #2108
You may also be able to use a reverse proxy like HAProxy or NGINX in front to buffer requests while Gunicorn workers are restarting.

[2019-09-09 21:06] mrkmcknz commented on #993
@danidee10 Did you find a workaround for this?

[2019-09-09 21:57] tilgovi commented on #993
I would be hesitant to change much here. The error pages that Gunicorn generates are really for protocol level failures where we can't necessarily call the WSGI app.

I wonder how Django is doing it. Is the server being more tolerant than Gunicorn but passing an invalid request to the WSGI layer of Django? Or is the server integrated in such a way as to call the custom error pages (but with what r

[2019-09-09 21:57] tilgovi commented on #993
Does anyone have a good idea for a concrete change?

[2019-09-10 04:36] narendra36 commented on #2108
Thanks for the reply! @tilgovi :+1:
Yes. I got that whatever the value of jitter, it will not guarantee 100% uptime. But can you explain a bit more about periodic reloading using signals since I'm new to it. and which method is better to use?

Do NGINX provides the feature of buffering requests while workers restarting by default?

How should I use `--preload` method to ensure 100% uptime?

[2019-09-10 07:28] benoitc commented on #2108
using the USRé signal will allows you to load new workers with new preloaded code. However it will requires more memory.

[2019-09-10 12:32] bhushanbrb opened #2109 "Quart worker type for Gunicorn"
https://github.com/pgjones/quart
https://github.com/pgjones/faster_than_flask_article/blob/master/app/gunicorn.py

Used **_quart_** as an **asyncio** alternative for **flask** ( sync) but in order to use gunicorn wsgi as asgi I think I need to change the worker type
[](https://github.com/pgjones/faster_than_flask_article/blob/master/app/gunicorn.py)
Can you pls let me know ? if this is valid worke

[2019-09-10 20:07] iwhiz commented on #2052
Hello. I am willing to work on this issue. Could someone assign it to me. Thank you.

[2019-09-11 01:05] tilgovi commented on #2052
@iwhiz I assigned you. It looks like @rcoup made good progress on a PR. Maybe you can start by reviewing that.

[2019-09-11 08:53] mr-bjerre commented on #1913
Same issue running GAE python 3.7 gunicorn and fastapi/uvicorn.

[2019-09-13 10:12] Dem0n3D opened #2110 "'str' object is not callable in 19.9.0 (django, python 2.7, docker-compose)"
Faced an issue after upgrade:
[code]

Running in Docker Swarm with docker-compose, using next command:
[code]

Downgrading to 19.8.* helped.

[2019-09-13 12:20] benoitc commented on #2110
which python and django versions?

[2019-09-13 12:31] Dem0n3D commented on #2110
Python 2.7, Django 1.8

[2019-09-13 18:32] johnthagen commented on #1380
[Django 3.0 (set to release December 2019) will have ASGI support out of the box](https://docs.djangoproject.com/en/dev/releases/3.0/#asgi-support), so that will be another great reason for `gunicorn` to support it directly. We'll probably see a big up-tick in user interest after that is released.

[2019-09-13 20:50] benoitc commented on #1380
@johnthagen that's on the pipe. However, we need to clear up a little the tickets and make a release this month before starting .

[2019-09-15 12:08] zamponotiropita commented on #1801
I'm getting this issue with gevent workers only upon initialization, which is a bit annoying as I am processing some tasks before launching my app. But I am setting a high timeout for now.
I've posted a reproducible test repo here: https://github.com/zamponotiropita/test-gunicorn-worker-timeout -> test_0 fails, test_1 and test_2 pass

[2019-09-15 18:43] ikonst commented on #1801
@zamponotiropita Are you trying to do this per-worker or per-app before the forking?

[2019-09-15 22:00] tilgovi commented on #1562
@philgyford are you on a Mac? It looks like there might be filesystem notification event limitations there: https://github.com/docker/for-mac/issues/2375

[2019-09-16 06:42] zamponotiropita commented on #1801
@ikonst please check the run file `run.sh`, it's per worker. The problem didn't come up with preloading, but I had issues connecting to the database when preloading, since the app object (and with it together the database connection) gets copied and passed the processes when forking -> my database couldn't handle identical connections of master and workers, and I couldn't find a workaround

[2019-09-16 08:11] philgyford commented on #1562
Ah, I am! That sounds like the culprit, thanks...

[2019-09-16 12:37] MrKiven commented on #1663
![image](https://user-images.githubusercontent.com/4526759/64958367-87ca9880-d8c1-11e9-9d19-bd1950d28e76.png)

same issue for me, any idea to fix ? python 3.6.3 with gunicorn 19.9.0

[2019-09-16 12:55] benoitc commented on #1663
@MrKiven whta does your app? are you using stuff like request?

[2019-09-16 12:56] benoitc commented on #1663
can someone provides a way to reproduce the issue?

[2019-09-16 14:09] aleSuglia commented on #1663
It's a manager of several components that are executed in a pipeline. Some of them might start HTTP requests to other components on the same machine or on remote machines. Some of the modules of the pipeline can be executed in parallel but they're executed using a ThreadPoolExecutor. They don't use any shared objects but they only generate data structure that are later on aggregated in a single re

[2019-09-16 14:16] benoitc commented on #1663
requests does a lot of unsafe things with threads which sometimes fork a new process. I would advise to use another client. can you paste at least the lines you'reusing to do a request? Are you using its timeout feature?

[2019-09-16 14:20] aleSuglia commented on #1663
One of them could be:

[code]

[2019-09-17 08:50] sang-jun opened #2111 "Can I set the default response when timeout is occurred?"
Hi I'm developing a micro service using gunicorn and flask.

My service have to guarantee response time. So, I want to limit the time for processing and If my functions take the time that limited, I want to return default response.

So, I have used timeout_decorator to raise exception when timeout occurred and I have returned default response using @app.errorhandler().

However, this solution has

[2019-09-17 08:59] benoitc commented on #2111
why not executing your task in a timed thread instead? The timeout should be less than the gunicorn timeout.

Other way is to just rely on the gunicorn timeout and handle the timeout on the client side instead.

[2019-09-17 09:02] benoitc commented on #1663
Thanks. I will try to create a simple from it.

It would be cool anyway if someone can send us a pr that reproduce the behaviour either as an example or a unit test so we make sure we are actually fixing the right thing.

[2019-09-17 16:55] tilgovi commented on #2111
You cannot set the response for a timeout because the timeout is first a worker timeout. The timeout is enforced by the master process to kill a worker that may be stuck, such as in an infinite loop, or deadlocked somehow. The master process cannot generate a response, only the worker can. The worker may not be responsive at all.

[2019-09-17 16:57] tilgovi commented on #2111
It happens to be the case that _for the sync worker_ the timeout behaves like a request timeout, but this is a confusion that I would like to resolve. See #1493.

[2019-09-18 08:56] sang-jun commented on #2111
Thanks @benoitc @tilgovi for your answering.

Since I used the flask app server for development, It processed the request outside of the main thread. But, If the gunicorn worker runs as a one thread, there is no reason to use timeout_decorator as a process! Thanks :)

[2019-09-18 18:14] antsarand commented on #1841
@sevaho I am running into this issue too. Can you provide additional details on how you resolved this? instead of  something like `docker run private-docker-registry/my-container`, you just did `docker run private-docker-registry/my-container:latest` ? and just that resolved your issue?

[2019-09-19 09:26] benoitc opened #2112 "release. 19.10 or 20.0?"
i am wondering which version number to give to the next version. I think due to our timing it may be better to bump directly to 20.0 to notify about a major release instead of 19.10. What do you think? Any feedback is welcome.

[2019-09-19 09:31] benoitc opened #2113 "groups.io?"
I recently discovered groups.io and was thinking it could be useful to improve the communications between users and developers on Gunicorn.

Groups IO would us to handle a group mail, sub-discussions and easy moderation. Groups.io is actually used by some foundation like the CNCF or the CI foundations.

Thoughts?

[2019-09-19 09:45] sirkonst commented on #2112
I agree, version 19.0 was released at 2014-06-12 :-)

[2019-09-19 11:16] jamadden commented on #2112
The `news.rst` file is woefully out of date so it's hard to be sure exactly what's changed without in-depth analysis, but if we're talking about releasing from `master`,  then the next version really needs to be a major version bump, 20.x. There are very incompatible changes in 20.x compared to 19.x, notably dropping support for Python 2.

I would strongly recommend that we add an appropriate `pyt

[2019-09-19 11:41] benoitc commented on #2112
@jamadden can you send a PR for that?

[2019-09-19 13:40] jamadden commented on #2112
Whoops, [it's already there](https://github.com/benoitc/gunicorn/blob/master/setup.py#L97):
[code]

I just missed it on the first scan. I'm used to more complicated strings like `python_requires=">=2.7,!=3.0.*,!=3.1.*,!=3.2.*,!=3.3.*,!=3.4.*"`.

[2019-09-20 02:36] di commented on #2112
Why not both? #2022 has a number of non-breaking commits that should be easy to backport to the 19.x branch if we want to make one last release there as well as a 20.0 release.

I'm happy to draft a PR that does this if it makes sense.

[2019-09-20 09:01] benoitc commented on #2112
@di yes and any help is welcome to make the backport release. I am creating the related branch for it.

About the 20.0 i will create a release  and also clean a little the tickets to make sure it's in phase with future needs :)

[2019-09-21 03:00] di commented on #2022
I've created https://github.com/benoitc/gunicorn/pull/2114 to backport all the commits listed in this issue to the `19.x` branch.

If there's any other commits worth backporting, please mention them here.

[2019-09-21 03:00] di commented on #2112
I created https://github.com/benoitc/gunicorn/pull/2114 to backport commits from #2022 to the `19.x` branch.

[2019-09-21 11:38] sevaho commented on #1841
@antsarand I can't remember anymore if I fixed it or not, I don't use gunicorn anymore, am running Sanic with `python -m sanic ...`

[2019-09-21 13:13] benoitc commented on #1841
@sevaho removed your comment as there is no need to spam with another project there.

@antsarand since he doesn't remember, any logs you can add with debug mode enabled? Can you open a new ticket for it?

[2019-09-21 13:23] sevaho commented on #1841
@antsarad I don't remember anymore how I fixed it, am now using another flask like framework where I don't need Gunicorn.

[2019-09-21 13:24] benoitc commented on #2022
@di thanks for it! The PR looks good for me, let's wait for some feedback from others but I will make a release beginning of the week with them .

[2019-09-21 13:29] benoitc commented on #524
sorry I have been horribly side tracked. I would say if anyone want to run natively gunicorn on windows I would be happy to accept any patch and and answer to any questions.

[2019-09-21 13:29] benoitc commented on #1195
@vikramarsid once 20.0 is released I will provide a worker for it

[2019-09-21 20:06] finefoot commented on #2082
Sure, sounds great. :) Sorry for taking so long to respond. I couldn't find any recent and related pull request, though. I hope you didn't wait for my response?

[2019-09-23 11:48] antsarand commented on #1841
@sevaho and @benoitc I resolved my issue, which turned out to be somewhat unrelated since it was an issue with the code I inherited. In my case, `gunicorn` expected additional arguments.

[2019-09-23 13:34] loretoparisi opened #2115 "Error: 'function' object has no attribute 'items'"
I run my gUnicorn instance like
`gunicorn --log-level debug -b 0.0.0.0:8888 wsgi:StandaloneApplication`

where the `wsgi` module is like

[code]

So if I use the default options to `{}` doing

[code]

in `def load_config(self)`  I get another error that is

[code]

[2019-09-23 13:58] benoitc commented on #2115
why using `StandaloneApplication`? Flask itself expose a wsgi application object `app`

[2019-09-23 14:02] loretoparisi commented on #2115
@benoitc thanks, I don't understand how to attach my Flask app to gUnicorn, passing the options like in the `StandaloneApplication`.

[2019-09-24 05:13] bingwork opened #2116 "module 'tornado.wsgi' has no attribute 'WSGIApplication'"
Name: tornado
Version: 6.0.3

Name: gunicorn
Version: 19.9.0

**tornadoapp.py**

from datetime import timedelta

from tornado.web import Application, RequestHandler
from tornado.ioloop import IOLoop
from tornado import gen

class MainHandler(RequestHandler):
    def get(self):
        print('hello')
        self.write("Hello, world")

class LongPollHandler(RequestHandler):
    @gen.coroutine
    d

[2019-09-24 06:13] bingwork commented on #2116
I find the reason and fixed. I should use tornado==5.1.1, not 6.*.*.

@benoitc can you think it's need to fix in latest gunicorn? thx.

[2019-09-26 04:17] fushenghua opened #2117 "can reproduce，place help!!!"
[2019-09-26 11:50:44 +0000] [2774] [ERROR] Error handling request /socket.io/?EIO=3&transport=websocket
Traceback (most recent call last):
File "/usr/local/lib/python2.7/dist-packages/gunicorn/workers/base_async.py", line 56, in handle
self.handle_request(listener_name, req, client, addr)
File "/usr/local/lib/python2.7/dist-packages/gunicorn/workers/base_async.py", line 115, in handle_request
resp

[2019-09-26 09:15] bingwork opened #2119 "'AsyncIOMainLoop' object has no attribute '_callbacks'"
@benoitc
when I use gunicorn and tornado,  set max_requests=12, so when gtornado work request num > 12, then self.alive = False, when heartbeat run, self.ioloop._callbacks will causes error below.
mainly because tornado<=2.4.1 the ioloop has _callbacks, but it's too old. tornado bigger than this version, IOLoop will not have _callbacks.
my solution is set max_requests=70000, hope enough to work.
a

[2019-09-26 16:56] jpmorris commented on #1885
I have this problem.  I've tried everything to stop it.  I've changed the health probes TCP, HTTP, HTTPS.  I can't really run on HTTP though so gunicron is only
[code]
my health probe is on HTTPS:30876/ping (the port auto-generated by azure)
I deploy with helm and my loadballancer is on 443, the port container is on 443, the liveenessprobe/readnessprobe (in kubernetes config) is on 8000.

[2019-09-27 18:29] benoitc commented on #1771
we probably need to think a little bit more about it. I am postponing it to 20.1 to let us some times.

[2019-09-27 18:30] benoitc commented on #825
I am thinking to just remove the version. @tilgovi any thoughts on it?

[2019-09-27 18:31] benoitc commented on #1566
postponing to 20.1 let's try to find a solution for it :)

[2019-09-27 18:31] benoitc commented on #2116
@bingwork did you try latest master?

[2019-09-27 18:34] benoitc commented on #2117
you need to give us more details. Which application is doing it? Which libraries are you using?

[2019-09-27 18:37] benoitc commented on #2115
@loretoparisi just using the `app` instance created by the line `Flask(__name__)` should be enough. Then launch gunicorn with the `<ModuleName>:app` as argument.

[2019-09-27 18:39] benoitc commented on #2112
@di thanks! I will merge it over the week-end and do a release.

I created 2 milestones then and we will have next week 2 releases. Thanks all for the feedback.

[2019-09-27 18:39] #2112 closed

[2019-09-27 18:40] benoitc commented on #2113
any thoughts on that ?

[2019-09-27 18:42] benoitc commented on #2110
can you try #2114? IT should solve your issue with python2.7.

[2019-09-27 18:43] benoitc opened #2122 "replacing tracis CI by github actions?"
What do you think by replacing Travis by Github actions?

[2019-09-27 18:48] benoitc commented on #2096
cc @berkerpeksag

[2019-09-27 18:48] #2111 closed

[2019-09-27 18:49] benoitc commented on #2072
cc @berkerpeksag

[2019-09-27 18:52] benoitc commented on #2065
Can you describe your usage for?

[2019-09-27 19:01] benoitc opened #2123 "lint CI error"
Current lint target in CI fail:
https://travis-ci.org/benoitc/gunicorn/jobs/590535074

[code]

[2019-09-29 09:19] bingwork commented on #2116
@benoitc I try latest master, and see changes in #2001 . It has been fixed. Thx.

[2019-09-30 07:17] loretoparisi commented on #2115
@b3no ok thank you, supposed I want to specify custom gUnicorn options when starting the Flask app, like number of workers, etc, how to do it? Thanks a lot.

[2019-09-30 09:13] loretoparisi commented on #2115
@benoitc because I'm using a docker / docker-compose and I would keep it simpler, and letting the running script to read a json configuration and then setup the number of worker, so that I only need to change this config instead of changing the entry point of docker :)

[2019-10-02 07:17] alochym01 commented on #2061
i got same error, is there any patches to fix

thank you

[2019-10-02 07:20] alochym01 commented on #2061
@AvnerCohen do you have a work around for this issue

[2019-10-02 22:33] g-bon commented on #1663
Not sure if it can help someone but I had the same issue while running a dockerized flask webapp  and solved it updating the base image of my dockerfile to `python:3.6.9-alpine`

Dmesg on the host showed a segfault on lilibpython3.6m.so.1.0:

`[626278.653010] gunicorn[19965]: segfault at 70 ip 00007f6423e7faee sp 00007ffc4e9a2a38 error 4 in libpython3.6m.so.1.0[7f6423d8a000+194000]`

My docker ima

[2019-10-03 05:00] AvnerCohen commented on #2061
No. No real workaround, just better monitoring to fully stop/strt every now and then.

[2019-10-03 18:13] tlaanemaa opened #2124 "Gunicorn + Flask + Tensorflow in Docker container doesnt work"
Hello

I have a TensorFlow 2.0 project that has a tiny Flask API in front of it so I can make requests to the model through HTTP calls with data preprocessing already done in the API. I chose Gunicorn to run my Flask/TensorFlow application in a docker container. Sadly tho, the worker process that Gunicorn creates hangs in the container until its killed by Gunicorn. The server never comes up and I

[2019-10-04 20:02] socialtelligence commented on #1913
Same issue Google Cloud Run

[2019-10-04 21:24] benoitc commented on #1913
which kind of request are we talking about?

[2019-10-07 03:12] 96486d9b opened #2125 "gunicorn + argparse not work"
I try to depoly my pytorch model with argparse module.
It seems that the argparse module declared in the app will replace the arguments of gunicorn.
And I have encountered such a problem like this:

[code]
The hints in the above section are the model parameters in the app.
Thanks~

[2019-10-07 09:51] dnlserrano opened #2126 "Bring back INFO level metric collection for changes in number of workers"
Hey and thanks for all the hard work on gunicorn! ❤️

Would it be possible to have [the metric for `gunicorn.workers`](https://github.com/benoitc/gunicorn/blob/master/gunicorn/arbiter.py#L556-L559) be [brought back to INFO level instead of DEBUG](https://github.com/benoitc/gunicorn/commit/bc2e132bce7ac0ca1b851c506dd2810c2650d89a#diff-057c7e5522ab065edb0f33fddc76ddd2)? I'm very much interested in u

[2019-10-08 19:21] tc64 commented on #1913
same issue in google app engine. POST request. happens inconsistently.

[2019-10-08 20:07] anshulpundir commented on #2057
Sorry didn't see this in time. Please feel free to work on this! @chrisevett

[2019-10-08 20:20] ValentinMoullet commented on #1913
Same issue as well, Google App Engine, POST request too, Flask app. It seemed to have started when I changed to a custom entrypoint code instead of letting the default one. Custom entrypoint is the following (in Google App Engine you set it inside an app.yaml file):

`gunicorn -b :$PORT --timeout 1200 server.main:app`

Default entrypoint is not setting anything (don't know what is used as default

[2019-10-09 10:40] allbugsbelongtous opened #2127 "UnicodeEncodeError: 'ascii' codec can't encode characters in position 141-142: ordinal not in range(128)"
I'm making a Bottle app and serving it with Gunicorn. I've been able to reduce the code to this demo snippet:

    demo.py
    ====================
    import bottle
    from bottle import get, redirect

    app = bottle.app()

    @get('/')
    def index():
        return redirect('/foobàr')

starting Gunicorn

    (venv) user@debian10:/srv/demo$ gunicorn --bind ":8080" demo:app
    [2019-10-09 1

[2019-10-10 19:27] tilgovi commented on #2113
Let's try it out.

[2019-10-10 20:26] tilgovi commented on #825
Fine for me!

[2019-10-10 20:31] tilgovi commented on #2122
I'd be interested to see it. Travis works pretty well, but GitHub Actions is definitely cool. As long as we can run the tests and everything within the limits of GitHub Actions I think it'd be a great thing.

[2019-10-10 20:41] tilgovi commented on #2116
The relevant commit is also in #2114. I'll close this issue. Thanks for reporting!

[2019-10-10 20:41] #2116 closed

[2019-10-10 20:47] tilgovi commented on #2115
Some common things can be specified by environment variable. For example, `WEB_CONCURRENCY` should work for the number of workers. `PORT` should work for the port. There is also a `GUNICORN_CMD_ARGS` environment variable as a catch-all. See the documentation here: http://docs.gunicorn.org/en/latest/settings.html#settings

If you do want to use a custom application, it should work the way have it.

[2019-10-10 20:48] tilgovi commented on #2124
Is your Docker setup limiting the maximum memory available to the container?

[2019-10-10 20:51] tilgovi commented on #2125
Can you show how you are creating your application and parsing the CLI with `argparse`?

Gunicorn calls `parse_args` on its own instance of `argparse`. You can implement a custom application that does something else, or you can ensure to mutate `sys.argv`, or pass your own arguments to `parse_args`, if you call it after Gunicorn starts.

https://docs.python.org/3/library/argparse.html#the-parse-ar

[2019-10-11 00:25] 96486d9b commented on #2125
Thanks for your reply, I found if I use argparse module in my APP like `args = parser.parse_args(sys.argv)`, the arguments of gunicorn may not work.
I try to replace it with `args, unknown = parser.parse_known_args()`, everything goes well.
Thanks ~

[2019-10-11 07:23] loretoparisi commented on #2115
@tilgovi thank you, let me investigate the error messages, I will be back to you.

[2019-10-11 08:54] alper opened #2129 "gunicorn restart logs out everybody"
I have no idea where to start debugging this but we have the behaviour that stopping the gunicorn application inside Docker removes our django database backed session from the database.

Running gunicorn outside of the container does not have this problem. Running uWSGI inside the container also does not have the problem.

Anybody else have this problem? Any hints how to approach solving this?

[2019-10-11 09:05] alper commented on #2129
Closing this since the session created with uWSGI also does not seem to survive container restart.

[2019-10-11 09:07] benoitc commented on #2129
you should make sure your env is correctly and configuration reused. How did you stop gunicorn anyway?

[2019-10-11 09:38] mackdelany commented on #2124
Experiencing the same. I don't think Gunicorn is to blame though. I get the same error when running `python3 api.py` from a bash shell in the container.

[2019-10-11 10:55] alper commented on #2129
Reopening because we confirmed that restarting gunicorn would log out everybody, but maybe that's not so much a gunicorn specific thing but `-k gevent`?

We swapped out that entire line for uWSGI and now we can restart the container and not be logged out.

Restarting the container is a simple Ctrl-C on `docker-compose`.

[2019-10-11 11:36] benoitc commented on #2129
did you try setting the worker via the configuration file? Why don't you restart gunicorn inside the os contained in the container?

[2019-10-11 11:37] benoitc commented on #2129
also not sure but it may be related to the way you give the args to gunicorn in the dockerfile

[2019-10-11 12:07] alper commented on #2129
The line in `entrypoint.sh` was:

[code]

[2019-10-11 12:08] alper commented on #2129
Also, the normal behaviour that happens is that `docker-compose` starts and stops the entire container. I would expect that if the session is in the database that it then should be persistent across events such as that.

It does not seem to happen outside of Docker for some strange reason.

[2019-10-11 14:28] MeteHanC commented on #2065
Hey, so I am making a load test to an app which is served with gunicorn. About the load test, I am using 50 threads in parallel and making around 15K requests per minute.

   Yes, I got 64 GB of memory, with flask(and it's default router), memory consumption is around 3-4 GB all the time (I run the test for around an hour). But with using Starlette and serving it with Gunicorn memory consumption i

[2019-10-11 21:55] tilgovi commented on #2126
My understanding of that change is that the metrics should be sent regardless of enabled log level.

Are you asking to log a message when the number of workers changes, or are you finding that StatsD metrics for `gunicorn.workers` are not logged?

[2019-10-11 21:58] tilgovi commented on #2126
There is an `INFO` level log when a worker exits.

[2019-10-11 22:18] tilgovi commented on #2127
I suspect this is already fixed on master and is about to be merged to the 19.x branch by #2114, where we've changed the encoding for headers to `latin-1` rather than `ascii`.

As a workaround, you can may be able to encode it yourself with `'/foobàr'.encode('latin-1')`. If you would like to try out the branch in #2114 or the master branch, you can also let us know if that helps.

[2019-10-11 23:32] tilgovi commented on #2125
Can the issue be closed, then? Do you need help to parse your own command line switches and the gunicorn switches together?

[2019-10-12 04:11] 96486d9b commented on #2125
Thanks again!

[2019-10-12 04:11] #2125 closed

[2019-10-12 06:28] tilgovi commented on #2124
@tlaanemaa can you confirm what @mackdelany says?

[2019-10-13 20:01] tilgovi commented on #2022
The only one mentioned here that I didn't see in the #2114 PR was the `wsgi.input_terminated` change. I just cherry picked and pushed that one to 19.x. I'm going to close this issue now, and start preparing the changelog and announcements.

Thanks for everyone's help!

[2019-10-13 20:01] #2022 closed

[2019-10-13 20:19] di commented on #2022
Sorry, I must have missed that one because there wasn't a commit hash included in the comment. Thanks @tilgovi!

[2019-10-13 20:23] tilgovi commented on #2022
No worries at all. Thanks so much for that help, @di.

[2019-10-13 23:18] dnlserrano commented on #2126
Weird... you seem to be correct, but...

Yes. 😐 I think I misinterpreted the code. It seems like you only log (and emit the metric) after you've spawned workers as needed, which is a bit puzzling to me (I haven't had time to look into commit history, which might explain this decision - sorry).

Would it make more sense to log the number of workers [before spawning needed workers](https://github.co

[2019-10-14 00:39] tilgovi commented on #2126
Ahh, yes. I don't recall the history, but it could be that the intention was to just log the number of configured workers. This number can change during a configuration reload or by using the `TTIN` and `TTOU` signals.

Maybe it would make sense to have extra guages for normal and/or abnormal worker exits.

[2019-10-14 00:41] tilgovi commented on #2065
@MeteHanC your issue may be different. The original report is about the `gthread` worker, but if you're using starlette I would expect you are using the `uvicorn` worker?

[2019-10-14 00:47] tilgovi commented on #2065
@pratapkishorevarma can you confirm that this is a leak in `gunicorn` by removing the CSV load?

If it's not reproducible without loading the CSV, then there is probably no bug in the worker, since your example does not do anything with the dataframe other than instantiate it and then release it.

You may also be seeing normal behavior of Python: http://effbot.org/pyfaq/why-doesnt-python-release-t

[2019-10-14 00:49] tilgovi commented on #2065
What subprocesses? Gunicorn workers or additional subprocess that you spawn? How do you spawn them? If you kill the master Gunicorn process, the workers should exit unless something you are initializing in your application is overriding Gunicorn signal handling.

[2019-10-14 06:33] douloveppt commented on #1478
哈哈哈

[2019-10-14 06:59] MeteHanC commented on #2065
Yes, I am using uvicorn worker.

Gunicorn workers, I am not spawning any additional subprocesses. I am running gunicorn with 48 workers and 2 threads. Under the load test, it keeps spawning new processes/tasks and if I don't stop the load test it runs out of memory, and If I stop the load test and kill the main gunicorn process, it does not release the memory and does not kill the sub gunicorn wor

[2019-10-14 08:04] eazow commented on #1852
I have the same issue

eventlet: 0.25.1
flask-socketio: 4.2.1
gunicorn: 19.9.0

![image](https://user-images.githubusercontent.com/1249362/66736558-14a24b00-ee9c-11e9-8ff2-de41b8fca0bd.png)

![image](https://user-images.githubusercontent.com/1249362/66736471-d4db6380-ee9b-11e9-85c6-aadade5f431f.png)

[2019-10-14 08:05] benoitc commented on #2065
@MeteHanC I do,n't understand that part:

Can ou elaborate what you mean there? ADo you have any logs or a simple way to reproduce your issue?

[2019-10-14 10:04] sergicollado commented on #2065
I have same problem in production with 75k conections ... my kubernetes PODs are getting restarted without memory with 100GB Disks.

[2019-10-14 11:41] MeteHanC commented on #2065
Strange thing is I have tried the same load test with using Flask and it's default HTTP router. Still the same behaviour, it does not release the memory and does not kill the tasks as well. I think this could be about Python's own threads and task management.

[2019-10-14 21:41] dnlserrano commented on #2126
Indeed. I've changed the issue title to reflect that, and I'll try to take a look at a possible PR for it soon. Thanks for the feedback @tilgovi! 🙇

[2019-10-15 09:25] tlaanemaa commented on #2124
Hey. Sorry for disappearing like that.

My setup is limiting Docker's RAM a little bit but the same thing happened even when I removed the limitation.

I will try out running the api file without gunicorn and r eport back.

Thanks!

[2019-10-15 10:08] opsarno commented on #1731
My solution

[code]

https://fedoraproject.org/wiki/Archive:PackagingDrafts/Python3?rd=PackagingDrafts/Python3

[2019-10-15 16:50] talham7391 opened #2130 "Inotify recursive reload"
When reloading use polling, we achieve a recursive reload behaviour (i.e. if we are watching `/src` and `/src/test/index.py` changes then gunicorn will relaunch the worker).

This is not the case when we are using inotify as the reloader. Inotify supports recursive reloading we just need to enable it in gunicorn.

[2019-10-15 19:11] eykd opened #2132 "19.10 release"
With the merging of #2114 a couple of days ago, when can we expect to see a 19.10 release?

[2019-10-15 19:21] tilgovi commented on #2132
We are working on preparing the changelog and NEWS this week, and hopefully preparing a 20.0 release at the same time. Please subscribe to product releases with the watch function. If you'd like to help out, please feel free to familiarize yourself with the commits and changes surrounding past releases and open PRs to help us get our papers in order!

[2019-10-15 19:34] tilgovi commented on #2132
Oh, help resolving #2123 would be great, too!

[2019-10-15 20:42] cisarpavel commented on #1986
May be it's late, but I solved this issue with python.
I use python config file for gunicorn
[code]
So it produces something like
[code]

[2019-10-16 12:13] seenureddy commented on #1913
I was using `gunicorn` without `nginx`. I was getting the same issue. My setup is running on `Openshift`.

[2019-10-16 12:15] benoitc commented on #1913
the question stand

what do you mean by entry point? can you post a debug log and the way the request is done? (raw http would help)

[2019-10-16 14:36] talham7391 opened #2133 "Worker does not pick up proper files to watch for reloading when rebooting"
When launching Gunicorn with the `--reload` option, workers will start the Reloader and then load the wsgi app. This is problematic because user files are loaded when the wsgi app is loaded, and the reloader depends on the user files to be loaded so that it can watch them.

So when the Reloader starts, it isn't watching any user files. This isn't an issue when using the default polling reloader as

[2019-10-16 20:17] polly-want-a-kraken opened #2135 "Trouble with SSL configuration"
## Objective

Get my Flask application secured with SSL/TLS.

## Problem Summary

Adding the argument `--keyfile mykey.cert.key` causes the application to respond with an Internal Server Error where it normally returns some basic, static content.

Adding the argument `--certfile mycert.cert.cert` makes it so that I cannot reach the host at all.

## Environment

The app is being developed with the

[2019-10-16 20:20] polly-want-a-kraken commented on #2135
I'm wondering if the app would need to be proxied by Nginx in order for me to reach my objective.

[2019-10-16 20:27] polly-want-a-kraken opened #2136 "Server Hooks Usage Example"
Despite reading the documentation (below) and searching elsewhere, it's not clear to me how I can interface with `gunicorn`'s server hooks.

Could someone provide an example of how this could be done from within the scope of a (Python 3) application?

I would be willing to add this content to the documentation as thanks.

## Server Hooks Documentation

https://docs.gunicorn.org/en/stable/settings.

[2019-10-16 20:59] polly-want-a-kraken commented on #2135
Never mind. I wasn't using the right address. This works fine when I do.

[2019-10-16 20:59] #2135 closed

[2019-10-16 21:11] technikamateur opened #2137 "gunicorn socket permission error"
Hi,
I'm using gunicorn3 on debian buster and followed your guide (http://docs.gunicorn.org/en/stable/deploy.html) for deployment with nginx and systemd.

It seems like there is a racecondition between the systemd socket unit and the creation of the runtimedir via the the service unit.

First the socket unit creates `/run/gunicorn/socket` with root as owner of the directory.
Because `/run/gunicorn/

[2019-10-16 21:53] polly-want-a-kraken commented on #2136
Solved. You want to use a configuration file written in Python, use the argument `--config my_config.py`, and set the variable of the hook to a function pointer.

## Example

**config.py**
[code]

**server.py**
[code]

## Invocation

`gunicorn server:app --config config.py`

[2019-10-16 21:55] polly-want-a-kraken commented on #2136
Leaving the issue open to address the matter of documentation, which I think should be improved for clarity's sake.

I had to do a decent amount of digging to figure out how this works.

[2019-10-16 22:19] tilgovi commented on #2136
We could link to this more prominently, but there are examples for this here: https://github.com/benoitc/gunicorn/blob/master/examples/example_config.py

[2019-10-17 04:32] ltskv commented on #1801
I am having a similar issue. I am trying to generate a lot of data on-the-fly with Flask using
[this](https://flask.palletsprojects.com/en/1.1.x/patterns/streaming/) method, and it fails because the worker times out after whatever was set in `--timeout` expires. A minimal example to reproduce:

**test_gunicorn_timeout.py**

[code]

Then run `gunicorn --timeout 10 test_gunicorn_timeout:app` and aft

[2019-10-17 04:45] tilgovi commented on #2137
Maybe some change to the socket file that adds [`DirectoryMode`](https://www.freedesktop.org/software/systemd/man/systemd.socket.html#DirectoryMode=)?

[2019-10-17 07:33] vale981 commented on #2137
That would not change the owner of  that directory, so that the permissions would be too open!

[2019-10-17 07:34] ShubhamKhandare commented on #1801
I am on windows 10 Pro. With docker compose
```gunicorn app -b 0.0.0.0:8000 -k gevent```
Worked for me by installing gevent in my python container
[How to install gevent](https://stackoverflow.com/a/49203929/7840402)

[2019-10-17 07:41] technikamateur commented on #2137
Yes, setting DirectoryMode to 777 helps, but is a huge security risk.
The folder is created by the socket, which means as root.
As far as I know, there is now way setting the user of the folder containing the socket.
I solved the problem by using the SocketUser option and changed the path simply to /run.
Now the service creates the /run/gunicorn and everything is fine.

[2019-10-17 10:45] galCohen88 opened #2138 "Running Gunicorn using non-root user"
Hey, I'm currently dealing with moving gunicorn from root to non-root user.

My question is about file system permissions / usage. Besides PID file, are there any files written to the disk? for instance once a large request payload received, is it buffered to the disk?

[2019-10-17 12:45] polly-want-a-kraken commented on #2136
@tilgovi, yeah I think would definitely be a good idea. I found that after I had already determined how the configuration file works by going through other issues.

[2019-10-19 03:06] cmin764 commented on #1913
I think he's referring to the fact that you're explicitly specifying the `app` path the _gunicorn_ should import-find and run, like the `server.main:app` in his example.

[2019-10-19 12:22] borit22 commented on #524
see https://github.com/cs01/gdbgui/issues/18, maybe help

[2019-10-19 12:24] long76 commented on #524
see cs01/gdbgui#18, maybe help

[2019-10-19 15:25] HerbertHe opened #2139 "I can't run the second flask project by gunicorn"
## my gunicorn configure as follow:

bind = '127.0.0.1:6000'
backlog = 2048

workers = 4
worker_class = 'gevent'
worker_connections = 2000
daemon = 'false'
pidfile = '/var/run/gunicorn.pid'
accesslog = '/var/log/gunicorn_acess.log'
errorlog = '/var/log/gunicorn_error.log'
loglevel = 'warning'

## when I run the command as follow:

but I only get the processes as before, there is no more processes

[2019-10-19 15:27] HerbertHe commented on #2139
the configure is the same one as before

[2019-10-19 20:17] ramnes commented on #1885
I'm also experiencing this issue, but with a bare-metal Kubernetes cluster, not Azure. In my case, adding `initialDelaySeconds: 20` to the readiness and liveness probes helps. It seems that something is preventing gunicorn to read the certificates (mounted from a secret) right away.

[2019-10-19 23:46] tilgovi commented on #2138
Request and response bodies are never buffered to disk. If you bind to a UNIX domain socket, that will be a socket file on disk.

[2019-10-19 23:47] tilgovi commented on #2139
Is there any output? What happens if you remove the `-D` to keep it in the foreground?

[2019-10-19 23:48] tilgovi commented on #2139
Also, is there any output in the error log?

[2019-10-19 23:53] tilgovi commented on #2137
You could set the mode to `711` or something like this that enables traversal, but not listing files or writing. If the socket mode is correct, this should allow referring to the socket, but not overwriting it, listing the contents of the directory, or writing other files into it.

[2019-10-20 02:55] HerbertHe commented on #2139
Thank you, I have solved this error!

[2019-10-20 02:55] #2139 closed

[2019-10-21 19:39] kalbfled commented on #1628
I don't see that any changes for this issue have gone in.  Is something holding them up?  Are there other complications?

Thanks for what you guys do.

[2019-10-23 03:33] jcald1 opened #2140 "No such file or directory on Docker on a Mac"
I'm getting the following error only on Mac.  It works fine on a Linux host.  Using Gunicorn v19.9.0.

Docker run output:

[code]

docker-compose.yml.  gunicorn is installed in the server:

[code]

docker-compose-override.mac.yml:

[code]

command:

[code]

Dockerfile:

[code]

[2019-10-23 04:09] tilgovi commented on #2140
Please see #1388 and ensure that the directory for worker temporary files is not a docker volume mount.

[2019-10-23 11:23] keith6014 opened #2141 "How to proxy auth from nginx"
Airflow uses gunicorn. I would like to proxy auth from nginx to gunicorn. How can I do that?

[2019-10-23 11:43] benoitc commented on #2141
how does the auth work? normally everything will be proxied.

On Wed 23 Oct 2019 at 13:23, keith6014 <notifications@github.com> wrote:

--
Sent from my Mobile

[2019-10-24 10:09] seenureddy commented on #2078
@cbrintnall Is there any fix for the issue?

[2019-10-25 16:14] cstanhope commented on #2073
I just ran into this problem after going from 3.6.6 to 3.6.8. In my case, it's a flask app. Thanks to the work of @lordradi to narrow the problem down, I did a quick diff between 3.6.6 and 3.6.7. I focused on the logging library.

[code]

It seems like a mostly small refactoring to combine some cleanup code into a new function. But there is also what appears to be a change in behavior inserted wit

[2019-10-26 10:18] keith6014 commented on #2141
yeah, i am not 100% sure. i will need to ask airflow.

[2019-10-27 01:23] benoitc commented on #2138
Best practice is to start the gunicorn arbiter user as root and let workers run with a different user.
To add to what @tilgovi  said, with a specific user yo need to check if Gunicorn has access to the temporary dir (which can be set via the options or config), the log dir and indeed the pid file.

[2019-10-27 16:24] thinkjrs commented on #1913
Firstly, @benoitc THANK YOU. Your work is awesome.

I'm also experiencing this same issue on Google Cloud Run w/gunicorn. I'm posting what I have, though it's likely not unique, perusing the above. I'm running a Flask app with Gunicorn as the server (and no proxy) in a Docker container.

The traceback (from GC console):
[code]

And Google's parsed output of the above:

[code]

If there is anything

[2019-10-27 16:46] technikamateur commented on #2137
Yeah, that would also work, but I still don't think that giving 777 to a folder is an good idea. Creating the socket in /run/gunicorn.socket as root without touching _socket mode_ or _directory mode_ should be the best way.

Anyway: The example configuration in the guide, mentioned above, doesn't work for systemd. It should be corrected.

[2019-10-27 17:17] #2123 closed

[2019-10-27 18:35] tilgovi commented on #2137
I think you're right. It's simpler that way. Both the pidfile and the socket could be created in `/var/run` and this seems like common things that daemons do. Would you please open a PR to change the systemd example? It's in `docs/source/deploy.rst`.

[2019-10-27 18:37] tilgovi commented on #1913
A PR would be welome to handle `ENOTCONN` gracefully for all the workers. Please post here if you start working on this and I would be happy to review a PR. I'm sure some on this thread would be happy to help test a branch.

[2019-10-27 21:03] technikamateur commented on #2137
Yes I can. I will do it tomorrow :)

[2019-10-27 21:47] technikamateur commented on #2137
It has already been changed in PR #1950
It just needs to be updated on the website.

[2019-10-29 11:57] boddumanohar commented on #1695
I also see the same error, but the gunicorn is recovering from this after sometime. I see this for a few minutes and then after gunicorn starts taking requests.

[code]

[2019-10-29 12:00] boddumanohar commented on #1695
I too see the same error, but gunicorn recovers from this after sometime. I see this for a few minutes and then after sometime gunicorn starts taking requests. here are my gunicorn logs.

[code]

[2019-10-29 17:00] pbcraig commented on #1913
Same issue, Google App Engine, gunicorn serving a Django app, a small percentage of requests die like this:

![image](https://user-images.githubusercontent.com/38537396/67790209-607bf500-fa43-11e9-9d1c-25481ad500c2.png)

[code]

[2019-10-30 06:54] benoitc commented on #1695
if you are using a synchronous worker, you should make sure to tell to elb to close the connection on each check . It seems it’s trying to retry on the same connextion.or maybe one other request is doing it.

[2019-10-30 07:57] tilgovi commented on #1296
I'm going to close this as the issue is very old and has not been updated in some years now. As far as I understand it, some issues like these may be solved by moving from ELB to ALB, as ALB does not pre-open connections to the backend. See https://docs.aws.amazon.com/elasticloadbalancing/latest/userguide/how-elastic-load-balancing-works.html

[2019-10-30 07:57] #1296 closed

[2019-10-30 08:04] benoitc commented on #2091
the question also is why suddenly python decided to buffer there also. does anyone knows when the change have been done?

[2019-10-30 08:14] tilgovi commented on #2091
Python is not buffering here and never was. The argument of `buffering=1` was silently ignored.

The change to emit this warning is new in 3.8: https://bugs.python.org/issue32236

#2146 is ready with the fix and approved.

[2019-10-30 08:16] #2091 closed

[2019-10-30 08:18] benoitc commented on #2091
still i wonder what changed. anyway I pushed the patch, it will be part of
the 20.0 release today

On Wed 30 Oct 2019 at 09:14, Randall Leeds <notifications@github.com> wrote:

--
Sent from my Mobile

[2019-10-30 13:29] cbueche commented on #1771
Dear devels,
I'm facing a request loss issue (has nothing to do with Gunicorn). I would need to be able to have the precise timestamp including the microseconds, as in this example from one of our Apache servers : `2019-10-30 14:27:16.960421`. It would be a cool enhancement, thx for considering it.

[2019-10-30 16:54] benoitc commented on #1909
i would go for (1) , can you provide a PR for it?

[2019-10-30 16:57] benoitc commented on #2127
Closing the issue . As said @tilgovi  we are supporting latin 1 in last master and coming 20.0.

According the HTTP spec we should only support ascii but Gunicorn is now supporting latin 1 characters to comply with the WSGI spec and support legacy. Unicode is however not supported.

[2019-10-30 16:58] benoitc commented on #2138
@galCohen88 fo you have more questions about it?

[2019-10-31 02:01] Catelemmon opened #2148 "Could you add a feature for supporting specific module to patch?"
My current project rely on [watchdog](https://github.com/gorakhargosh/watchdog) library based on [threading](https://docs.python.org/3/library/threading.html), so after `monkey.patch_all`, the watchdog doesn't works. After search in gunicorn documentation, I didn't get anything about configuring patch list. So I have to fork gunicorn and change the `monkey.patch_all()` to `monkey.patch_all(subproc

[2019-10-31 02:32] zhan9san commented on #1695
This issue cannot be reproduce these days. It's weird.
@tilgovi Sorry, It's typo
[code]

[2019-10-31 02:59] boddumanohar commented on #1695
@benoitc I am using worker class as `gevent`.

Earlier to this we were using the worker class as `gthread` we had the same issue where gunicorn has started dropping connection because of which elb health checks are failing. so we switched to `genvent` but problem still persists.

is there any suggestion that you can give to fix this?

[2019-10-31 15:37] galCohen88 commented on #2138
No, thanks

[2019-10-31 15:37] #2138 closed

[2019-10-31 20:51] tilgovi commented on #1801
@kurt-hectic that documentation should be improved. By silent, we mean silent from the perspective of the arbiter process, which communicates with the workers through a temporary file. If the worker is busy sending data, it does not update that file. From the perspective of the arbiter, the worker is missing heartbeats.

See also #1974.

[2019-10-31 20:51] tilgovi commented on #1801
Using any worker other than the default, synchronous worker should mitigate the issue with streaming large bodies, because the other workers will heartbeat the temporary file even when they are handling requests.

[2019-10-31 20:55] tilgovi commented on #2148
@Catelemmon let's take these issues separately.

I would be hesitant to expose a patch list. It's hard to guarantee that any particular setup other than patching everything won't break something in gunicorn itself. I would recommend creating a [custom application] if you need this level of control. You might also ask the watchdog project if it can function with gevent. If you are using watchdog to

[2019-11-01 03:58] ltskv commented on #1801
@kurt-hectic I re-checked once again the `-k gevent` option and inserted `sleep(0)` between generator iterations and it did actually work for me (I am not sure why it didn't work at the time I posted the question though).

[2019-11-01 08:39] Catelemmon commented on #2148
very thanks for your sugesition for the first problem.

And secondly, I tried the HEAD of master a few times to reproduce the issue, and when I try to call `flask.send_file()` like this
[code]
In fact, `xxx.zip` is a file_name or fp,  and I use  `gevent` as work class, gunicorn will catch ` RecursionError` as follow
[code]
and I find this error seems to be not catched first time, and it is only oc

[2019-11-01 13:10] seenureddy commented on #1913
I'm happy to help testing the PR. If need any assistance please ping me.

[2019-11-02 14:41] waghanza opened #2149 "Demistify python version support"
Hi @benoitc @tilgovi,

The `README` says (in **installation** section) that `gunicorn` requires `python` **3.4** (at least) to run
https://github.com/benoitc/gunicorn#installation

However, the badge on the same `README` says that `gunicorn` runs for `python` **2.6** to **3.6**.

According to my tests, I have successfully runs on  `python` **3.8**.

Could we officially adds support for `python` **

[2019-11-03 17:40] MeetJuly opened #2150 "how to set the workers num of several application instances in a same server?"
Hello, as described in the title, I deploy several application in one server, the num of gunicorn workers is recommended to be 2-4 * core, I also know maybe 2 * core + 1 is better. question is that the recommanded config means every single application workers or sum(application's workers) in a server?

[2019-11-04 17:06] tilgovi commented on #2150
That's the recommended configuration assuming that Gunicorn is the only significant process running. This recommendation assumes that some fraction of active workers are always waiting on I/O and so chooses a number greater than the number of cores.

These are only recommended started points. You should load test your own applications and determine what makes sense for you.

[2019-11-05 07:35] sandeepsign commented on #1801
This is the most common cause of this issue.

[2019-11-05 13:54] myaser opened #2151 "How gunicorn behave with multiple bind addresses"
when binding gunicorn to multiple addresses it means there are multiple tcp backlogs
requests coming to different addresses are piled up into different backlogs
my question is how the workers handle the load from different backlogs? are they doing any balancing like round robin or what?

[2019-11-05 15:14] dom-nie commented on #2149
Hi @waghanza

README is correct, however README is generated from github branch while badge is generated from latest PyPI release, where supported versions included **2.6, 2.7, 3.2, 3.3, 3.4, 3.5, 3.6** which makes it correct.

Badge will be updated with **20.0.0** release, since current release is from `July 2018` it's no wonder that list is outdated.

Currently only python **3.4** to **3.8** is

[2019-11-05 15:29] waghanza commented on #2149
ah, ok. Thanks for this explanations

[2019-11-05 15:29] #2149 closed

[2019-11-05 19:53] lc-lingliang commented on #1913
I'm happy to help testing the PR. If need any assistance please ping me.

[2019-11-05 21:54] cbrintnall commented on #2078
@seenureddy I fixed it by intercepting the logs and ignoring anything that matched the string - Not ideal, but fixed it until I can either take the time to write a PR or the maintainers do.

[2019-11-06 08:36] seenureddy commented on #1913
The root cause of this issue with latest version of `gunicorn==19.9.0`. I was shifted to use the older-version of `gunicorn==19.7.1`. I was able to run without any issue. Please try with the older versions.

[2019-11-06 08:44] benoitc commented on #1913
rather try the last master. 20.0 will finally come today i have been side tracked.

How your health check endpoint looks? How do you respond to it, are you closing the connection? do you set length header and co? i'm not sure why a health check is done via post. sounds weird...

[2019-11-06 08:47] benoitc commented on #1913
@cmin764 does fflask set some default header? i will try but it would be interresting to ser ho the response looks

[2019-11-06 08:51] seenureddy commented on #1913
@benoitc When I was using the `gunicorn==19.9.0` endpoint health check is really bad. Database connections are waiting for the longer time. Entire loading the application is goes down.

Endpoint are breaking Endpoint health check is looks good. I was not closing any connections and not set length of headers.

[2019-11-06 08:54] seenureddy commented on #1913
with older version gunicorn=19.7.1` I was not able to run with the `gevent`. I have changed my gunicorn command
`gunicorn apps.wsgi:application --bind 0.0.0.0:8000 --workers 4 --timeout 180`

[2019-11-06 08:58] benoitc commented on #1913
i am looking at the changes since this version to see if there is any reason for it. thanks for the feedback!

[2019-11-06 16:54] playma opened #2152 "Problem when using gunicorn and django-rest-auth"
When I use gunicorn, I can not use /api/rest-auth/facebook/
It works well when I use python3 mange.py runserver

Start server
gunicorn config.wsgi -b localhost:8000 --access-logfile - --log-level debug

it returns 200 in option and connection:close

[code]

Can any one help me?

[2019-11-06 20:58] villebro commented on #2132
I believe I speak for the broader community when I say that the 19.10 release is eagerly anticipated. @tilgovi is there an updated plan for the release?

[2019-11-07 13:43] tomwojcik commented on #2119
@benoitc

We recently upgraded tornado into 5.x and we bumped into this issue. The newest tornado version is 6.x. I see that you have a compatible version for 5 on master right now which does

`TORNADO5 = tornado.version_info >= (5, 0, 0)`

and then

`
                if TORNADO5:
                    for callback in self.callbacks:
                        callback.stop()
                    self.i

[2019-11-07 21:26] bboe opened #2153 "v20 release"
Hi,

I see that the news file was updated to state v20 was released on 10/30, however, such a release doesn't yet appear to exist. Perhaps there's more to a release, but if not I merely wanted to point it out.

Thanks!

[2019-11-08 08:25] yongzhuo opened #2154 "TypeError: __call__() missing 1 required positional argument: 'send'"
gunicorn + fastapi

# fastapi:
[code]

# gunicorn:
[code]
or
[code]

# error:
[code]

[2019-11-08 10:24] dumblob opened #2155 "Support for Delegated Credentials for TLS"
There is an [RFC](https://tools.ietf.org/html/draft-ietf-tls-subcerts-04 ) describing Delegated Credentials for TLS mechanism (it is currently being tested in Firefox) to solve the issue with giving all private keys to CDNs (as CDNs are terminators of TLS connections).

It seems quite probable, that this DC RFC will be approved. This RFC shouldn't hopefully lead to any modifications of gunicorn, t

[2019-11-08 11:28] jamadden commented on #2154
FastAPI only runs in an ASGI server.  gunicorn is an implementation of the PEP 3333 WSGI standard. The two are not compatible.

[2019-11-08 12:14] yongzhuo commented on #2154
@jamadden
thanks, is that mean worker_class of gunicorn must be 'uvicorn.workers.UvicornWorker'?
like
[code]
are there any other ways?

[2019-11-08 14:39] jamadden commented on #2154
As far as I know, that's the only worker that implements ASGI instead of WSGI.

[2019-11-08 15:13] yongzhuo commented on #2154
ok, thanks

[2019-11-08 15:14] #2154 closed

[2019-11-08 17:19] spanezz opened #2156 "No way to use xheaders in tornado worker"
Thanks for gunicorn! I am using it to deploy a tornado server using the tornado worker.

Deployment is behind a proxy, so I need to activate `xheaders` in the tornado [httpserver](https://www.tornadoweb.org/en/stable/httpserver.html#http-server), and use `--forwarded-allow-ips` in gunicorn.

In workers/gtornado.py, however, I see no way to set xheaders=True in the created tornado httpserver. This

[2019-11-09 04:38] gvskalyan opened #2157 "Use Gunicorn with Flask to serve a Pytorch Model"
gunicorn is used as **gunicorn app:app --preload --workers 3**
Preload is used to share the resources among the workers.
Set the OMP_NUM_THREADS to 2.

app.py contains the following code

[code]

model.pt is created using create_model.py containing
[code]

But I am not able to infer it .
Instead of using a torch model if I use some numpy operation and just return its output, it is able to.

1. Tho

[2019-11-09 09:30] benoitc opened #2158 "issue uploading doc on readthedocs"
It seems readthedocs is still using python 2.7 to generate the documentation which create the following error on latest version:

[code]

Unless I miss a parameter that force readthedocs to use python 3 it let us the following possibilities:

* put the version manually on each releases and make the documentation independent of the python version
* host the doc ourself (which the benefit of removin

[2019-11-09 09:37] benoitc commented on #2153
yes. people got side tracked ;) Howerver 2.0 is on pypi now. Only doc has stil to be updated and may require some delay for the announce:  #2158.

[2019-11-09 09:43] benoitc commented on #2158
found this option in "advanced settings" that did the trick:

<img width="525" alt="Screen Shot 2019-11-09 at 10 40 54" src="https://user-images.githubusercontent.com/14498/68526563-ba9b7680-02dd-11ea-8cb5-dc59c64ab8cb.png">

[2019-11-09 09:43] #2158 closed

[2019-11-09 09:43] benoitc commented on #2153
fixed. 20.0 is public.

[2019-11-09 09:43] #2153 closed

[2019-11-09 09:46] benoitc commented on #2151
It doesn't change we are binding for one or more sockets. The system will load balance the connections between processes waiting for one.

[2019-11-09 09:46] #2151 closed

[2019-11-09 09:47] benoitc commented on #2136
@polly-want-a-kraken any PR is welcome ;)

[2019-11-09 14:43] darwinyip commented on #2103
Chiming in that I have encountered the same issue and `--preload` seems to have fixed it.

My setup is `gunicorn + gevent + falcon + ecs`.

[2019-11-09 18:03] tjwaterman99 opened #2159 "v20 issue: Failed to find application object 'create_app()' in 'app'"
I had neglected to pin my version of gunicorn, and the run command started breaking this morning when I re-deployed my app and it automatically upgraded to 20.0.

Downgrading my version of gunicorn back to 19.9 fixed the issue.

This is the command I'm using to run my app:

[code]

The error is:

[code]

[2019-11-09 21:24] aljinovic opened #2160 "Gunicorn 20.0.0: find_library('c') doesn't work in Alpine Linux"
I was trying to run gunicorn 20.0.0 inside an Alpine Linux docker container (python:3.8-alpine).
Gunicorn 19.9.0 works just fine on the same docker image.

After installing `musl`, the error `libc not found` is still present.

Here's a block of code extracted from `gunicorn/socketfromfd.py` that doesn't work in Alpine:

test.py
[code]

Dockerfile
[code]

[2019-11-09 21:24] tc64 commented on #1913
Using 19.7.1 (downgrade from most recent) worked in google app engine environment with push queues feeding workers, and workers talking to each other over http.

[2019-11-09 21:26] James-D-Wood commented on #1913
This is my use case. I’ll be giving this a shot.

[2019-11-09 23:37] benoitc commented on #1913
did you try the latest version?

[2019-11-10 02:04] #2137 closed

[2019-11-10 14:22] benoitc commented on #1566
So back on this topic since someone reported on irc he hit the error. The problem I see in monkey patching during preload is that it would make the socket unblocked in the arbiter, which is not really wanted. We should make sure to use the unpatched module/function in the arbiter.

[2019-11-10 19:21] joshuamhtsang commented on #2159
I have experienced this issue also, i.e.
`Failed to find application object 'create_app()' in 'app'`
and pinning to version 19.9.0 solves the issue.

I initially though the fix was to change the gunicorn command from:
`gunicorn --bind 0.0.0.0:$PORT app:create_app()`
to:
`gunicorn --bind 0.0.0.0:$PORT app:create_app`
(notice the brackets after create_app are now gone).  Initially, all seems well:

[2019-11-10 19:51] benoitc commented on #2159
It must be related to this change: https://github.com/benoitc/gunicorn/commit/3701ad9f26a7a4c0a081dfd0f6e97ecb272de515#diff-0b90f794c3e9742c45bf484505e3db8dR377

One way to fix it on your side is to have exported `myapp = create_app()` in your main module and ten start with `app:myapp`. This should work, let me know if it doesn't.

I will look if something need to be done there. @berkerpeksag why

[2019-11-10 19:59] benoitc commented on #2160
Right. We should probably test **if python=< 3.7** to use `socket.from_fd` in https://github.com/benoitc/gunicorn/blob/438371ee90b9676336a44c7abaeb30ee7fc57a5c/gunicorn/socketfromfd.py#L65

[2019-11-10 20:02] benoitc commented on #2141
do you have more detail to share?

[2019-11-10 20:03] benoitc commented on #2157
what do you mean by "But I am not able to infer it ." does it fails?

[2019-11-10 21:46] jrusso1020 commented on #2159
I have made this change in my application and fixed the crashing, Gunicorn is now able to run my application by saving the result of `create_app()` in a variable and exporting it so that it can be used in my Gunicorn run command

[code]

`gunicorn "app:my_app" --workers 8`

[2019-11-10 22:54] joshuamhtsang commented on #2159
I can confirm that doing what @benoitc  and @jrusso1020 suggested above fixes the problem.  Thanks all!

[2019-11-10 23:03] cometaj2 commented on #2159
I don't see the fix working if parameter passing is required at launchtime like:

gunicorn --chdir `hcli_core path` "hcli_core:HCLI(\"`hcli_core sample hfm`\").connector".

Parameter passing works in 19.9.0 but fails in 20.0.0.

[2019-11-11 02:56] tilgovi commented on #1566
Does the arbiter perform any blocking calls on the socket? If not, do we care if the socket is patched in the arbiter? Mostly, the arbiter just passes the socket to workers.

[2019-11-11 03:31] tjwaterman99 commented on #2159
@benoitc in case it's helpful to know, [the flask docs](https://flask.palletsprojects.com/en/1.1.x/deploying/wsgi-standalone/) recommend the `app:create_app()` pattern when using gunicorn. I suspect some of your new users first try gunicorn as a result of building flask apps, and they'll attempt to use the now-broken recommendation from those docs (that was my experience at least).

I can reach ou

[2019-11-11 03:50] gvskalyan commented on #2157
Yes it fails.
But works in the other two cases.

[2019-11-11 03:51] zybjcdl opened #2161 "CVE-2019-18348 for gunicorn 19.9.0"
Our product is using gunicorn 19.9.0, and our python base is 3.7.5.
Not sure whether it is affected by following Vulnerability:
https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-18348

Please confirm

[2019-11-11 05:30] mcauto commented on #1981
@tilgovi Could you add the reference?

[2019-11-11 06:00] lseelenbinder commented on #2160
First, thanks for a great piece of software!
Second, I can confirm this issue; it has occurred in every installation of 20.0.0 on Alpine.

[2019-11-11 06:10] benoitc commented on #2157
do you have a trace of the failure? what does it raises?

On Mon 11 Nov 2019 at 04:50 gvskalyan <notifications@github.com> wrote:

--
Sent from my Mobile

[2019-11-11 07:37] gvskalyan commented on #2157
![image](https://user-images.githubusercontent.com/42022935/68569333-e0628000-0483-11ea-8c20-61fa5fa2fd91.png)
The worker gets timed out . I tried with various high timeout values and with working cases as in threads=2  it works faster.

[2019-11-11 09:28] reupen commented on #1925
I am also seeing this after updating from Gunicorn 19.9.0 to 20.0.0 (with gevent 1.4.0, Django 2.2.6, Python 3.7.5, Ubuntu 19.10):

[code]

Is there any known solution?

[2019-11-11 09:35] naorlivne commented on #2160
Can confirm that the issue isn't related to a specific Python version, have it happening in 3.6,3.7,3.8 so long as it's in Alpine.

[2019-11-11 09:35] benoitc commented on #2159
@tjwaterman99 well I am not sure I like passing arguments this way to an app. I don't think it's a good idea. Arguments should be passed via the env.

Our own [example of Flask usage (https://github.com/benoitc/gunicorn/blob/master/examples/frameworks/flaskapp.py) is doing what I describe . I'm thinking the current way (which was the original way) is simpler to handle. Thoughts?

[2019-11-11 09:37] benoitc commented on #2159
cc @tilgovi @berkerpeksag ^^

[2019-11-11 09:48] benoitc commented on #2160
It's a side effect of using an operating system without all the basic libs in a container unfortunately. Maybe you could use an image using a debian? or an alpine image coming with a libc?

This api is there is pre-3.7 to replace a lack of API for it in Python. Detecting if the api is available (for python >= 3.7) would at least solve the issue for these versions. Before that we need to investigat

[2019-11-11 09:57] aberres commented on #2159
FWIW we are running into this as well.

I expect out there are quite a lot of people following the "application factory" Flask pattern.
There is a work around for sure, but at least the changelog should mention this as breaking change.

[2019-11-11 10:09] benoitc commented on #1566
The arbiter itself rely on a blocking behaviour for select and signaling. Also it's safer to bind the socket in blocking mode. This is why it's discouraged to patch outside of a worker. Also in term of design i am thinking it's better to have the arbiter isolated from the application logic.

I am thinking there is a way to make sure the arbiter is always the unpatched module/functions. Kind of pat

[2019-11-11 10:24] berkerpeksag commented on #2159
I don't think we ever intentionally supported usages such as `app:callable()` and `app:callable(some, args)`. I'd say it was an unfortunate side effect of using `eval()` in the previous implementation.

The current implementation is pretty close to what Django's `import_string()` does:

https://github.com/django/django/blob/master/django/utils/module_loading.py#L7-L24

I'd be happy to improve docu

[2019-11-11 10:39] benoitc commented on #2159
Yes I agree. We never supported such way to start an application as far as I am looking. I'm +1 for a more explicit error. Maybe we should raise an error if the application name is not a simple name?

[2019-11-11 12:55] fiskl commented on #2159
Please keep in mind that this was explicit behaviour mentioned in public documentation for one of the major wsgi frameworks (flask), and has previously been supported by your project. Removing the eval prevents lazy initiation of an application, which is a problem if an application is 1) provided by a library, and 2) incurs non-trivial setup costs. If there is no security or other reason why an ev

[2019-11-11 13:04] fiskl commented on #2159
In case anybody encounters a similar case, the appropriate workaround from Python 3.7 onwards would be faking a module-level variable by creating a module-level __getattr__, as per [this PEP](https://www.python.org/dev/peps/pep-0562/). That would allow lazy initiation (a la application factories) without hitting the breaking change in gunicorn 20.0.0.

[2019-11-11 13:17] naorlivne commented on #2160
Alpine uses musl libc in place of glibc as part of it being based on busybox, of course using other base images would be a workaround but it will limit gunicorn uses as both alpine & other minimal OS that are growing in popularity (which are often based on it\busybox\etc) all have musl instead of glibc so the affect is likely not limited to alpine (just the most popular one affected).

Sounds to m

[2019-11-11 13:17] benoitc commented on #2159
Well we never supported such behaviour really, none of our docs or example use it. That doesn't fit the command line.

But right this is really a breaking change and unexpected . I would be then in favor to put back the `eval` and make and warn the user about a deprecated behaviour. Maybe also to replace it and let people use a "factory" design pattern we could add a setting `--init-args`:

[code]

[2019-11-11 13:26] franciscopaniskaseker opened #2162 "Gunicorn too slow after login on twilio python package"
May be relationated with #1801

I have the same problem on issue #1801 , but after I changed timetout to 120 and changed the worker_class to eventlet, gevent or gthread, the timeout (#1801) is gone, but the performance continue slow.

Basically I use last gunirco and flask versions to connect with my twilio service, which is in last stable version too. When I login in my system, I see a very low p

[2019-11-11 13:32] benoitc commented on #2160
related issue is docker-library/python#111

maybe this code can be reused in a way: https://github.com/python/cpython/pull/10453/commits/e3f67780aab24401a50af64e688d38c24ee41ad0

[2019-11-11 13:42] benoitc commented on #2162
wha does your app?

[2019-11-11 14:35] franciscopaniskaseker commented on #2162
Simple integration between server and twilio network to send sms.

https://www.twilio.com/learn/twilio-101/what-is-twilio

With older version of twilio, flask and gunircon my customer does not has this problem. Unfortunately my customer does not know which versions. I tried some versions permutations (base on release dates) without success.

Log about since I do login until I get page loaded:

[co

[2019-11-11 14:59] benoitc commented on #2162
Which gunicorn version are you using?

Timeout happen when the worker didn't notify the arbiter in time. So one part of the application is actually blocking the worker to do it. In the case of an async worker it also means the event loop is blocked.

Did you try to catch any exceptions around the twillio calls?

[2019-11-11 15:43] MrNaif2018 commented on #2160
There is one possible workaround for that, as twisted users encountered the same:
https://stackoverflow.com/questions/48234723/twisted-server-monkey-patch-file
The code from `gunicorn/socketfromfd.py` could be rewritten as following:
[code]
Just one of the possible solutions,but probably not the best one.

[2019-11-11 16:07] harpener opened #2163 "Gunicorn 20.0.0 raises RecursionError"
Hi guys,

I'm having a problem with the latest Gunicorn version 20.0.0 (eventlet workers) that does not occur with previous 19.9.0 version.

I'm using Python 3.7.3, eventlet 0.25.1 and requests 2.22.0.

When I download something using [requests](https://requests.kennethreitz.org/en/master/) library, `RecursionError: maximum recursion depth exceeded` is raised from Python's `ssl` module.

[code]

I

[2019-11-11 16:41] jamadden commented on #2163
There's [an eventlet issue](https://github.com/eventlet/eventlet/issues/371) about this and a [related gevent issue](https://github.com/gevent/gevent/issues/941). It *probably* depends on when the eventlet monkey-patches are getting applied. If they're applied too late, you may get this problem.

Are you preloading your app? If so, try disabling preload and see if that solves the problem.

(Possib

[2019-11-11 16:47] jamadden commented on #2163
For reference, gunicorn 19.8 and 19.9 did not actually monkey-patch when using eventlet. See #1847 and #1884

[2019-11-11 17:02] connorbrinton commented on #2159
@benoitc Supporting factory methods with an explicit command-line flag would be excellent 😄 Maybe something like:

[code]

(Or maybe another base name, like `--factory`)

I've been running into issues with this change because there's no longer a way for me to easily run tests. Because (i) my app depends on environment variables, (ii) test collection loads all modules (for doctests) and (iii) I can

[2019-11-11 17:03] harpener commented on #2163
Ah, okay. My app don't monkey patch either, it was working without it okay. I will investigate on my own now, thanks. :-)

[2019-11-11 17:03] #2163 closed

[2019-11-11 17:57] tjwaterman99 commented on #2159
I agree, I think passing arguments via the environment is more intuitive and encourages users to have their configuration live in one place. However supporting callable objects / factories is important for at least Flask, and perhaps other frameworks too.

+1 for raising a warning, and providing instructions on how to use Gunicorn with factories before deprecating `exec` next release.

[2019-11-11 19:44] FSalazarH opened #2164 "RecursionError in v20.0.0 from Docker"
I'm developed several python web services from Docker-compose, I'm using following Docker images:

* python:3.7
*  nginx:1.13.3

So I'm create two services (containers) that communicates between them.

We have no errors until today, and I think that the error is the version of gunicorn that in my requirements.txt is being used (was a gunicorn without specified version).

So in the latest days, aft

[2019-11-11 21:03] mattbriancon commented on #2164
For what it's worth, I suspect this isn't related to Docker. A service I work on updated to Gunicorn 20 and we saw the same error (Python 3.7.4, gevent 1.4.0, gunicorn 20.0.0). Interestingly, we only see the issue when we serve a static file from Django with Whitenoise.

http://whitenoise.evans.io/en/stable/

[2019-11-11 21:53] jamadden commented on #2164
Thanks for the report! Yes, this is definitely a bug in gunicorn; Closing in favor of the earlier report https://github.com/benoitc/gunicorn/issues/1925

[2019-11-11 21:53] #2164 closed

[2019-11-11 21:54] darthmall opened #2165 "gunicorn times out starting with systemd service Type=notify"
I think there might be some missing or incorrect info in the docs on monitoring with systemd.

The example configuration for `gunicorn.service` includes

[code]

When I follow the example and set up `gunicorn.service` like this, it times out whenever I try to start it.

According to the [systemd docs](https://www.freedesktop.org/software/systemd/man/systemd.service.html#Type=), when setting `Type=

[2019-11-11 22:00] jamadden commented on #1925
Now that v20 has been released, this bug is causing more problems (e.g., #2164).

gevent provides `socket.sendfile` on all versions of Python 3. One option would be to change `gunicorn.http.wsgi.Resoponse:sendfile` to use `socket.sendfile` instead of `os.sendfile` if `hasattr(sock, 'sendfile')`.  Another option would be to override `Response.sendfile` in the gevent worker. Of course the obvious op

[2019-11-11 22:04] benoitc commented on #1925
@jamadden what would you suggest?

[2019-11-11 22:51] jamadden commented on #1925
Python 3.4 has been end-of-life for sometime now. According to https://pypistats.org/packages/gunicorn, it makes up less than 1% of gunicorn downloads, less than 3.8 (those numbers are skewed, of course, but there may be value in them nonetheless). So rather than deal with the `hasattr` dance, I would just drop 3.4 and assume `socket.sendfile` exists 😄

But that's not something that can happen in

[2019-11-11 22:57] jcald1 commented on #2140
@tilgovi , yes that was the issue.  I used the  `--worker-tmp-dir` option to set a local worker tmp directory that wasn't in the volume.  I created a separate directory in the container at the root level.  The volume was mapped to a separate directory in the container.

[2019-11-11 22:57] #2140 closed

[2019-11-12 00:11] tilgovi commented on #2159
It's unfortunate that this happened. We have have two choices of how to respond. We could change the behavior back or we can help everyone migrate.

If we were to change the behavior back, it might make sense to pull the release from PyPI, but I think this is too drastic. Gunicorn never documented or suggested this usage.

Therefore, I suggest we just help everyone adapt and apologize for the inco

[2019-11-12 00:12] tilgovi commented on #2159
I see that @bilalshaikh42 already has done this at https://github.com/pallets/flask/pull/3421

[2019-11-12 00:15] tilgovi commented on #2161
I don't think this is an issue for Gunicorn as Gunicorn itself makes no outbound requests.

[2019-11-12 00:16] tilgovi commented on #2161
Thank you for the report. In the future, please e-mail `security@gunicorn.org` instead for security related issues.

[2019-11-12 00:18] tilgovi commented on #2162
Are you connecting directly to Gunicorn or connecting through a load balancer or reverse proxy? Do you experience the same problem when connecting directly?

[2019-11-12 00:19] tilgovi commented on #2157
Does this mean that the issue can be closed?

[2019-11-12 00:20] tilgovi commented on #2160
I think that's this issue: https://bugs.python.org/issue21622

Let's find a workaround and make a patch release.

[2019-11-12 00:21] tilgovi commented on #1925
That sounds good. Let's capture the old sendfile. Let's also bump the Python version for the next release.

Can we make a 20.x release branch, then, and start working on 21?

[2019-11-12 00:22] tilgovi commented on #2148
There is discussion of the sendfile issue in #1925. Can we close this and continue over there?

[2019-11-12 00:23] tilgovi commented on #2132
Version 20 was just released this past week. We still plan another 19.x maintenance release, but if it's possible to update to version 20, that may be the best choice!

[2019-11-12 00:25] tilgovi commented on #1566
I'm not sure I see a danger anywhere in the way the arbiter uses sockets or signals. If I remember correctly, @jamadden has experience patching the arbiter early with gevent without issue.

[2019-11-12 00:29] tilgovi commented on #1981
Here's a place to read about Python memory management: https://realpython.com/python-memory-management/#cpythons-memory-management

Python, like many interpreted languages, allocates memory from the OS in chunks and re-uses it as a pool for allocating and freeing interpreter objects.

[2019-11-12 00:36] mcauto commented on #1981
Thank you ! 👍

[2019-11-12 00:48] jamadden commented on #1566
Yes, we still patch before running any gunicorn code and haven't encountered any issues as far as I know. gunicorn master and workers all respond to signal as expected, requests are delivered as expected, etc. We recently enabled SO_REUSEPORT and everything continued to works.

[2019-11-12 04:59] gvskalyan commented on #2157
Can you please address why this does not work with not having threads?
Else can you please elaborate on why having gthreads works?

`The worker gthread is a threaded worker. It accepts connections in the main loop, accepted connections are added to the thread pool as a connection job. On keepalive connections are put back in the loop waiting for an event. If no event happen after the keep alive ti

[2019-11-12 05:30] villebro commented on #2132
Thanks @tilgovi , will give it a try.

[2019-11-12 08:48] kvikshaug commented on #1566
FWIW, our organization [patches like this](https://github.com/DD-DeCaF/cookiecutter-flask-microservice/blob/master/%7B%7Bcookiecutter.project_slug%7D%7D/gunicorn.py#L29) for a half-dozen microservices in production and we have not run into any issues with it.

[2019-11-12 09:06] benoitc commented on #1566
I'm not against patching it sooner in the case of preload case. Maybe indeed it won't arm to just patch it, so why not trying it in a branch for the next 2 days (so we can release 20.0.1 on thursday).

I think it requires the following changes:

* add a preload method to the worker that would be called by the arbitert before we preload the WSGI APP. I think we can[ reuse the setup method ](https:/

[2019-11-12 09:55] ThiefMaster commented on #2159
(One of the Flask maintainers here)

While I fully agree with getting rid of `eval` there, I think there should be explicit support for app factories! The whole point of an app factory is to avoid having an importable `app` object (since using that often results in circular dependency hell).

In the `flask run` cli (only for development) we actually added [explicit support](https://flask.palletspr

[2019-11-12 09:57] ThiefMaster commented on #2159
Not sure if RCs really help - generally people don't install/upgrade with `--pre` (also because of how badly this works - it doesn't only affect explicitly specified packages, but all nested dependencies no matter how deep, so it's very easy that some dependency of a dependency pulls in a broken prerelease), so anyone who just didn't pin their versions won't spot any breakage until they actual rel

[2019-11-12 12:00] jamadden commented on #2159
For what it's worth, [`zope.hookable`](https://zopehookable.readthedocs.io/en/latest/narr.html) provides an easy way to implement a lazy factory-like approach with essentially no overhead (due to an optional C extension). It doesn't do anything about passing extra arguments, though.

[code]

[code]

[code]

[2019-11-12 13:41] ProgVal commented on #2159
Another reason have a `wsgi.py` in your project is wrong: some tools imports all modules in a project; eg. pytest does when looking for doctests.

[2019-11-12 14:15] maximmarakov commented on #1195
I have some error while upgrage my app from gunicorn 19.9 to 20.0.
``` exec gunicorn -w 4 "api.wsgi:init_app()" ```
init_app() return the app flask instance
[code]
It work with 19.9 , but dont with 20.0
Text of error: ` Failed to find application object 'init_app()' in 'api.wsgi' `
This man have some trouble: https://stackoverflow.com/a/58809644/11321632

[2019-11-12 14:16] maximmarakov opened #2166 "init_app() in gunicorn 20.0.0"
I have some error while upgrage my app from gunicorn 19.9 to 20.0
``` exec gunicorn -w 4 "api.wsgi:init_app()" ```
init_app() return the app flask instance
[code]
It work with 19.9 , but dont with 20.0
Text of error: ` Failed to find application object 'init_app()' in 'api.wsgi' `
This man have some trouble: https://stackoverflow.com/a/58809644/11321632

[2019-11-12 14:18] maximmarakov commented on #2166
dublicate of
https://github.com/benoitc/gunicorn/issues/2159

[2019-11-12 14:18] #2166 closed

[2019-11-12 15:03] nolpenki commented on #1913
Tried latest 20.0.0 on Openshift (openshift v3.11.135, kubernetes v1.11.0) - same error occurs. What I observed error is trigered on higher load (integration tests running 20 parralel workers). Raising number of pods reduces occurence of error, leaving single pod results in guaranteed error. It's 3 sync workers config. **19.7.1 just shows no error on pod logs**, but external consumer experiences s

[2019-11-12 15:48] davidism commented on #2159
Another Flask maintainer here. @ThiefMaster already said everything I wanted to say, so I'm mostly reiterating my support for the feature.

I agree with getting rid of `eval`, and I avoided it in `flask run`. You can add a more constrained version of the previous behavior. If the command line option has parens, assume it's a factory that returns the real app. Use `literal_eval` to parse the conten

[2019-11-12 17:41] paulalex opened #2167 "Gunicorn issue serving static content when running as kubernetes pod"
I have a very basic flask application that I have built into a container and when I run this locally it runs fine and I get no errors and all my static content is working fine.

However when I then deploy this to kubernetes I get no css or images in my application and I get the following error (see below), the application also seems to run incredibly slowly, I would appreciate any help you can giv

[2019-11-12 18:18] jamadden commented on #2167
Thanks for the report! This appears to be the same issue being discussed in #1925.

[2019-11-12 18:18] #2167 closed

[2019-11-12 18:30] paulalex commented on #2167
Ok so is there a workaround or way to get this to work? It works locally. Or is the answer to not use gunicorn?

[2019-11-12 18:58] seizethedave opened #2168 "Clarify request distribution and worker ordering"
I am running Gunicorn with 7 Eventlet workers and 64 max green threads each.

Once an HTTP request comes in to the listening address/port, what determines which worker will accept the request? My read of the code is that each of the 7 workers will have a 64-wide GreenPool, all blocked on `accept`. Could it be that the first worker fortunate enough to start up will have all 64 of its workers at the

[2019-11-12 19:08] tilgovi commented on #2132
I'll re-open this, though, just to remind myself to post an update when it's done.

[2019-11-12 19:09] eykd commented on #2132
We're testing v. 20 and so far seems to be working fine for our purposes (we use both sync workers for a Django-based project and tornado workers for a tornado-based project).

[2019-11-12 19:10] tilgovi commented on #1195
Would be great to rename this and get a milestone to track for 21.

[2019-11-12 19:11] tilgovi commented on #2157
The default, synchronous worker will be killed if it does not generate a response within the timeout (default 30s). The threaded worker can signal liveness on a separate thread, so it generally does not time out (unless there is a bug in the interpreter, or unsafe C code that leads to a deadlock, or something like this).

How long do your requestts take?

[2019-11-12 19:12] villebro commented on #2132
I tested v 20 with gevent from behind an SSL terminated LB, and dynamic flask stuff worked well, but for some reason serving static content caused errors. I can open an issue with a stacktrace.

[2019-11-12 19:13] jamadden commented on #2132
I would guess you're seeing #1925

[2019-11-12 19:17] tilgovi commented on #2159
Would someone like to put a PR together for `literal_eval` of factory-like application strings? This would be in `gunicorn.util.import_app`.

[2019-11-12 19:19] tilgovi commented on #1566
I think we have some minor issues to fix for 20.0.1, but should defer this to 20.1 or 21, if we think it's at all risky. I don't think we should change any APIs, even internal APIs, in a patch release.

[2019-11-12 19:20] villebro commented on #2132
Thanks @jamadden , that's precisely the error I was getting.

[2019-11-12 19:22] tilgovi commented on #2168
I believe this is unspecified and varies at the OS level.

Changing the way `accept()` distributes connections has been discussed in Linux and ultimately some changes were made that are opt-in by using `SO_REUSEPORT`, exposed in Gunicorn as `--reuse-port`. Here's a starting point for reading about this: https://lwn.net/Articles/542629/

[2019-11-12 19:23] tilgovi commented on #2132
We'll try to fix #1925 for a v20 patch release and backport it for the forthcoming v19.x release.

[2019-11-12 20:59] CorreyL opened #2169 "gunicorn 20.0.0: --paste not detecting arguments under [server:main]"
Hello gunicorn maintainers,

Environment:

* `python 3.6.1`
* `pyramid==1.9.2`

On September 12th 2019, I refactored the way an internal [`pyramid`](https://trypyramid.com/) server was being deployed, replacing `waitress` with `gunicorn`, per this Stack Overflow suggestion:

https://stackoverflow.com/a/26872261/10491481

At the time the internal PR was made, the latest release of `gunicorn` was 19

[2019-11-12 21:20] estadtherr opened #2170 "RecursionError with eventlet workers and sendfile"
When using gunicorn with eventlet workers to serve static files with Flask, there is an infinite recursion error. Looking at `workers/geventlet.py`, it appears to be caused by patching `os.sendfile` to refer to `_eventlet_sendfile`, whereas `_eventlet_sendfile` just turns around and calls `os.sendfile()`:

[code]

A simple test case follows:

`requirements.txt`:
[code]

`sendfile_bug.py`:
[code]

[2019-11-12 21:36] jamadden commented on #2170
Thank you for the report! #1925 documents a very similar issue with gevent, but I'm not sure we realized it was also an issue with eventlet.

[2019-11-12 21:45] ye opened #2171 "ModuleNotFoundError running inside a Docker container"
I have an application Docker containerized. Dockerfile looks like this:
[code]

`docker inspect 61db228f0e42 | jq '.[0]["Config"]'` looks like this:

[code]

Docker run in daemon crashes immediately. However, passing in the run command would make it work.

[code]
Any know why is the `--pythonpath` not working inside of the Docker container?

[2019-11-12 22:04] ye commented on #2171
So it appears to be that `gunicorn` doesn't work with the exec form of Dockerfile CMD, only the shell form of Dockerfile CMD would work with custom `PYTHONPATH`, in other words, changing the last line in Dockerfile to below works.

[code]
I would really love to make the exec form of CMD work. What would it take to establish a custom `PYTHONPATH`?

[2019-11-12 22:14] tilgovi commented on #2169
My apologies. The changelog entry only says "Simplify Paste Deployment documentation", and I should have helped to prepare a better news entry here.

The PR for this is here: https://github.com/benoitc/gunicorn/pull/1957

Previously, we had deprecated `use = egg:gunicorn#main` but that is no longer deprecated. The change is intended to clarify the role of Gunicorn in a Paste Deploy-compatible envi

[2019-11-12 22:18] tilgovi commented on #2169
In your case, you should be able to continue as before, but use `pserve` raither than `gunicorn` to start your application. All the server configuration for Gunicorn can then be in your `server` block, as you seem to have done already.

[2019-11-12 22:20] tilgovi commented on #2169
The previous behavior was potentially confusing because it allowed specifying options on the command line that would conflict with the file. We also had requests for adding the ability to specify config vars for interpolation in the `.ini` file and specifying different `server` and application blocks. As a result, the decision was made to deprecate using Gunicorn as a Paste _server_ runner. Gunico

[2019-11-12 22:34] CorreyL commented on #2169
Thanks for the fast response @tilgovi!

Following your recommendation:

[code]

Which is great, since part of the internal PR I opened up involved having to change the command `pserve` to `gunicorn`, which I was a bit wary of as I'm not the original developer of our internal API server.

That resolves my problems, feel free to close this issue =)

Thanks,
Correy

[2019-11-12 22:34] tilgovi commented on #2169
One final note, and then I think I've added all the detail I can recall. It was potentially confusing that invoking `gunicorn --paste production.ini` would use Gunicorn as the server _even if the `server` block specified something other than `egg:gunicorn#main`!

Since Gunicorn is primarily a server and process manager, it doesn't make sense for Gunicorn to be a general CLI for invoking arbitrary

[2019-11-12 22:40] tilgovi commented on #2169
I opened an issue on the Pyramid cookbook for this: https://github.com/Pylons/pyramid_cookbook/issues/222

[2019-11-12 22:41] tilgovi commented on #2169
I thought I had documented this thoroughly in Gunicorn itself, but I couldn't find the reference at first. It's here: http://docs.gunicorn.org/en/stable/run.html#paste-deployment

[2019-11-12 22:48] tilgovi commented on #2171
What happens if you define `PYTHONPATH` using a Dockerfile `ENV` directive?
https://docs.docker.com/engine/reference/builder/#env

[2019-11-12 22:48] tilgovi commented on #2171
I also noticed your invocation of `myapp:create_app()`. Be aware there's an open issue about this form: https://github.com/benoitc/gunicorn/issues/2159

[2019-11-12 23:15] davidism commented on #2159
Need to add tests, but here's Flask's code ported to Gunicorn: https://github.com/benoitc/gunicorn/compare/master...davidism:import-factory

[2019-11-13 01:31] ye commented on #2171
@tilgovi I've tried `ENV PYTHONPATH /app/src`, it didn't work :( Somehow I feel that something is missing from the shell init in the exec form, I just don't know what it is.

thanks for the heads up for that `myapp:create_app()` issue - I don't think that's relevant to me though, simply because `/usr/local/bin/gunicorn -w 4 -b 0.0.0.0:5000 -t 30 --pythonpath /app/src 'myapp:create_app()'` works in

[2019-11-13 01:33] keith6014 commented on #2141
sorry, i dont
airflow people wernt helpful

[2019-11-13 01:33] #2141 closed

[2019-11-13 03:51] gvskalyan commented on #2157
It depends on no of words present in a sentence. But for the same sentence which took around 250 ms for serving the inference. The default setting with sync workers got timedout.

[2019-11-13 05:11] seenureddy commented on #1913
Can you try increase the [router timeout.](https://github.com/BCDevOps/openshift-wiki/wiki/Route-Timeouts--504-error-for-longer-running-http-requests)

[2019-11-13 06:03] Catelemmon commented on #2148
This problem seems to be solved I'll close this issue. very thx.

[2019-11-13 06:03] #2148 closed

[2019-11-13 11:19] tomwojcik commented on #2119
@bingwork 20.0.0 has been released with the necessary change.

[2019-11-13 11:56] nolpenki commented on #1913
**Folowing this lead we found issue**: Openshift readiness probe setup was too optimistic, and on failure external loadbalancer (AVI) picked up this event and kicked pod out of loadbalancing pool.

[2019-11-13 14:38] jmidyet commented on #2169
@tilgovi just a heads up this was a breaking change for my team as well. Perhaps worth moving to the breaking change portion of the changelog?

[2019-11-13 15:22] connorbrinton commented on #2159
@davidism If you're interested, here's a function that might be useful for loading apps from app factories (with doctests 😄). It uses Python's built-in AST parser to differentiate attribute names and function calls (rather than a regex). It also supports keyword arguments in the factory function. Everything is still evaluated using `ast.parse` and `ast.literal_eval`, so there are no `eval` calls:

[2019-11-13 16:16] seizethedave commented on #2168
Thanks!

[2019-11-13 16:16] #2168 closed

[2019-11-13 19:14] #1925 closed

[2019-11-13 19:14] #2170 closed

[2019-11-13 19:42] art-i-svsg commented on #2117
@benoitc @miguelgrinberg We have the same issue. We are using flask-socketio for websockets and we see this error very often. It seems that it was fixed in the past but now it is here again.
Versions of packages installed:
`certifi==2019.6.16
chardet==3.0.4
Click==7.0
datadog==0.29.2
decorator==4.4.0
dnspython==1.16.0
eventlet==0.24.1
fire==0.1.3
Flask==1.0.4
Flask-Cors==3.0.6
Flask-SocketIO==3.0.

[2019-11-13 20:20] benoitc commented on #1566
@tilgov agree, the change it planned to the milestone 20.1.  Btw There is a 20.0.1 milestone created, so if something is missing please add it to it :)

[2019-11-13 20:23] benoitc commented on #2160
@tilgovi the patch I linked above does the trick (and is linked in the bug ticket you added). I will work on a PR that use it.

[2019-11-13 20:25] benoitc commented on #2161
I also checked our own parser and I think we are safe. I am closing the issue then. Thanks for the report!

[2019-11-13 20:25] #2161 closed

[2019-11-13 20:29] tilgovi commented on #2167
#2172 has merged. We'll work on getting the fix out.

[2019-11-13 20:33] benoitc commented on #2159
I am still unconvinced we should support such pattern. How is it useful? Why not using environment variables to pass custom args or a config if it is really needed?

@ThiefMaster

I don't understand that, why does such file have to be maintained separately?

[2019-11-13 20:36] ThiefMaster commented on #2159
If it's in the package, then it's importable. So if you have a bigger project someone will eventually just import it instead of using `current_app` etc.. ie more work when dealing with PRs containing this kind of mistakes.

If it's outside the package, you won't get it when doing a `pip install`.

---

FWIW, I don't really care about passing arguments. Usually those are not needed (env vars are in

[2019-11-13 20:39] HebaruSan commented on #2159
`pytest` loads every module in the project to find tests. If you have a global `app=Flask()` object that depends on environment variables or a config file, that object will be loaded when running tests. It's useful to be able to run tests without setting environment variables or config files. The app factory pattern is great for this.

[2019-11-13 20:41] davidism commented on #2159
I don't personally use the factory with arguments style, but it's a somewhat common pattern due to some popular Flask tutorials, which is why I supported it in `flask run`. I agree it's preferable to use the environment to configure the app, so I'd be fine with a more reduced version that supports calling a factory without arguments.

[code]

[2019-11-13 20:42] benoitc commented on #2159
@tilgovi I agree.  My main issue is that we didn't expected that would break anyone, hence why i was suggesting to put back the eval (or something safer) and deprecate it.

[2019-11-13 20:48] benoitc commented on #2159
@davidism interesting. But how would it be different from using a callable object as an application?

[2019-11-13 21:04] davidism commented on #2159
I'm not sure what you mean, could you give a more specific example? A factory returns a WSGI application, it's not itself a WSGI application.

[2019-11-13 21:07] benoitc commented on #2159
@davidism I mean something lke this

[code]

then someone run `gunicorn -b :8000 somemodule:application`

[2019-11-13 21:21] davidism commented on #2159
That causes `application` to always be evaluated when importing the code, defeating the purpose of the factory.

[2019-11-13 21:30] jamadden commented on #2159
A WSGI callable can also be a class instance, so perhaps this is what was intended:

[code]

(The `zope.hookable` example is essentially the same, just less overhead in the steady-state condition.)

[2019-11-13 21:31] davidism commented on #2159
You've just describe the `Flask` object.

[2019-11-13 21:36] tilgovi commented on #2159
I think we have an abundance of ways around this, but that just means we're not the target audience. I know that I can do things like ship a script that's outside the package as an entrypoint for my container and configure pytest to ignore it, etc, etc, but we want to care about the people for whom this breaks who are following tutorials and might not understand the traceback.

A very limited "if

[2019-11-13 21:39] tilgovi commented on #2159
I like both the suggestions from @davidism and @connorbrinton using `literal_eval`.

[2019-11-13 21:41] tilgovi commented on #2169
I'll re-open the issue and self-assign. I'll close it when I update the changelog to be more legible here.

Again, my apologies for not calling it out more clearly in the changelog initially.

[2019-11-13 22:28] benoitc commented on #2159
Well it would init the app on runtime and return a callable used by the workers. That's not that different.

My main reserve about that pattern is it encourage people to run some code pre-spawn which can break the expectations on  HUP or USR2. Also it breaks the current UI. Will it work with future usages of gunicorn?

Anyway I think the choices are the following:

1. we can consider this behaviou

[2019-11-13 22:29] benoitc commented on #2159
/polls "Keep the factory pattern unsupported" 'Support the factory pattern' "Support the pattern but display a warning"

[2019-11-13 22:36] benoitc commented on #2159
/polls "Keep the factory pattern unsupported "'Support the factory pattern' "Support the pattern but display a warning"

[2019-11-13 23:02] benoitc commented on #2171
Looking at the trace it seems to try to load `'myapp`  instead of `myapp` (so adding  `'`) . Did you try to escape the app uri?

[2019-11-14 03:12] Sytten commented on #825
Any progress on this one? This seems like a quick win for security.

[2019-11-14 08:23] benoitc commented on #825
that will be part of the next 20.1

[2019-11-14 17:45] smiles3983 opened #2174 "SSL Key and Cert Strings instead of file path"
Is it possible to pass to gunicorn, the private key and cert strings instead of the file paths?

[2019-11-14 17:46] smiles3983 commented on #2174
or better yet, the ability to pass a key pair and password, and have gunicorn do the work to separate the key and the cert.

[2019-11-15 03:41] gangm commented on #2163
i have the same problem, any suggestion?
my app.py:
from flask import Flask
import requests
import time
app = Flask(__name__)

@app.route('/')
def index():
    print("in")
    print(requests.get('https://www.baidu.com'))
    return 'hello world'

boot cmd:
gunicorn --preload -k eventlet -w 1 app:app --log-level=debug

curl localhost:8000
err msg:
 File "/home/code/api/app.py", line 9, in index

[2019-11-15 04:59] benoitc commented on #2171
@ye bump

[2019-11-15 08:25] harpener commented on #2163
@gangm I suppose you're not patching the standard library with eventlet either. But eventlet has a bug that Python 3.7's ssl library: https://github.com/eventlet/eventlet/issues/526
I haven't had time to investigate, but I'm considering trying either gevent or sync workers.

[2019-11-15 08:55] Abdelkrim opened #2175 "gunicorn v20 : issue since the upgrade : Flask/Dash app Failed to find application object 'app.server' in 'index'"
My app, based on Dash (https://plot.ly/dash/), stopped working after I updated my libraries by using https://pypi.org/project/pur

I didn't pay attention and gunicorn upgraded from `v19.9.0` to `v20.0.0`.

There is clearly a breaking change but I don't know how to address it. Any thought?

PS: I have read this post but it didn't help me : https://github.com/benoitc/gunicorn/issues/2159

thank in a

[2019-11-15 08:56] benoitc commented on #2175
can you start gunicorn with the debug level to see where the application is failing?

[2019-11-15 11:03] r-chris commented on #2175
Exact same issue here - I'll take a closer look soon

[2019-11-15 11:41] Junnplus commented on #2175
I think it related to this change: https://github.com/benoitc/gunicorn/commit/3701ad9f26a7a4c0a081dfd0f6e97ecb272de515#diff-0b90f794c3e9742c45bf484505e3db8dR377
same issue as: https://github.com/benoitc/gunicorn/issues/2159

[2019-11-15 11:44] jamadden commented on #2175
Try using a simple name instead of expecting gunicorn to traverse into objects. For example, `webapp:server`.

[2019-11-15 16:04] davidism commented on #2159
Looks like another breaking use case was attribute access, which won't be solved by `literal_eval`.

For example, in Plotly Dash you use the `Dash` object, which internally has a `Flask` instance as the `server` attribute. Instructions used to say:

[code]

I'm not sure this should be supported though. `flask run` doesn't support it either. Seems like the `Dash` object should have a `__call__` met

[2019-11-15 19:11] ajones1982 opened #2176 "Gunicorn Vulnerable to HTTP Desync / CL-TE Attack"
It seems like gunicorn is vulnerable to a CL-TE attack when used with something like Amazon’s ECS service + a load balancer. It looks like gunicorn parses a malformed transfer-encoding header for this attack.

See this for an example https://nathandavison.com/blog/haproxy-http-request-smuggling

A suggested fix might be to add an option to fail a request if the request has Content-Length and  Tran

[2019-11-15 19:32] snovity commented on #2176
An alternative approach would be to ignore `Transfer-Encoding` header when Amazon Load Balancer ignores it, i.e. when the header value has a new line before it.

[2019-11-15 20:21] snovity commented on #2176
Go's fix for this https://github.com/golang/go/commit/6e6f4aaf70c8b1cc81e65a26332aa9409de03ad8. Looks like this has to be handled on `http.server` level

[2019-11-15 21:20] benoitc commented on #2159
@davidism i have been  sick today but I will have a look this sunday about it for a release on monday. The suggestion from @tilgovi is good and the general plan is to have a safe eval replacing the old eval.

Those I think we should warn the user he's using such initializtion. Thoughts ? cc @tilgovi

[2019-11-15 21:29] davidism commented on #2159
I'll try to turn the branch I linked above into a PR with tests on Saturday.

[2019-11-15 21:33] mjclawar commented on #2175
This also worked as a fix for me (changed `gunicorn app:app.server` to `gunicorn app:server` after adding a line to `app.py` that declared `server = app.server`)

[2019-11-15 21:34] benoitc commented on #2159
@davidism go ahead. I will be back on sunday where I will review it if neeed :) Thanks!

[2019-11-15 21:57] benoitc commented on #2176
Thanks for the report. I will take care of it ASAP? We have a security mailing list for it why didn't you use it? http://docs.gunicorn.org/en/stable/community.html#security-issues

[2019-11-15 22:22] kovalevvlad commented on #2176
We are new to contributing to gunicorn. We are working on a fix in parallel. Our approach was to replicate Go team's solution by leaving the header names intact (we dropped rstrip call from message.py:93). We'll try this approach against a vulnerability scanner and report back. Thanks for looking into it.

[2019-11-15 22:29] benoitc commented on #2176
@kovalevvlad thanks. would be cool to  make a release over the we with a fix

[2019-11-15 22:31] kovalevvlad commented on #2176
We'll try to send a PR over the weekend (assuming it works)

[2019-11-15 22:33] vgrebenschikov commented on #1236
How to reproduce problem:
(in fact problem easily can be observed on busy production during graceful shutdown)

1. Run gunicorn with keepalive (trivial app returning some data)
`$ gunicorn  --max-requests 512 --keep-alive 2 --threads 20 --workers  4  t:app`

run apache benchmark:

`$ ab  -n 10000  -c 20  -s 1  -k -r  127.0.0.1:8000/`

...
Concurrency Level:      20
Time taken for tests:   2.693 se

[2019-11-15 22:46] vgrebenschikov commented on #1236
Probably it worth resolve problem in a following way:

In case of graceful shutdown on keep-alive connection try to serve one more request after graceful  shutdown request and send Connection: close in response to force sender not use this socket any more for next request, if no request arrived in reasonable timeframe (i.e. 1s) just close connection.

Yes, there is possibility for race (when serve

[2019-11-16 11:22] blcksrx opened #2177 "MonkeyPatchWarning: Monkey-patching ssl after ssl has already been imported may lead to errors"
I use **gunicron** with **async** worker class using **gevent** and it returns this error:
[code]
And because of this error, the gunicorn workers can't boot up!

[2019-11-16 12:12] jakegt1 commented on #2175
I assume from now on this kind of thing will also never work:

`gunicorn module.app:create_app()`

[2019-11-16 14:10] jamadden commented on #2177
That's just a warning. What's stopping the workers from running? Do you have PYTHONWARNINGS=error or something?

[2019-11-17 15:22] davidism commented on #2159
A little behind, working on this now.

[2019-11-17 19:13] lc-lingliang commented on #1801
I hope my solution could help you. I met this critical worker timeout problem a few days ago and tried a few solutions. It now works well.

Here are my understanding and solutions:

1. Try preload in gunicorn

It fails to boot the workers because it needs more time to load the package, such as tensorflow backend, to start the service. So when you are experiencing slow app boot time, try to enable

[2019-11-18 02:44] NullYing commented on #156
[code]

it's work

[2019-11-18 03:42] gangm opened #2179 "gunicorn 19.9.0 async with eventlet not work?"
I use gunicorn 19.9.0 + flask to test app:
`app.py`:

[code]

and boot cmd:
`gunicorn -k eventlet -w 1 app:app --log-level=debug`

test cmd:
`curl localhost:8000`

I think app can process multi requests at one time, but the test result is that app can only process 1 request at one time, and block in `time.sleep()`!

Is that gunicorn 19.9.0 can not work as async mode?

I attempted to use gunicorn 2

[2019-11-18 10:51] anhdv-teko commented on #934
This worked for me!

[2019-11-18 12:00] jamadden commented on #2179
eventlet is not monkey-patched in gunicorn 19.8 and 19.9; that's issue https://github.com/benoitc/gunicorn/issues/1847 and was also pointed out [in this thread](https://github.com/benoitc/gunicorn/issues/2163#issuecomment-554198365). gunicorn 20 has an issue with `sendfile` using both gevent and eventlet that affects some people serving static content; that's been fixed in master.

Depending on yo

[2019-11-18 15:24] Sytten commented on #2176
Any progress? I will start working on it otherwise, because this is a critical vulnerability. I wonder if the new option (`routing.http.drop_invalid_header_fields.enabled`) on AWS ALB might mitigate the issue.

[2019-11-18 16:20] snovity commented on #2176
@Sytten this is how far we got https://github.com/benoitc/gunicorn/compare/19.x...ryderdamen:19.x Feel free to take over. Will try to test today if this change or `routing.http.drop_invalid_header_fields.enabled` fixes the issue.

[2019-11-18 16:41] Sytten commented on #2176
This seems like a first step, but we need to test all the variations of the attack. I will enable this field in prod for now and I will work on the fix today. Do we need to backport it to v19 or we only do it for v20 @benoitc?

[2019-11-18 17:09] benoitc commented on #2176
@Sytten it needs to be for 19 as well. Thanks for it. Thing we also need is a test showing the attack. I'm online if needed. I will wait for your fix to make a release. Can be done today :)

[2019-11-18 20:23] averes-avidid commented on #2179
Glad to know the static file thing has been fixed. This drove me crazy trying to figure out what was causing this. Well now I know why we should specify our versions in Pipfile/requirements.txt. When will this fix be pushed to PyPI?

[2019-11-18 20:29] Sytten commented on #2176
Some findings: The vanilla attack now seems to be blocked by AWS sometimes.
I was able to generate some errors:
[code]
[code]

[2019-11-18 21:12] benoitc commented on #2176
let me know how’it goes. i wil make a release by tomorrow now

[2019-11-18 21:16] Sytten commented on #2176
I have a working payload for a typical case.
First time it works and second requests returns a 405 (meaning I injected the final X in the next request which becomes XGET). Other attacks seems to be mitigated by AWS pretty well.
<img width="563" alt="Screen Shot 2019-11-18 at 4 14 13 PM" src="https://user-images.githubusercontent.com/2366731/69094523-80894d80-0a1e-11ea-811f-30b0bbffdfd4.png">

[2019-11-18 21:43] Sytten commented on #2176
New payload causing a 404 for the next client requesting a resource
This confirms the CL-TE attack, the attack above was a TE-CL attack. So it seems we are vulnerable to both.
<img width="610" alt="Screen Shot 2019-11-18 at 4 39 39 PM" src="https://user-images.githubusercontent.com/2366731/69096265-12468a00-0a22-11ea-9f81-7b0cabaa7243.png">

[2019-11-18 23:42] di commented on #2159
Just wanted to chime in that there is a somewhat popular (and quite old) Stack Overflow answer which is directing users towards the v19 behavior, which might need an update depending on what choice is made: https://stackoverflow.com/questions/8495367/using-additional-command-line-arguments-with-gunicorn

[2019-11-18 23:50] Sytten commented on #2176
Ok we need to do at least those four things to be compliant:
1. Not rstrip the name of the header as per [RFC 7230](https://greenbytes.de/tech/webdav/rfc7230.html#field.parsing) -> `No whitespace is allowed between the header field-name and colon`. Further more, it should return a 400 to compliant with the latest spec.
For example:
[code]
2. Ignore the CL if the TE is present as per [RFC 2616](htt

[2019-11-19 01:43] Sytten commented on #2176
@benoitc I found another interesting desync that bypass the chunked fix we discussed.
If you do:
[code]
It will use the CL, but if you do:
[code]
It will use the chunked...

[2019-11-19 03:30] bonashen commented on #1925
[https://docs.gunicorn.org/en/stable/settings.html#sendfile](https://docs.gunicorn.org/en/stable/settings.html#sendfile)

[2019-11-19 06:14] gokure opened #2182 "[ver.20.0.0] The gunicorn config files cannot using '__file__' constants."
I configured app_root that base on the relative path in gunicorn files.

`app_root = os.path.abspath(os.path.join(__file__, '..', '..'))`

now I have occurred when upgrade gunicorn version to 20.0.0 and starting with config file.

`$ venv/bin/gunicorn -c /path/to/app/conf/gunicorn.conf.py wsgi:app`

Traceback (most recent call last):
  File "/path/to/app/venv/lib/python3.7/site-packages/gunicorn/a

[2019-11-19 12:50] tuukkamustonen opened #2183 "Gunicorn is not rejecting connections over backlog limit"
Basically this: https://stackoverflow.com/questions/56755512/gunicorn-is-not-rejecting-connections-over-backlog-limit (someone else's question, just happened to find it).

How to reproduce (with gunicorn `20.0.0`):

`app.py`:

[code]

Run it with (default) sync worker:

    gunicorn --backlog 1 --workers 1 --timeout 600 --graceful-timeout 600 --log-level debug app:app

Bombard:

    ab -v 2 -n 10

[2019-11-19 14:08] jamadden commented on #2183
The man page for `listen(2)` says this about `backlog`:

Monitoring the TCP traffic on my system, that's exactly what happens when the backlog is full. The client that's trying to connect keeps trying with TCP retransmissions until it ultimately reaches the socket timeout.

Here, a server is running on port 64378 with a full backlog. I attempt to connect a new client and we can see the retries hap

[2019-11-19 14:22] tuukkamustonen commented on #2183
Interesting, I totally forgot TCP retry mechanism. I wonder if we can disable it temporarily, to test this without(?)

@jamadden What is the tool / command you took that capture with? I guess the second column is for timings, but are they seconds, milliseconds, what...?

[2019-11-19 14:34] jamadden commented on #2183
Maybe? If so I expect it's a system dependent tunable somewhere in /proc or /sys on linux or a sysctl on macOS.

That's output from tshark, a tool that's part of [wireshark](https://www.wireshark.org) which builds upon [libpcap](http://www.tcpdump.org/).

I think they're elapsed (fractional) seconds since the capture began.

[2019-11-19 15:22] gaige opened #2184 "Version 20.0.0 errors out on solaris (SmartOS) getting getsockopt"
The backwards compatibility function in gunicorn.socketfromfd fails in SmartOS, due to a naming difference in the getsockopt function in libc.  In SmartOS (19.3.0), it is in a _so namespace, and thus is at `libc._so_getsockopt` instead of `libc.getsockopt`.

I've got a working patch which checks for `SunOS` platform and uses the correct symbol, and I'll submit a pull request.

[2019-11-19 17:46] amar-belkhede opened #2186 "gunicorn.errors.HaltServer: <HaltServer 'App failed to load. 4"
Application Logs

2019-11-19T16:48:01.855596+00:00 app[web.1]:     time.sleep(0.1)
2019-11-19T16:48:01.855598+00:00 app[web.1]:   File "/app/.heroku/python/lib/python3.6/site-packages/gunicorn/arbiter.py", line 242, in handle_chld
2019-11-19T16:48:01.855744+00:00 app[web.1]:     self.reap_workers()
2019-11-19T16:48:01.855747+00:00 app[web.1]:   File "/app/.heroku/python/lib/python3.6/site-packages

[2019-11-19 22:48] snovity commented on #2176
Here is a thread about changes by AWS related to this from a week ago https://forums.aws.amazon.com/thread.jspa?messageID=923401

Did some testing, on our load balancer my experience was that with `routing.http.drop_invalid_header_fields.enabled` default `False` it was dropping headers with leading and trailing spaces, but wasn't dropping headers with spaces within headers. After making it `True`

[2019-11-19 23:04] Sytten commented on #2176
Good to have your feedback on the AWS fix @snovity!
Yeah I realize later that I was mistaken, the ALB is pretty strict. I found another way to create a desync (fixed in my PR). If you send a chunked TE followed by an identity TE, AWS will use the chunked but gunicorn will use the CL.

[2019-11-19 23:23] benoitc commented on #2160
@aljinovic can you try fda61b5479646f68faef30f3cb034ce16f3c61b6 . It should fix your issue. Let me know :)

[2019-11-19 23:28] benoitc commented on #2184
can you send a PR for it?

[2019-11-19 23:29] benoitc commented on #2177
@blcksrx why did you reopened it?

[2019-11-19 23:38] benoitc commented on #2186
Hi, Your application can't be loaded by gunicorn. Probably because of bug  in it. You can try to run gunicorn with the c[heck-config argument  ](https://docs.gunicorn.org/en/stable/configure.html#configuration-overview)and debug logs to know more.

[2019-11-19 23:38] #2186 closed

[2019-11-19 23:55] gaige commented on #2184
Yeah, I did the PR earlier, just didn't know how to link it.

https://github.com/benoitc/gunicorn/pull/2185

[2019-11-20 01:40] brandonherzog commented on #2182
I encountered the same issue with use of `__file__` in a config file after upgrading to v20.

Looks like in v19 `__file__` was provided in the scope in which the config file's code was executed:
https://github.com/benoitc/gunicorn/blob/2bf26c1c86472b50508155a8ffde6c80e91099bc/gunicorn/app/base.py#L93-L113

Now `__file__` is never set during the module load process: https://github.com/benoitc/gunic

[2019-11-20 03:26] ye commented on #2171
@benoitc thanks! sorry I missed your notes. How do I escape the single quote`'`?

[2019-11-20 05:13] gvskalyan commented on #2157
The reload option is not reloading the app. it detects a change is made, the debug log shows workers got reinitiated, but the changes I made which caused the reload did not get reflected.
![image](https://user-images.githubusercontent.com/42022935/69210952-78e2b980-0b82-11ea-9c9e-1e22b8223336.png)
Even put tried using on_reload in conf_ini but it does enter here.

[2019-11-20 06:09] #2184 closed

[2019-11-20 06:10] benoitc commented on #2184
thanks! just comited it in master

[2019-11-20 10:48] aljinovic commented on #2160
I tried it and it doesn't work. I found a bug in your implementation, here's a proposal of the fix:

[code]

[2019-11-20 10:51] gaige commented on #2184
Thank you!

[2019-11-20 10:51] benoitc commented on #2177
is there anything to do there?

[2019-11-20 10:54] benoitc commented on #2160
hrm odd, can you paste me the error you had?

[2019-11-20 10:56] aljinovic commented on #2160
Your code: `find_library("c")` returns `None`.
After my change it returns: `libc.musl-x86_64.so.1`

[2019-11-20 11:10] aljinovic commented on #2160
Also, I had to manually set `LD_LIBRARY_PATH` first, so maybe this could help:

[code]

Taken from:
https://github.com/alpinelinux/aports/blob/202f4bea916b0cf974b38ced96ab8fca0b192e3f/main/python2/musl-find_library.patch

[2019-11-20 11:25] tuukkamustonen commented on #2183
Ok also tried it.

Using 2s delay, sending 5 concurrent requests, I get this:

The first 3 requests get accepted:

[code]

The 2 next don't:

[code]

HTTP request for the first 3 is sent:

[code]

Retransmission of the 2 failed packets:

[code]

Response for 1st request:

[code]

Connection gets closed, so new one is opened (actually, I wonder why, because I'm sending 5 requests in 5 threads so ea

[2019-11-20 11:45] tuukkamustonen commented on #2183
Running with 5 workers (instead of 1), the result varies, sometimes 1-2 packets need to be re-transmitted, sometimes not. I think this due to `--backlog 1` actually being able to queue 2 connections. Sometimes connections are handled to workers so fast that backlog never get overflown, sometimes it's slower and backlog will reject extra connections.

Also ran a few different tests, and seems like

[2019-11-20 11:51] jamadden commented on #2183
You don't mention the operating system you're testing on. That turns out to be very important as the backlog behaviour differs substantially between operating systems (and even versions). On Linux, there are actually [two queues](http://man7.org/linux/man-pages/man2/listen.2.html), only one of which is limited by the backlog. The backlog limit only kicks in [*after* the three-way handshake](http:/

[2019-11-20 11:58] tuukkamustonen commented on #2183
I'm using linux (Ubuntu 18.04, on Debian 9 I think, to be precise):

    Linux musttu-work 4.15.0-66-generic #75-Ubuntu SMP Tue Oct 1 05:24:09 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

I'm running a virtual machine inside VirtualBox, but that probably has no impact.

Thanks for the pointers! Looks like I need to do some studying.

[2019-11-20 13:05] tuukkamustonen commented on #2183
I read through the linked material and indeed it was a good read.

However, looking at my earlier trace, I still don't understand how this is possible:

First 3 connections get established:

[code]

Ok, even if they were in SYN queue at this point, they will be moved to _accept queue_ (and then to worker).

How is possible that 3 requests are actually allowed to send content:

[code]

Wouldn't the

[2019-11-20 13:30] benoitc commented on #2160
ok fixing that, not sure about why the glob is nlot working the first way though. I need to test

[2019-11-20 13:55] jamadden commented on #2183
We're getting into details I happily admit to being fuzzy on and which I haven't tested recently.

This could be where the interaction of worker type (whether the listener socket is blocking or not) and the `reuse_port` setting come into play. When `reuse_port` is false (the default) there's essentially one queue for each open socket --- and there are two open sockets, one in the master and one in

[2019-11-20 20:43] benoitc commented on #2160
@aljinovic should be OK now, let me know

[2019-11-20 20:57] benoitc commented on #2176
thanks all for the useful discussion and @snovity  @Sytten for the code.

@Sytten just merged your PR and backported it to 19.x .

[2019-11-20 20:57] #2176 closed

[2019-11-20 20:59] benoitc commented on #2175
@jakegt1 that a different case from this ticket. Please open a  new one if needed and it doesn't work with latest master.

[2019-11-20 21:01] benoitc commented on #2171
@ye i would try without

[2019-11-20 21:02] benoitc commented on #2159
fixed in master. thanks @davidism for the patch!

all cases handled are in this tests: https://github.com/benoitc/gunicorn/commit/19cb68f4c3b55da22581c008659ee62d8c54ab2b#diff-5832adf374920d75d4bf48e546367f53R67

[2019-11-20 21:02] #2159 closed

[2019-11-20 21:08] benoitc commented on #2129
cc @jamadden any idea?

[2019-11-20 21:08] benoitc commented on #2169
@tilgovi bump

[2019-11-20 21:18] jamadden commented on #2129
No idea, at least not without much more information. What database is being used, and what driver? How/when are the sessions supposed to be saved to the database? Is it only done on shutdown? Then perhaps something in signal handling isn't working correctly.

I can't think of anything I've encountered like that.

[2019-11-20 21:30] #2133 closed

[2019-11-20 21:35] kovalevvlad commented on #2176
Great work, thanks all!

[2019-11-20 21:41] Abdelkrim commented on #2175
Hi folks, here are the results of diverse attempts:

- index:app.server - module 'index' has no attribute 'app.server'
- index:app - Application object must be callable.
- index:app.layout - crashes
- index - AttributeError: module 'index' has no attribute 'application'

Still need to test those combinations:
- webapp:server
- index:server
- index.app:server

[2019-11-20 21:50] benoitc commented on #2129
@jamadden ok thanks :)

closing the issue  since there isn't any update since 1 month. Feel free to reopen it if needed.

[2019-11-20 21:50] #2129 closed

[2019-11-20 21:53] benoitc commented on #2175
@Abdelkrim with latest master?

[2019-11-20 22:39] Abdelkrim commented on #2175
@benoitc, I am running the v20.0.0 and not your latest update I am afraid

when will the latest update be available by using pip?

I do use Azure pipeline to deploy the web app and I don't know how to force the usage of the latest version of the code hosted on gituhub instead of using the regular requirements.txt

QUESTION: should I just wait a new version number? ... I'll deploy a new version of

[2019-11-20 23:05] benoitc commented on #2175
if you can test with the latest master that would help :) i will see if i reproduce it later this morning otherwise

[2019-11-21 00:18] CorreyL commented on #2169
Please let me know if this should be opened as a separate issue.

This may be an isolated issue with our codebase, but after a bit more testing, my team has noticed that for our API server, `gunicorn 20.0.0` breaks the function [`pyramid_ldap3.get_ldap_connector`](https://pyramid-ldap3.readthedocs.io/en/latest/api.html#pyramid_ldap3.get_ldap_connector).

## `gunicorn 20.0.0`:

### On Startup:

[co

[2019-11-21 00:18] Abdelkrim commented on #2175
@benoitc I can't access to the machine using ssh and force the usage of the latest version of gunicorn.

QUESTION : do you know how/when the latest release will be available on PyPi? I see this : Last released: Nov 9, 2019 on https://pypi.org/project/gunicorn

this will greatly facilitate my testing as I don't have access to any linux machine besides the Linux web apps on Azure :-(

Kind regards &

[2019-11-21 06:58] sunyone opened #2189 "How to set "Server" header"
Server: gunicorn/19.9.0
How to modify？

[2019-11-21 08:52] #2160 closed

[2019-11-21 08:55] benoitc commented on #2152
what is the issue?

[2019-11-21 08:56] alper commented on #2129
Sorry for this, to follow-up on it, I think this was caused by some weird configuration (scripts that run before application startup) on our side and poor documentation.

[2019-11-21 09:01] benoitc commented on #2182
@berkerpeksag what would you suggest there?

[2019-11-21 09:04] benoitc commented on #2189
You set it as an header in your application. The plan anyway is to remove the version but keep Gunicorn in the default header. There is a discussion already opened in #825 .

[2019-11-21 09:04] #2189 closed

[2019-11-21 09:05] benoitc commented on #2177
closing issue since it was answered

[2019-11-21 09:05] #2177 closed

[2019-11-21 09:06] benoitc commented on #2169
@tilgovi what would you change in the changelog?

[2019-11-21 09:20] benoitc commented on #2175
@Abdelkrim the following commandline works:

[code]

with the following example: https://github.com/benoitc/gunicorn/tree/master/examples/deep . I'm closing the issue then. The release will land today hopefully.

[2019-11-21 09:20] #2175 closed

[2019-11-21 09:22] #2109 closed

[2019-11-21 09:23] benoitc commented on #2162
@franciscopaniskaseker bump

[2019-11-21 09:23] benoitc commented on #2150
no activity since a while. closing the issue then

[2019-11-21 09:23] #2150 closed

[2019-11-21 09:25] benoitc commented on #2107
can you provide a simple example? It would be helpful as none of current maintainers (to my knowledge) are speaking one of the Chinese dialect. which unicode spec is needed?

[2019-11-21 09:26] benoitc commented on #2124
@tlaanemaa any news about it?

[2019-11-21 10:37] dgvsecu opened #2190 "Gunicorn does not detect code changes when run with --reload"
The only changes that gunicorn is detecting are the ones to its own code base. The application code (wsgi django application) is not being supervised.

I am using inotify, with the inotify library installed.

These are the details:
[code]

I have been going through the code, and it seems the route of the problem is that here:

https://github.com/benoitc/gunicorn/blob/master/gunicorn/reloader.py#L9

[2019-11-21 10:39] benoitc commented on #2190
can you try latest master and let me know about the result. 8d854ba8cd307f3108364c6b852aed5718f5bc64 should fix it as well.

[2019-11-21 10:47] aljinovic commented on #2160
Still doesn't work unless I change from:

[code]

to:

[code]

The actual `libc` name is: `libc.musl-x86_64.so.1`

[2019-11-21 10:49] alexeyegorov commented on #1981
For me, I find [this solution pretty nice](https://stackoverflow.com/questions/51866904/gunicorn-worker-doesnt-deflate-memory-after-request). Setting the max requests per worker you can force a restart and hence freeing up memory after N requests.

[2019-11-21 10:54] benoitc commented on #2160
sorry I missed the additional star.
https://github.com/benoitc/gunicorn/commit/e150ca4ff87d52b1c2b3d5376fc71789b65a3fb4
should fix it now.

On Thu, Nov 21, 2019 at 11:47 AM Ante Aljinovic <notifications@github.com>
wrote:

[2019-11-21 11:01] aljinovic commented on #2160
Great, that worked, thank you!

[2019-11-21 11:34] jamadden commented on #2183
Is there something I should do here? AFAICS gunicorn is behaving correctly, it's just that backlog is inherently incredibly system-dependent.

[2019-11-21 11:49] dgvsecu commented on #2190
Thanks @benoitc, I am going to give it a try. Do you have a tip for me on how to easily install master? can I pip install something?

[2019-11-21 12:17] benoitc commented on #2183
yup, i just wanted to confirm nothing was missing and we could close the
issue then :)

On Thu 21 Nov 2019 at 12:34 Jason Madden <notifications@github.com> wrote:

--
Sent from my Mobile

[2019-11-21 12:20] benoitc commented on #2190
you can tell pip to use a git url

On Thu 21 Nov 2019 at 12:49 dgvsecu <notifications@github.com> wrote:

--
Sent from my Mobile

[2019-11-21 12:28] tuukkamustonen commented on #2183
Sorry for delay in response!

Indeed I didn't even know about `reuse_port` option and even after reading those articles can't say I really understand how the "in-flight" connection you refer to can live here... but I believe you. No need to go deeper here, as I need to study this topic more and like you said yourself it's sometimes a bit fuzzy domain. I can see myself wondering about it for years

[2019-11-21 12:28] #2183 closed

[2019-11-21 12:33] dirkroorda commented on #1269
Still, when I resize the terminal in which I issued the gunicorn command, I get a lot of winch signals:

[code]

[2019-11-21 13:12] dgvsecu commented on #2190
Changes seem to be detected with the master version, but:

- A strange file is detected: `confman.py~`, but I have modified `confman.py` (with pycharm, I do not think it is creating files with ~ suffix)
- It takes a looong time to reload: 1m15s
- During that time no more changes are detected

Any idea what could be the problem?

[code]

[2019-11-21 15:51] benoitc commented on #2190
hrm I don't see any change that could explain it in the reloader. Last one is https://github.com/benoitc/gunicorn/commit/8d854ba8cd307f3108364c6b852aed5718f5bc64

do you have any simple example that could help to reproduce it?

[2019-11-21 16:56] tilgovi commented on #2169
@benoitc I would like to call out the removal of support for Paste Deploy server definitions in the Gunicorn CLI. I can do this today.

[2019-11-21 16:56] tilgovi commented on #2169
Is it alright if I modify the changelog retro-actively to make it more clear (make breaking changes section in the 20.0 release)?

[2019-11-21 16:58] tilgovi commented on #2169
@CorreyL interesting! You can definitely run `gunicorn` with the options specified on the command line like that. I think that is the preferred and safest way to run `gunicorn`. The integration with `pserve` is a convenience, but it's nice to know it causes issues here. I hope I didn't make a mistake to un-deprecate it.

[2019-11-21 17:01] tilgovi commented on #2160
Nice work everyone!

[2019-11-21 17:16] benoitc commented on #2169
@tilgovi yes definitely

[2019-11-21 17:20] benoitc commented on #2182
do we want to have support for Python < 3.5 ? I think we could remove that support eventually even for a minor release as it's not supported anymore. Let me know @berkerpeksag @tilgovi @jamadden

[2019-11-21 17:25] tilgovi commented on #2179
Milestone for 20.0.1 here: https://github.com/benoitc/gunicorn/milestone/18

[2019-11-21 17:45] tilgovi commented on #2157
Reload is incompatible with preload.

[2019-11-21 18:09] vasa-chi opened #2191 "Requests go to blocked worker using gthread worker class with 1 thread"
An example Flask app:

[code]

If I run it with `gunicorn --workers 4 --threads 1 --worker-class gthread app:app` (multiple workers, one thread each), and issue a request to `/slow`, then requests to `/fast` are often stuck on the worker that is processing the request to `/slow`.

If I use more then one thread, even with one worker, requests are steadily routed to free worker threads.

Is this exp

[2019-11-21 18:13] vasa-chi commented on #2191
[code]

[code]

[2019-11-22 00:21] Abdelkrim commented on #2175
@benoitc thank you, I'm waiting for the latest release and I'll give you my feedback.

many thanks for your help

A.

[2019-11-22 01:10] Ogala commented on #1663
I faced the same challenge running a Flask + Docker + Kubernetes. Increasing the CPU and Memory limits solved it for me.

[2019-11-22 06:34] dgvsecu commented on #2190
It seems to be related to the [timeout](https://docs.gunicorn.org/en/stable/settings.html#timeout) parameter. I have 13 workers.

- with a timeout of 180s, reloading takes around 80s
- with a timeout of 60s, reloading takes around 25s
- with a timeout of 20s, reloading takes around 4s
- with a timeout of 1s, reloading takes 0s

[2019-11-22 06:35] ye commented on #2171
@benoitc YES! That was IT! By removing the double quoting, it worked! Thank you!

So the last line in the `Dockerfile` would be:

[code]

[2019-11-22 06:35] #2171 closed

[2019-11-22 06:42] carter54 opened #2192 "How gunicorn selects worker for each task?"
I have a question when using gunicorn gthread worker type.
the basic configs I have are as follow:
[code]
As in the config, I set 20 workers, which can be seen when I start the test
![image](https://user-images.githubusercontent.com/26741594/69402172-00baf600-0d32-11ea-8974-c6b8707d695d.png)
each worker only has one thread.
Then I sent 3 groups of test, each group has 4 concurrent post requests. F

[2019-11-22 09:46] benoitc commented on #2191
you have 1 thread and multiple workers it would be better to use the sync worker. Anyway in this setup you can run at most 4 concurrent connections. So it's kind of excepted unless I miss some details?

[2019-11-22 09:51] benoitc commented on #2192
Gunicorn doesn't select the process able to accept a connection. Balancing of requests is done at the OS level. Each free worker is waiting to accept a socket in the backlog.

See the [design](http://docs.gunicorn.org/en/stable/design.html) page for more information.

[2019-11-22 09:52] benoitc commented on #2192
also thre is no need to use the threading worker if you have only 1 thread. The sync worker is more efficient.

[2019-11-22 09:53] vasa-chi commented on #2191
Well, yes. But why **1 worker 4 threads** setup processes multiple parallel requests completely fine, and **4 workers 1 thread** setup almost always routes request to busy worker and they get stuck there?

[2019-11-22 11:35] jamadden commented on #2191
On Linux, load distribution of requests to sockets isn't fair unless you use `SO_REUSEPORT`. The backlog also comes into play. There was a discussion with links at #2183.

[2019-11-22 11:52] #2192 closed

[2019-11-22 11:56] benoitc commented on #2191
Also the GIL may enter in action. I think at some point we may want to have the reloader in its own process instead of a thread. That would help us to reuse the logic of graceful shutdown and co. Maybe worth a new ticket? @tilgovi @jamadden

[2019-11-22 12:19] ExplodingCabbage commented on #1776
I've witnessed the same thing. Had a production server running Gunicorn + Flask (behind a load balancer) that worked fine for months, then suddenly every request yielded this error until I restarted Gunicorn:

[code]

Nothing in the logs preceding these errors hints at what the trigger could've been.

This was with Gunicorn 19.9.0 running with 3 workers on a single-cored server.

Since this is the

[2019-11-22 12:26] benoitc commented on #2190
I managed to reproduce the issue. Can you confirm that increasing the number of threads when using `--threads` fix the issue?

[2019-11-22 13:11] benoitc commented on #2190
fixed via 47b4ad56e2bd3377dd80137ccb39dd4c3dcab732

[2019-11-22 13:11] #2190 closed

[2019-11-22 13:19] benoitc commented on #1776
Does your LB call a specific endpoint? How does it answer to the LB request?

[2019-11-22 13:20] benoitc commented on #2179
@tilgov @jamadden i has this feature been merged in 19.x also?

[2019-11-22 13:22] benoitc commented on #2169
@tilgovi can you add this change today? Would be cool to have it for 20.0.1 :)

[2019-11-22 13:25] #2157 closed

[2019-11-22 13:25] ExplodingCabbage commented on #1776
When I said "Load Balancer", I really ought to have said CDN or caching layer. Specifically: it's Amazon Cloudfront. It just forwards on requests to our Gunicorn server (running on an EC2 instance) and caches the results for a while.

[2019-11-22 13:26] benoitc commented on #2157
closing the issue as it seems answered. Feel free to reopen it if needed.

[2019-11-22 13:28] benoitc commented on #1776
hrm shouldn't amazon cloudfront terminate the ssl request for you? @ExplodingCabbage . Why gunicorn has to listen on ssl behind?

[2019-11-22 13:31] benoitc commented on #2182
please review the patch above ^^

[2019-11-22 13:35] ExplodingCabbage commented on #1776
@benoitc So, there's two layers with SSL involved in the architecture. Members of the public connect to our website via our CloudFront domain over HTTPS, and then CloudFront makes a request to our backend node running Gunicorn, *also* using HTTPS (with a different domain name and cert), caches the result, and serves it to the public.

I guess maybe you're wondering what the point of using SSL for

[2019-11-22 13:37] benoitc commented on #1776
could it be that cloudfront is sending to your endpoint a plain HTTP request though? If you have access to the cloudfront logs you should be able to see it.

[2019-11-22 13:45] ExplodingCabbage commented on #1776
@benoitc I don't think CloudFront exposes any logs that would be useful, but I'm sure that it wasn't trying to connect over HTTP, since:

* Our distribution is configured in the CloudFront console to connect to the Gunicorn origin over "HTTPS only"
* Gunicorn isn't listening on port 80
* If *I* try to connect to our backend server over HTTP (including forcing HTTP on port 443) it doesn't reproduce

[2019-11-22 13:49] benoitc commented on #1776
@ExplodingCabbage ok I will have a look on it after the 20.0.1 is out. One last thing, which version of Python are you using?

[2019-11-22 13:57] ExplodingCabbage commented on #1776
3.6.8

[2019-11-22 14:00] benoitc commented on #1562
closing the issue since thre have no action since awhile. Also It worth to upgrade to latest master or 19.x since the reload feature have been improved

[2019-11-22 14:00] #1562 closed

[2019-11-22 14:07] benoitc commented on #2056
shouw we do something there? @tilgovi @jamadden

[2019-11-22 14:23] ExplodingCabbage commented on #1776
I realise I left out a detail from my story above: before restarting Gunicorn, I also updated the SSL certificate Gunicorn uses with LetsEncrypt. I hadn't thought to mention this because I had wrongly concluded yesterday that there was no way that a certificate would've expired on the day that the errors began and that the certificate update had in fact been relevant to fixing the problem.

Howeve

[2019-11-22 14:35] benoitc commented on #1933
it will depends on the installed version of ssl. By default gunicorn is using the highest protocol available on the machine.

[2019-11-22 14:35] #1933 closed

[2019-11-22 14:39] benoitc commented on #1776
@ExplodingCabbage oh that's quite interresting, it should be reproducoible at some point then. Thanks for the additional details!

[2019-11-22 14:40] benoitc commented on #2096
it's unclear for me what did't work. Do we miss some support of them internally? How it failed?

[2019-11-22 14:44] benoitc commented on #2095
Depending of your OS you can probably use some setting to load balance the connections. Also some different queue strategy may be used.

I'm closing the issue since no activity happened there since a long time. If you want to discuss more you can join us on irc also.

[2019-11-22 14:44] #2095 closed

[2019-11-22 14:45] benoitc commented on #2084
closing the issue since no activity happened there since a while. Thanks all for your comments!

[2019-11-22 14:45] #2084 closed

[2019-11-22 14:46] benoitc commented on #2080
#2083 has been closed, closing the issue since no activity happened since. Feel free to reopen it if needed. Thanks for the PR also :)

[2019-11-22 14:46] #2080 closed

[2019-11-22 14:49] benoitc commented on #2071
no activity happened there since some feedback have been requested. Closing the issue then. Thanks for the report!

[2019-11-22 14:49] #2071 closed

[2019-11-22 14:53] benoitc commented on #2070
duplicate of #2078

[2019-11-22 15:00] benoitc commented on #1393
if someone want to take care of it please let me know. Otherwise let's drop it, there is no need to keep an issue open if no one want to take care of it.

[2019-11-22 15:02] benoitc commented on #1367
closing the discussion since no activity happened since awhile. thanks for the question.

[2019-11-22 15:02] #1367 closed

[2019-11-22 15:04] benoitc commented on #1186
closing the discussion since no activity happened since awhile. also sendfile has been improved in 20.0.1. If  you still reproduce the issue please open a new ticket :)

[2019-11-22 15:04] #1186 closed

[2019-11-22 15:06] benoitc commented on #1343
closing since this worker is not part any more from gunicorn .

[2019-11-22 15:06] #1343 closed

[2019-11-22 15:07] benoitc commented on #1195
@tilgovi done. I think we should open a project and assign a bunch of tickets for it.

[2019-11-22 15:10] benoitc commented on #1324
should be fixed in 20x. closing the issue since no activity happened since awhile. Please open a new ticket if  there is still an issue.

[2019-11-22 15:10] #1324 closed

[2019-11-22 15:11] benoitc commented on #1331
closing the issue since it has been answered a long time ago an no activity happened there since. Thanks for the comment.

[2019-11-22 15:11] #1331 closed

[2019-11-22 15:12] benoitc commented on #1330
fixed sometimes ago.

[2019-11-22 15:12] #1330 closed

[2019-11-22 16:01] benoitc commented on #1733
we now support `wsgi.input_terminated` .

[2019-11-22 16:01] #1733 closed

[2019-11-22 16:03] benoitc commented on #720
closing the issue since no activity happened since a long time, also heroku changed their platform. feel free to open a new issue if you have still an issue.

[2019-11-22 16:03] #720 closed

[2019-11-22 16:04] benoitc commented on #1113
closing the issue since no activity happened since a while. also this should be surperseded by the support of opencensus/telemetry

[2019-11-22 16:04] #1113 closed

[2019-11-22 17:26] benoitc commented on #2061
what happen if you'using latest 19.x or 20.x (master) ?

[2019-11-22 17:28] pk-roan commented on #1913
I recently experienced this issue with gunicorn=19.9.0. A restart resolved the issue. I am deployed on Google Kubernetes Engine.
config:
[code]
Error:
```Traceback (most recent call last): File "/usr/local/lib/python2.7/site-packages/gunicorn/workers/gthread.py", line 274, in handle req = six.next(conn.parser) File "/usr/local/lib/python2.7/site-packages/gunicorn/http/parser.py", line 41, in __nex

[2019-11-22 17:29] benoitc commented on #2045
the capture_stdout setting allows that: http://docs.gunicorn.org/en/stable/settings.html#capture-output sorry for the delay to answer.

[2019-11-22 17:29] #2045 closed

[2019-11-22 17:29] pk-roan commented on #1913
Is the current solution to downgrade to `19.7.1`?

[2019-11-22 17:32] benoitc commented on #1990
closing the issue as answered. no activity since happened.

[2019-11-22 17:32] #1990 closed

[2019-11-22 17:35] benoitc commented on #1988
10. added support for it in https://github.com/benoitc/gunicorn/commit/19cb68f4c3b55da22581c008659ee62d8c54ab2b . thanks for the report !

[2019-11-22 17:35] #1988 closed

[2019-11-22 17:39] benoitc commented on #1949
python >= 3.5 is actually supported. i think we can remove support for it in 21 release in june. closing that issue then. thanks all for the feedback and comments!

[2019-11-22 17:39] #1949 closed

[2019-11-22 17:40] benoitc commented on #1945
closing the issue since no activity happened since awhile

[2019-11-22 17:40] #1945 closed

[2019-11-22 17:43] benoitc commented on #1923
do we have any clue about what was happening?

[2019-11-22 17:44] benoitc commented on #1921
there is a ticket for asgi support. support will land soon. closing this issue as it's superseded by more generic support of ashi.

[2019-11-22 17:44] #1921 closed

[2019-11-22 17:45] tilgovi commented on #1393
I don't feel a need to take a hard stance like insisting new code has type annotations. However, now that we're on Python 3 only there's nothing preventing it, so we should accept code with proper type annotations. I may try to do it myself when making changes.

[2019-11-22 17:45] #1393 closed

[2019-11-22 17:46] tilgovi commented on #1393
Closed because I don't think it's realistic to expect that the current contributors will put in significant time to add types to code where it doesn't already exist. If anyone would like to make PRs to add types to any modules, please feel free.

[2019-11-22 17:58] tilgovi commented on #2169
Added a one line note to c25563f. The documentation has already been updated since the change happened. Hopefully, anyone who sees that note can find the documentation and these issues. 😅

[2019-11-22 17:59] #2169 closed

[2019-11-22 18:10] pixelrebel commented on #2096
Hi @benoitc I eventually figured this out.  It took me a while to figure out the `--ciphers` syntax.  The following combo worked for me:

`--ssl-version 5 --ciphers "ECDH+AESGCM"`

Closing this case, but it might be nice to include some examples in the docs.

https://docs.gunicorn.org/en/stable/settings.html#ssl

The docs above link to unhelpful (broken link?) openssl documentation.

[2019-11-22 18:10] #2096 closed

[2019-11-22 19:36] benoitc commented on #2169
@tilgovi thanks

[2019-11-22 19:39] benoitc commented on #1790
fixed in 20.x

[2019-11-22 19:39] #1790 closed

[2019-11-22 19:40] #1713 closed

[2019-11-22 19:41] benoitc commented on #1713
closing the issue , i will open a new one asap corresponding.

[2019-11-22 19:42] benoitc commented on #1712
working on it

[2019-11-22 19:42] #1712 closed

[2019-11-22 19:55] benoitc commented on #1677
closing issue as answered

[2019-11-22 19:55] #1677 closed

[2019-11-22 19:58] benoitc commented on #1710
closing the issue, no activeity since awhile.

[2019-11-22 19:58] #1710 closed

[2019-11-22 20:00] benoitc commented on #1665
no activity since awhile, closing the issue. Thanks for the discussion!

[2019-11-22 20:00] #1665 closed

[2019-11-22 20:00] benoitc commented on #1620
closing the issue.

[2019-11-22 20:00] #1620 closed

[2019-11-22 20:04] ThePrez opened #2194 "gunicorn fails on IBM i with Python <3.7"
This error, I believe, is introduced by this new feature: https://github.com/benoitc/gunicorn/commit/ee7af1247b8cc289af7b4bcfd2ff93ecfaf8c9df

Starting with gunicorn v20, it fails to start on the IBM i platform. Even a simple `gunicorn -h` fails with:
[code]
Several issues related to ctypes were fixed for IBM i and AIX in Python 3.7, but Python 3.6 is still widely used (and is the newest version d

[2019-11-22 20:06] benoitc commented on #1442
closing the issue. I think we should introduce tracing and such inside gunicorn but there is no need need to keep that ticket open right now.

[2019-11-22 20:06] #1442 closed

[2019-11-22 20:12] benoitc commented on #1294
fixed in 1aa9cf0529fe87e4084dea9dadc97848934cceb4

[2019-11-22 20:12] #1294 closed

[2019-11-22 20:14] benoitc commented on #1101
fixed in latest versions of gunicorn.

[2019-11-22 20:14] #1101 closed

[2019-11-22 20:16] benoitc commented on #2107
@luckrill bump

[2019-11-22 20:17] benoitc commented on #1560
closing issue. superseded by #1564

[2019-11-22 20:17] #1560 closed

[2019-11-22 20:20] benoitc commented on #1714
closing issuse , discussion continue in #1976

[2019-11-22 20:20] #1714 closed

[2019-11-22 20:23] benoitc commented on #1542
what should we do there?

[2019-11-22 20:24] benoitc commented on #1693
closing issue since no feedback have been given.

[2019-11-22 20:24] #1693 closed

[2019-11-22 20:26] benoitc commented on #1498
i didn't reproduce it. if the bug is still thre , please open a new ticket.

[2019-11-22 20:26] #1498 closed

[2019-11-22 20:26] benoitc commented on #1704
closing the issue since wsgi.input_terminated is now supported.

[2019-11-22 20:26] #1704 closed

[2019-11-22 20:28] benoitc commented on #1852
how to reproduce it? cna you provide a simple example?

[2019-11-22 20:30] benoitc commented on #1695
are you sending a close header? @boddumanohar

[2019-11-22 20:36] benoitc commented on #1736
closing the issue since no activity happened since awhile. feel free to open a *new* ticket if needed.

[2019-11-22 20:36] #1736 closed

[2019-11-22 20:37] benoitc commented on #2115
@loretoparisi any news?

[2019-11-22 20:38] benoitc commented on #2108
closing the isse since no activity happened in last 2 months.

[2019-11-22 20:38] #2108 closed

[2019-11-22 20:41] benoitc commented on #1673
i believe this is fixed  with latest changes. closing the issue.  feel free to reopen it if needed

[2019-11-22 20:41] #1673 closed

[2019-11-22 20:41] benoitc commented on #2075
merged. Thanks!

[2019-11-22 20:41] #2075 closed

[2019-11-22 20:44] benoitc commented on #1523
@tilgovi is this still relevant?

[2019-11-22 20:53] benoitc commented on #1952
this error is expected in debug mode, since the close header is sent.

[2019-11-22 20:53] #1952 closed

[2019-11-22 20:55] benoitc commented on #1811
this should be fixed in last versions of gunicorn. feel free to open a new ticket if more is needed.

[2019-11-22 20:55] #1811 closed

[2019-11-22 20:58] benoitc commented on #1656
closing the issue as answered. Thanks for the answers all

[2019-11-22 20:58] #1656 closed

[2019-11-22 21:03] benoitc commented on #1513
closing issue as answered

[2019-11-22 21:03] #1513 closed

[2019-11-22 21:06] benoitc commented on #1319
that's a longh time and nothing happened since. Doesn't seems it is a good idea now to change it as well. closing the issue then.

[2019-11-22 21:06] #1319 closed

[2019-11-22 21:08] benoitc commented on #1506
@tilgovi do you still want to add support for it?

[2019-11-22 21:14] #2194 closed

[2019-11-22 21:15] benoitc commented on #2194
thanks for the patch

[2019-11-22 21:17] benoitc commented on #1646
closing the issue as answered.

[2019-11-22 21:17] #1646 closed

[2019-11-22 21:20] benoitc commented on #1643
as @tilgovi said, any PR is welcome :)

[2019-11-22 21:21] benoitc commented on #1750
closing the issue. no update since awhile. I didn't reproduced it as well

[2019-11-22 21:21] #1750 closed

[2019-11-22 21:29] benoitc commented on #1303
done

[2019-11-22 21:29] #1303 closed

[2019-11-22 21:31] benoitc commented on #1015
closing the issue.

1. gunicorn is actually exposing the socket but also handle wsgi.input_terminated
2. ASGI support and other features are planned.

[2019-11-22 21:31] #1015 closed

[2019-11-22 21:33] benoitc commented on #1447
no actions happened there and for me documlentation is clear enough. I'm closing the issue then. If any details on some option need to be added please open a ticket or a PR for it.

[2019-11-22 21:33] #1447 closed

[2019-11-22 21:39] benoitc commented on #993
i'm not sure we need to do anything there. One way to allow custom page would be handling them in some kind of templates where the dir can be configured to allow an app to use custom templates .

[2019-11-22 21:42] benoitc commented on #1639
closing issue, duplicate of #1507

[2019-11-22 21:42] #1639 closed

[2019-11-22 21:45] benoitc commented on #1300
worker is not part of gunicorn anymore. closing

[2019-11-22 21:45] #1300 closed

[2019-11-22 21:46] benoitc commented on #1631
answered and no feedback since awhile.

[2019-11-22 21:46] #1631 closed

[2019-11-22 21:47] benoitc commented on #1264
no feedback given. closing the issue.

[2019-11-22 21:47] #1264 closed

[2019-11-22 21:49] benoitc commented on #1493
clarified. @lucas03 it's unclear what a request timeout is there. please open a ticket if you need something specific?.

[2019-11-22 21:49] #1493 closed

[2019-11-22 21:53] benoitc commented on #1477
should work with latest version.

[2019-11-22 21:53] #1477 closed

[2019-11-22 21:54] benoitc commented on #1490
closing issue as answered

[2019-11-22 21:54] #1490 closed

[2019-11-22 21:56] benoitc commented on #1615
no activity happened since awhile.

[2019-11-22 21:56] #1615 closed

[2019-11-22 22:03] #2182 closed

[2019-11-22 22:14] benoitc commented on #1464
`worker_int`  hook should do the trick.

[2019-11-22 22:14] #1464 closed

[2019-11-22 22:18] benoitc commented on #1429
thanks for the thread and PR.

[2019-11-22 22:18] #1429 closed

[2019-11-22 22:21] benoitc commented on #1070
no move since and the features seems not that needed by people. closing the issue then,

[2019-11-22 22:21] #1070 closed

[2019-11-22 22:24] benoitc commented on #1194
closing issue. no activity since awhile.

[2019-11-22 22:24] #1194 closed

[2019-11-22 22:30] benoitc commented on #1612
no activity since awhile , i am closing the issue. Thanks for the tips and discussion. Some of the tips have been used in recent code. I guess the best way to continue the work now is via some PR. Thanks again :)

[2019-11-22 22:30] #1612 closed

[2019-11-22 22:31] benoitc commented on #1936
no activity happened since awhile. closing the issue.

[2019-11-22 22:31] #1936 closed

[2019-11-22 22:38] benoitc commented on #1915
no feedback that can help to figure what is happening. closing the issue.

[2019-11-22 22:38] #1915 closed

[2019-11-22 22:41] benoitc commented on #2026
fixed in latest master

[2019-11-22 22:41] #2026 closed

[2019-11-22 22:42] benoitc commented on #1932
closing the issue as answered since no activity happened since the last answer.

[2019-11-22 22:42] #1932 closed

[2019-11-22 22:44] benoitc commented on #1900
@tilgovi i would remove its support

[2019-11-22 22:47] benoitc commented on #1891
either generation of the feature was taking too long or a timeout is used with request which  is not threadsafe. Closing the issue since ni activity happened since 1 year.

[2019-11-22 22:47] #1891 closed

[2019-11-22 22:55] benoitc commented on #1025
closing the issue as won't do.

[2019-11-22 22:55] #1025 closed

[2019-11-22 23:23] benoitc commented on #1871
no activity since awhile, closing the issue.

[2019-11-22 23:23] #1871 closed

[2019-11-22 23:27] benoitc commented on #2110
bump.

[2019-11-22 23:28] #2113 closed

[2019-11-22 23:31] benoitc commented on #2087
closing the issue since no activity happened since awhile.

As aside note, I would rather run multiple gunicorn, or multiple apps / hostname / path  via a wsgi app.

[2019-11-22 23:31] #2087 closed

[2019-11-22 23:40] benoitc commented on #1792
closing issue since no feedback have been given since awhile.

[2019-11-22 23:40] #1792 closed

[2019-11-22 23:51] benoitc commented on #2010
i'm not sure how it can happen even with the gevent worker there. When the socket hangs it will also [stop the iteration.](https://github.com/benoitc/gunicorn/blob/master/gunicorn/workers/base_async.py#L125).  Same for other workers. Closing the issue then. feel free to reopen it if needed.

[2019-11-22 23:51] #2010 closed

[2019-11-22 23:57] benoitc commented on #588
closing the issu since no activity happened there since  a long time. Maybe having a delayed timeout would be good for long starting applications but that should be done in another ticket if needed.

[2019-11-22 23:57] #588 closed

[2019-11-23 00:09] benoitc commented on #1982
closing the issue since no feedback given. thanks.

[2019-11-23 00:09] #1982 closed

[2019-11-23 00:10] benoitc opened #2196 "application start time"
Some applications may takes time to be loaded or initialised which may be an issue sometimes because the worker may be killed in between. One way to fix that would be notifying the arbiter when the application is loaded (which can be done via the shared pipe).

To prevent the cases whre the application is too long to start, an application start time would be given. If the arbiter is not notified d

[2019-11-23 00:12] benoitc commented on #1829
closing issue since no activity happened there and not reproduced on our own. Feel free to reopen it if needed.

[2019-11-23 00:12] #1829 closed

[2019-11-23 00:13] benoitc commented on #2008
seems like the issue have been answered. Thanks for the comments!

[2019-11-23 00:13] #2008 closed

[2019-11-23 00:15] aartur commented on #993
My feeling is that a web server shouldn't use templates as they are meant for higher-level code (WSGI apps). What would work for me is making this function a part of the `config` (maybe with a different API): https://github.com/benoitc/gunicorn/blob/4d3ec28046f4d5d0b9fb8b24c1235c6e369b8837/gunicorn/util.py#L301

Generally it looks like what this comment https://github.com/benoitc/gunicorn/issues/9

[2019-11-23 00:20] benoitc commented on #2191
@vasa-chi in the case "1 worker 4 threads" the worker is asynchronous so it may be able to accept more requests at a time, where in the case "4 workers, 1 threads", accepting is in blocking mode, so once a worker accepted a connection it will block until the request is processed.

So yes it's expected.

[2019-11-23 00:23] gabriel2029 opened #2197 "Error with usage of send_file in flask"
Hello,
in gunicorn version 20.0.0, I use the flask method `send_file` as following:
[code]

When I open the page on the browser, the server outputs an error with the following message:
[code]

After I have downgraded to gunicorn 19.9.0, the error disappears. I think this is a bug with gunicorn, or did i miss something?

[2019-11-23 00:34] benoitc commented on #1236
cc @tilgovi ^^

In fact there is two schools there imo

1. we consider the connection is already living so we could accept one or more quest inside during the graceful time (what you're describing). Ie **we keep open the connections as long as we receive a request on them** and we are in the graceful time.
2. if HUP or USR2 is sent to gunicorn, it means **we want to change as fast as possible the

[2019-11-23 00:36] benoitc commented on #2197
this should be fixed in 902d9c89abb2cf9bed688590b2276a19fcf4d35a . Can you test latest master? 20.0.1 is coming.

[2019-11-23 06:21] luckrill commented on #2107
![WX20191123-141602](https://user-images.githubusercontent.com/5372899/69474463-6c699580-0dfc-11ea-8312-78f366465b1a.png)
this is log image, don't know why.

[2019-11-23 09:28] vytas7 commented on #2175
Confirmed fixed with the latest master, thanks!
(Although it wouldn't have been a big deal to adapt in our case in case was an architectural decision)

[2019-11-23 10:21] benoitc commented on #2197
20.0.1 is out fixing the issue.

[2019-11-23 10:21] #2197 closed

[2019-11-23 20:56] tari opened #2198 "Configuration file requires .py extension since 20.0.1"
With gunicorn 20.0.1 and 20.0.2 running on PyPy3.6 (7.1.1), I get startup failures like this (some paths sanitized):

[code]

In a quick scan I couldn't find the commit that changes it, but I think this is caused by "fixed the way the config module is loaded. `__file__` is now available" in 20.0.1. Downgrading to 20.0.0 allows my server to start up normally.

[2019-11-23 22:10] tilgovi commented on #1236
I am very much in favor of Option 2. That was the behavior I've assumed and I've made some changes to this end in, linked from #922.

I don't know which workers implement all of these behaviors, but we should check:

1. Close the socket. This is necessary in case Gunicorn is being shut down and not reloaded. The OS should be notified as soon as possible to stop accepting requests so that new reque

[2019-11-23 22:12] tilgovi commented on #1236
This is #922. I think it is done for all workers and the arbiter.

This is this ticket. We should make sure all workers do this.

[2019-11-23 22:26] tilgovi commented on #2179
20.0.2 is released.

[2019-11-23 22:27] tilgovi commented on #2179
Also merged into 19.x as 253bfa1 and is in the 19.10 release.

[2019-11-23 22:27] #2179 closed

[2019-11-23 22:27] tilgovi commented on #2170
20.0.2 is released. Thanks all!

[2019-11-23 22:29] tilgovi commented on #2174
I don't think it is possible right now. In light of #2076 let's be careful if we do this that we don't accidentally end up with the possibility of dumping key material into logs during a crash or something.

[2019-11-23 22:32] tilgovi commented on #2132
19.10 is released.
#1925 is released in v20.0.2.

[2019-11-23 22:32] #2132 closed

[2019-11-23 22:35] benoitc commented on #2198
@tari which command line are you using? what return the check-config command line?

[2019-11-23 22:38] benoitc commented on #2198
@tari if possible please share your config file. You can send it of my mail if you want to keep it private.

[2019-11-23 23:03] tilgovi commented on #2156
Can Tornado support only specific IPs like Gunicorn for the xheaders flag? It looks like it's only a boolean value.

I don't think this kind of behavior is too much magic, unless it doesn't behave exactly correctly and then it's maybe risky and surprising.

Have you thought about it any more since posting?

[2019-11-23 23:05] tilgovi commented on #2165
What version of Gunicorn? Support for `sd_notify` was added in #1897, which is only on the v20 releases.

[2019-11-23 23:05] #2119 closed

[2019-11-23 23:07] tilgovi commented on #2103
@reach4bawer any update on this?

[2019-11-23 23:08] tilgovi commented on #2056
I leave this to @jamadden to decide if it's reasonable to support a max requests option for the PyWSGIHandler.

[2019-11-23 23:15] smiles3983 commented on #2174
Or, be able to handle key stores.  That would make my life easier. We have a new key store server that gives me 4 different options, but I have to extract the private key and cert, store them to files and then reference them to gunicorn. So if it accepted a key store and password then that would be easier.

[2019-11-23 23:15] tilgovi commented on #2056
It's probably possible to implement it by wrapping the request handling in `PyWSGIHandler`, like overriding `process_one_response()` to keep track of the request count. However, we don't seem to pass the gunicorn config into the PyWSGIServer in any way, so I don't think the request count can be known right now.

[2019-11-23 23:18] tilgovi commented on #1195
👍

[2019-11-23 23:20] tari commented on #2198
Command line looks like this (again slightly modified to anonymize):
[code]

(The WSGI app is Django.)

This is my config:
[code]

[2019-11-23 23:21] tilgovi commented on #1913
Can anyone share a repository with deployment instructions that I can use to reproduce the issue? I'm happy to look into it, but I want to make sure I know exactly how to set it up.

[2019-11-23 23:22] tilgovi commented on #1923
I have not yet had a chance to look.

[2019-11-23 23:27] tilgovi commented on #1506
I still think it's an interesting idea. I would love to have the loading handled in a pluggable way. Maybe the first step would be to try to move the import code that was recently updated to use `literal_eval` into a Plaster loader.

[2019-11-23 23:33] tilgovi commented on #1900
Looking at the Fedora packaging, I don't think `bdist_rpm` is even used. I'll remove it.

https://src.fedoraproject.org/rpms/python-gunicorn/blob/master/f/python-gunicorn.spec

[2019-11-23 23:37] tilgovi commented on #1900
https://github.com/benoitc/gunicorn/pull/2199

[2019-11-23 23:39] tilgovi commented on #2196
I think we should do it. We still need to decide if the existing `--timeout` should act as a request timeout for non-sync workers. I think we first say only that it is _not_ an application boot timeout and make that a new option.

[2019-11-23 23:41] tilgovi commented on #2196
We could even start with no timeout for application start. We could keep the current heartbeat behavior for `--timeout` but only start checking it once the worker "boots". That's a breaking change, but for most use I would think health checks and such will make sure that we do not need to have a timeout for booting the application.

[2019-11-23 23:49] tilgovi commented on #993
👍

I am curious if Gunicorn overrides the Django error pages for all errors (I suspect not) or only for certain kinds of protocol errors handled by Gunicorn.

I think using Gunicorn as an API server that only ever serves JSON is probably common, but I don't think I want to commit specific code for that use case.

Providing a way to customize the error response somehow in a config sounds right. If

[2019-11-23 23:56] tilgovi commented on #2107
The characters are URL-encoded because they are part of the request line, logged with the `%r` atom of the access log format.

What does the flask dev server you are using display?

I'm not sure we should do anything here, but I can definitely see why this is less friendly than showing the URL-encoded characters.

[2019-11-23 23:57] tilgovi commented on #2107
Example from a small snippet of the log (request path truncated for brevity):

[code]

[2019-11-24 00:00] tilgovi commented on #1523
I will check.

[2019-11-24 00:00] tilgovi commented on #1542
I would _love_ to rework all the readers using the `io` module. Now that we are strictly Python 3.5+ I think this is even easier. I will leave this assigned to me and report if I make any progress. I still have a branch locally.

[2019-11-24 00:08] tilgovi commented on #2198
Should be fixed if you rename `gunicorn.cfg` to `gunicorn.cfg.py`. The recent change made it so that Python determines what loader to use based on the file, and it does not know how to interpret that.

[2019-11-24 00:11] tilgovi commented on #2198
Apologies for the breaking change. I don't think it was intentional. It does mean that loading a config from bytecode or extension modules would work, though! Or any other thing that Python introduces in the future.

[2019-11-24 00:15] tilgovi commented on #2174
Is it possible to handle fetching the key and cert from the keystore and then setting it inside a `gunicorn.conf.py`? You'd still have to store it locally, but securing file permissions is maybe easier than securing the command line from being seen in `ps` output :-D.

[2019-11-24 00:37] aartur commented on #993
Maybe the simplest would be the ability to specify in the config a path of the WSGI app that would handle internal errors? So a config variable like:
[code]

And then `gunicorn` on encountering an internal error would call the WSGI app:
[code]

This exception name was taken from https://github.com/benoitc/gunicorn/blob/f9ade3af34d2ced37cf95f749c414a995e0118aa/gunicorn/workers/base.py#L203

This ca

[2019-11-24 04:38] tilgovi commented on #993
That's a very interesting idea!

[2019-11-24 13:21] gnarvaja commented on #2198
Confirming the same problem here, and the fix. Just renamed my configuration file from .conf to .conf.py and it worked.

I think "python" should be the default loader to keep backward compatibility. Here is a quick and dirty fix:

[code]

[2019-11-24 16:06] a70babat opened #2200 "what happens when backlog is full?"
backlog settings will set "The maximum number of pending connections."
what happens when a worker receive connection after backlog is full? which status code is returned?

Also is there anyway to see how many connections are pending?

[2019-11-24 16:39] jamadden commented on #2200
The socket backlog is handled entirely by the TCP stack in the operating system. Thus, gunicorn has no ability to set a status code (it can't return an HTTP response at all, as HTTP is built on top of TCP) --- gunicorn never even knows about pending connections. The TCP stack will simply refuse the connection, I think, but the exact details are probably operating system dependent (on both client a

[2019-11-24 16:40] a70babat commented on #2200
thank you.

[2019-11-24 16:42] #2200 closed

[2019-11-24 16:43] benoitc commented on #2198
@tilgovi good catch!

@gnarvaja I think your solution is good enough. Can you make a PR for it?

[2019-11-24 16:48] benoitc commented on #1900
Thanks! fixed via 20774b8331dfb76845bf4a3e4c3c3d4a9d6a8efb

[2019-11-24 16:48] #1900 closed

[2019-11-24 16:51] benoitc commented on #1542
@tilgovi i think most of the work is already done in https://github.com/benoitc/http-parser/blob/master/http_parser/reader.py also. Maybe that could help :)

[2019-11-24 16:57] benoitc commented on #2056
That could be a `partial` method.

I wonder however if we want to support all the feature in that handler instead of improving our own. We don't really need to deprecate but we can advertise it with its limits. Also maybe if some optons are not exposed, expose them in a way or another.

Thoughts?

[2019-11-24 17:04] benoitc commented on #1564
i would lik to create a project (in github sense) for it and collect the ticket there.

About the implementation, I would like to simply implement some hooks that can be used by any implementation to add their own logic. And then support by default opentelemetry. Thoughts?

[2019-11-25 03:45] gojuukaze opened #2201 "20.0.2 raise OSError"
I use `kill -USR2 ` to reload process, but it raise error.

[code]

[2019-11-25 07:04] benoitc commented on #2201
Thanks for the report. Was it during an upgrade from an old version of
gunicorn? what what your environment previously? (python and gunicorn
version). Also what was your command line?

On Mon 25 Nov 2019 at 04:45 gojuukaze <notifications@github.com> wrote:

--
Sent from my Mobile

[2019-11-25 07:36] gojuukaze commented on #2201
I didn't upgrade gunicorn from old version.

environment:
* macos(10.14.5)
* python(3.7.4)
* gunicorn(20.0.2)
* django(2.2.6)

run server cmd:
[code]

[2019-11-25 09:02] loretoparisi commented on #2115
@benoitc Thanks I will make a new test this week.

[2019-11-25 10:53] benoitc commented on #2201
i reproduced it on my mac as well, proper fix is coming.

[2019-11-25 11:00] benoitc commented on #2201
@gojuukaze please check #2202

[2019-11-25 12:53] cpaulik opened #2203 "forkserver not available with gunicorn 20.0.2 , eventlet, dask distributed."
Same thing works with gunicorn 19.9.0.

Not 100% sure if this is a gunicorn issue but I'm raising here first since the gunicorn update broke it.

I'm not trying to do any multiprocessing in combination with gunicorn but my code imports the `dask.distributed.Client` because it is not only a app hosted by gunicorn.

[code]

[2019-11-25 13:08] jamadden commented on #2203
Earlier versions of gunicorn were broken when it came to monkey-patching eventlet, and [didn't actually do the patch correctly](https://github.com/benoitc/gunicorn/issues/1847).

It appears that [eventlet's socket](https://github.com/eventlet/eventlet/blob/ac7917c7241bc29696cf65dd7b9757df9c9bc955/eventlet/greenio/base.py#L120) does not implement `sendmsg`, which is a prerequisite for using the for